/* line 1, src/sass/dashboard.scss */
.dashboard {
  padding-top: 62px;
}

/* line 4, src/sass/dashboard.scss */
.dashboard .offcanvas {
  top: 62px;
  padding-top: 0;
  height: calc(100vh - 62px);
  z-index: 1030;
}

/* line 10, src/sass/dashboard.scss */
.dashboard .offcanvas nav {
  height: calc(100vh - 62px);
}
