/* line 5, src/sass/_accordion.scss */
.accordion-button {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  color: #212529;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-anchor: none;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
  width: 100%;
  margin-bottom: 0;
}

@media (prefers-reduced-motion: reduce) {
  /* line 24, src/sass/_accordion.scss */
  .accordion-button {
    -webkit-transition: none;
    transition: none;
  }
}

/* line 30, src/sass/_accordion.scss */
.accordion-button:not(.collapsed) {
  background-color: #f7f7f7;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
  color: #121212;
}

/* line 36, src/sass/_accordion.scss */
.accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23121212'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* line 43, src/sass/_accordion.scss */
.accordion-button:after {
  -ms-flex-negative: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%237b7b7b'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  content: "";
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  height: 1.25rem;
  margin-left: auto;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
  width: 1.25rem;
}

@media (prefers-reduced-motion: reduce) {
  /* line 61, src/sass/_accordion.scss */
  .accordion-button:after {
    -webkit-transition: none;
    transition: none;
  }
}

/* line 67, src/sass/_accordion.scss */
.accordion-button:hover {
  z-index: 2;
}

/* line 71, src/sass/_accordion.scss */
.accordion-button:focus {
  border-color: #121212;
  box-shadow: none;
  outline: 0;
  z-index: 3;
}

/* line 78, src/sass/_accordion.scss */
.accordion-header {
  margin-bottom: 0;
}

/* line 82, src/sass/_accordion.scss */
.accordion-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

/* line 87, src/sass/_accordion.scss */
.accordion-item:first-of-type {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

/* line 92, src/sass/_accordion.scss */
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

/* line 97, src/sass/_accordion.scss */
.accordion-item:not(:first-of-type) {
  border-top: 0;
}

/* line 101, src/sass/_accordion.scss */
.accordion-item:last-of-type {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

/* line 106, src/sass/_accordion.scss */
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-bottom-right-radius: calc(.25rem - 1px);
}

/* line 111, src/sass/_accordion.scss */
.accordion-item:last-of-type .accordion-collapse {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

/* line 116, src/sass/_accordion.scss */
.accordion-body {
  padding: 1rem 1.25rem;
}

/* line 120, src/sass/_accordion.scss */
.accordion-flush .accordion-collapse {
  border-width: 0;
}

/* line 124, src/sass/_accordion.scss */
.accordion-flush .accordion-item {
  border-left: 0;
  border-radius: 0;
  border-right: 0;
}

/* line 130, src/sass/_accordion.scss */
.accordion-flush .accordion-item:first-child {
  border-top: 0;
}

/* line 134, src/sass/_accordion.scss */
.accordion-flush .accordion-item:last-child {
  border-bottom: 0;
}

/* line 138, src/sass/_accordion.scss */
.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
}

/* line 3, src/sass/deals-karo.scss */
html {
  height: 100%;
}

/* line 7, src/sass/deals-karo.scss */
body {
  height: 100%;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
}

/* line 13, src/sass/deals-karo.scss */
.lead {
  font-weight: 500;
}

/* line 17, src/sass/deals-karo.scss */
.navbar-light.scroll-bg {
  border: none;
  background-color: transparent;
}

/* line 22, src/sass/deals-karo.scss */
.navbar-light.scroll-bg.scrolled {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: #fff;
}

/* line 27, src/sass/deals-karo.scss */
.navbar-light.scroll-bg .btn-cta {
  visibility: hidden;
  opacity: 0;
}

/* line 32, src/sass/deals-karo.scss */
.navbar-light.scroll-bg.scrolled .btn-cta {
  visibility: visible;
  opacity: 1;
}

/* line 37, src/sass/deals-karo.scss */
.navbar-light .navbar-brand {
  padding: 0;
}

/* line 41, src/sass/deals-karo.scss */
.navbar-light .navbar-brand svg {
  height: 31px;
  max-width: 28px;
  width: 100%;
}

/* line 47, src/sass/deals-karo.scss */
.navbar-light .navbar-brand svg .symbol, .navbar-light .navbar-brand svg .text {
  display: block;
}

/* line 51, src/sass/deals-karo.scss */
.navbar .btn-cta {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 59, src/sass/deals-karo.scss */
.hero {
  min-height: 100vh;
}

/* line 63, src/sass/deals-karo.scss */
.hero .cta {
  padding: 0.75rem 0;
  border-radius: 10px;
}

/* line 68, src/sass/deals-karo.scss */
.hero .svg-title {
  max-width: 250px;
  width: 100%;
  height: auto;
}

/* line 75, src/sass/deals-karo.scss */
#about-ghar .figures .card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* line 79, src/sass/deals-karo.scss */
#about-ghar .figures h4, #about-ghar p {
  margin: 0;
}

/* line 80, src/sass/deals-karo.scss */
#about-ghar .figures h4 {
  position: relative;
}

/* line 81, src/sass/deals-karo.scss */
#about-ghar .figures h4::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 3px;
  background: #ee324b;
}

/* line 93, src/sass/deals-karo.scss */
#ghar {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  width: 100%;
}

/* line 100, src/sass/deals-karo.scss */
#ghar .tagline {
  fill: #4f4f50;
}

/* line 104, src/sass/deals-karo.scss */
#ghar .symbol, #ghar .text {
  fill: #ee324b;
}

/* line 108, src/sass/deals-karo.scss */
#about-ghar .features {
  border-top: 1px dashed #4f4f50;
  margin-top: 70px;
}

/* line 113, src/sass/deals-karo.scss */
#about-ghar .features:before {
  border-left: 1px dashed #4f4f50;
  content: "";
  display: block;
  height: 50px;
  left: 50%;
  position: absolute;
  top: -60px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 126, src/sass/deals-karo.scss */
#about-ghar .features h4 {
  color: #4f4f50;
}

/* line 130, src/sass/deals-karo.scss */
#about-ghar .features .icon {
  background-image: url("../img/sprite-icons-deals.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 60px;
  margin: 65px auto 0;
  position: relative;
  width: 60px;
}

@supports (background-image: url("../img/sprite-icons-deals.webp")) {
  /* line 130, src/sass/deals-karo.scss */
  #about-ghar .features .icon {
    background-image: url("../img/sprite-icons-deals.webp");
  }
}

/* line 145, src/sass/deals-karo.scss */
#about-ghar .features .icon:before {
  border-left: 1px dashed #4f4f50;
  content: "";
  display: block;
  height: 50px;
  left: 50%;
  position: absolute;
  top: -60px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 158, src/sass/deals-karo.scss */
#about-ghar .features .icon.cost {
  background-position: 0 0;
}

/* line 162, src/sass/deals-karo.scss */
#about-ghar .features .icon.custom {
  background-position: 0 -60px;
}

/* line 166, src/sass/deals-karo.scss */
#about-ghar .features .icon.ai {
  background-position: 0 -120px;
}

/* line 170, src/sass/deals-karo.scss */
#about-ghar .features .icon.tech {
  background-position: 0 -180px;
}

/* line 175, src/sass/deals-karo.scss */
.package .title {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

/* line 182, src/sass/deals-karo.scss */
#package button {
  font-size: 1.35rem;
}

/* line 185, src/sass/deals-karo.scss */
svg.increase {
  max-width: 220px;
  width: 100%;
}

/* line 190, src/sass/deals-karo.scss */
.offerings {
  border-top: 2px dashed #A3A4A5;
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 195, src/sass/deals-karo.scss */
.package {
  border: 2px dashed #A3A4A5;
}

/* line 197, src/sass/deals-karo.scss */
.offerings > div {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}

/* line 203, src/sass/deals-karo.scss */
#testimonials .carousel-indicators li {
  background-color: #4f4f50;
  margin-left: 6px;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

/* line 212, src/sass/deals-karo.scss */
#testimonials .carousel img.profile {
  width: 100%;
  max-width: 150px;
  height: auto;
}

/* line 218, src/sass/deals-karo.scss */
#testimonials .carousel .card .h2 {
  position: relative;
}

/* line 222, src/sass/deals-karo.scss */
#testimonials .carousel .card .h2::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -55px;
  width: 50px;
  height: 44px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 57.407 50.231'%3E%3Cpath fill='%23dfe0e1' d='M52.025 25.116h-8.97V17.94a7.183 7.183 0 0 1 7.176-7.176h.9a2.685 2.685 0 0 0 2.691-2.691V2.691A2.685 2.685 0 0 0 51.128 0h-.9a17.935 17.935 0 0 0-17.94 17.94v26.91a5.383 5.383 0 0 0 5.382 5.382h14.355a5.383 5.383 0 0 0 5.382-5.382V30.498a5.383 5.383 0 0 0-5.382-5.382Zm-32.292 0h-8.97V17.94a7.183 7.183 0 0 1 7.176-7.176h.9a2.685 2.685 0 0 0 2.691-2.691V2.691A2.685 2.685 0 0 0 18.837 0h-.9A17.935 17.935 0 0 0 0 17.94v26.91a5.383 5.383 0 0 0 5.382 5.382h14.352a5.383 5.383 0 0 0 5.382-5.382V30.498a5.383 5.383 0 0 0-5.382-5.382Z'/%3E%3C/svg%3E");
}

/* line 233, src/sass/deals-karo.scss */
#campmodal .modal-body .close {
  font-size: 3rem;
  font-weight: 400;
  position: relative;
  right: 1rem;
}

@media (max-width: 991px) {
  /* line 241, src/sass/deals-karo.scss */
  .creative {
    background-color: #FCD5DA;
  }
}

@media (min-width: 576px) {
  /* line 247, src/sass/deals-karo.scss */
  .hero .svg-title {
    max-width: 350px;
  }
  /* line 250, src/sass/deals-karo.scss */
  .hero .cta {
    font-size: 1.4rem;
    letter-spacing: 0.035rem;
    padding: 0.85rem 1.5rem;
  }
  /* line 255, src/sass/deals-karo.scss */
  #ghar {
    max-width: 250px;
  }
  /* line 258, src/sass/deals-karo.scss */
  #testimonials .carousel img.profile {
    max-width: 200px;
  }
  /* line 261, src/sass/deals-karo.scss */
  svg.increase {
    max-width: 400px;
  }
}

@media (min-width: 992px) {
  /* line 267, src/sass/deals-karo.scss */
  .hero .svg-title {
    max-width: 540px;
  }
  /* line 270, src/sass/deals-karo.scss */
  #ghar {
    max-width: 400px;
  }
  /* line 273, src/sass/deals-karo.scss */
  #about-ghar .features {
    margin-top: 20px;
  }
  /* line 276, src/sass/deals-karo.scss */
  #about-ghar .features .icon {
    height: 80px;
    width: 80px;
  }
  /* line 281, src/sass/deals-karo.scss */
  #about-ghar .features .icon.cost {
    background-position: 0 0;
  }
  /* line 285, src/sass/deals-karo.scss */
  #about-ghar .features .icon.custom {
    background-position: 0 -80px;
  }
  /* line 289, src/sass/deals-karo.scss */
  #about-ghar .features .icon.ai {
    background-position: 0 -160px;
  }
  /* line 293, src/sass/deals-karo.scss */
  #about-ghar .features .icon.tech {
    background-position: 0 -240px;
  }
}

@media (min-width: 1024px) {
  /* line 299, src/sass/deals-karo.scss */
  .navbar-light .navbar-brand svg {
    max-width: 140px;
  }
  /* line 303, src/sass/deals-karo.scss */
  .navbar-light .navbar-brand svg .text {
    display: block;
  }
  /* line 307, src/sass/deals-karo.scss */
  .navbar-light .container-fluid {
    gap: 0.8rem;
  }
}

@media (min-width: 1200px) {
  /* line 314, src/sass/deals-karo.scss */
  .min-vh-xl-100 {
    min-height: 100vh;
  }
}

@media (orientation: portrait) and (min-width: 1024px) {
  /* line 320, src/sass/deals-karo.scss */
  .hero {
    min-height: inherit;
  }
  /* line 323, src/sass/deals-karo.scss */
  main {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
