/* line 1, src/sass/cards/_card-features.scss */
.features {
  gap: 2rem 0;
}

/* line 2, src/sass/cards/_card-features.scss */
.features .card {
  height: 100%;
  border-radius: 15px;
}

/* line 3, src/sass/cards/_card-features.scss */
.features .card-body.flex-column {
  gap: 2rem;
}

/* line 4, src/sass/cards/_card-features.scss */
.features .card .btn {
  font-weight: 600;
  padding: 0.75rem 1.2rem;
}

/* line 5, src/sass/cards/_card-features.scss */
.features .additional {
  gap: 2rem;
}

/* line 6, src/sass/cards/_card-features.scss */
.features .additional .card-body {
  gap: 1rem;
}

/* line 7, src/sass/cards/_card-features.scss */
.features .text-opacity {
  color: rgba(0, 0, 0, 0.75);
}

/* line 9, src/sass/cards/_card-features.scss */
.features .red {
  background-color: #FFF5F6;
  border: 1px solid #F3C7CB;
}

/* line 10, src/sass/cards/_card-features.scss */
.features .green {
  background-color: #EDF5E6;
  border: 1px solid #B7DE96;
}

/* line 11, src/sass/cards/_card-features.scss */
.features .yellow {
  background-color: #F9F2E7;
  border: 1px solid #EBD0A7;
}

/* line 12, src/sass/cards/_card-features.scss */
.features .blue {
  background-color: #E8F7F7;
  border: 1px solid #91DFDF;
}

/* line 13, src/sass/cards/_card-features.scss */
.features .purple {
  background-color: #FAF0F8;
  border: 1px solid #EBB4E0;
}

/* line 15, src/sass/cards/_card-features.scss */
.features .red .btn-white {
  box-shadow: 0px 3px 10px rgba(230, 169, 175, 0.46);
}

/* line 16, src/sass/cards/_card-features.scss */
.features .green .btn-white {
  box-shadow: 0px 3px 10px rgba(168, 199, 141, 0.46);
}

/* line 17, src/sass/cards/_card-features.scss */
.features .yellow .btn-white {
  box-shadow: 0px 3px 10px rgba(230, 190, 126, 0.46);
}

/* line 18, src/sass/cards/_card-features.scss */
.features .blue .btn-white {
  box-shadow: 0px 3px 10px rgba(154, 203, 203, 0.46);
}

/* line 19, src/sass/cards/_card-features.scss */
.features .purple .btn-white {
  box-shadow: 0px 3px 10px rgba(216, 172, 207, 0.46);
}

/* line 21, src/sass/cards/_card-features.scss */
.features .btn-white:hover {
  background-color: #ee324b;
  color: #fff;
}

/* line 23, src/sass/cards/_card-features.scss */
.features img.creative {
  display: block;
  margin: 0 auto;
  width: 100%;
  object-fit: contain;
}

/* line 29, src/sass/cards/_card-features.scss */
.features img.creative.big {
  height: 128px;
}

/* line 32, src/sass/cards/_card-features.scss */
.features img.creative.small {
  width: 60px;
  height: 60px;
}

@media (min-width: 768px) {
  /* line 38, src/sass/cards/_card-features.scss */
  .features img.creative.big {
    height: 190px;
  }
  /* line 41, src/sass/cards/_card-features.scss */
  .features .additional {
    gap: 1.5rem;
  }
}

@media (min-width: 1200px) {
  /* line 45, src/sass/cards/_card-features.scss */
  .features img.creative.big {
    height: 220px;
  }
}

/* line 50, src/sass/cards/_card-features.scss */
.features .card ul li {
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  padding-left: 1.5rem;
}

/* line 51, src/sass/cards/_card-features.scss */
.features .card ul li:not(:last-child) {
  margin-bottom: .5rem;
}

/* line 52, src/sass/cards/_card-features.scss */
.features .card ul li::before {
  content: '\e92c';
  font-family: 'icons';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* line 54, src/sass/cards/_card-features.scss */
.features .red li::before {
  color: #EB7883;
}

/* line 55, src/sass/cards/_card-features.scss */
.features .green li::before {
  color: #73B43B;
}

/* line 56, src/sass/cards/_card-features.scss */
.features .yellow li::before {
  color: #D8AF70;
}

/* line 57, src/sass/cards/_card-features.scss */
.features .blue li::before {
  color: #66C7C7;
}

/* line 58, src/sass/cards/_card-features.scss */
.features .purple li::before {
  color: #D290C5;
}

/* line 3, src/sass/developers.scss */
html, body {
  height: 100%;
}

/* line 5, src/sass/developers.scss */
body {
  padding-top: 62px;
}

/* line 7, src/sass/developers.scss */
ul.dev-pointers {
  line-height: 2;
  font-size: 1rem;
}

/* line 9, src/sass/developers.scss */
a[data-fancybox] img {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
