/* Fix for Slick Slider with Bootstrap's Flex Utilities*/
/* line 2, src/sass/custom-components/_slick-custom.scss */
.slick-slider * {
  min-height: 0 !important;
  min-width: 0 !important;
}

@media (min-width: 768px) {
  /* line 8, src/sass/custom-components/_slick-custom.scss */
  .slide {
    height: 100%;
  }
}

/* line 14, src/sass/custom-components/_slick-custom.scss */
.slick-custom-arrows .slick-arrow {
  display: block;
  position: absolute;
  top: -30px;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  color: #7f868b;
  background: none;
  border: none;
  padding: 15px 10px;
  border-radius: 3px;
  z-index: 2;
}

/* line 30, src/sass/custom-components/_slick-custom.scss */
.gradient .slick-arrow, .gradient-reverse .slick-arrow {
  color: #fff;
}

@media (max-width: 767px) {
  /* line 33, src/sass/custom-components/_slick-custom.scss */
  .slick-custom-arrows .slick-arrow {
    top: -15px;
  }
  /* line 36, src/sass/custom-components/_slick-custom.scss */
  .slick-custom-arrows .slick-arrow.slick-prev {
    left: 10px;
    padding-left: 20px;
    right: auto;
  }
  /* line 42, src/sass/custom-components/_slick-custom.scss */
  .slick-custom-arrows .slick-arrow.slick-next {
    padding-right: 20px;
    left: 95px;
    right: auto;
  }
}

/* line 50, src/sass/custom-components/_slick-custom.scss */
.slick-custom-arrows .slick-arrow.slick-prev {
  right: 70px;
  padding-left: 20px;
}

/* line 55, src/sass/custom-components/_slick-custom.scss */
.slick-custom-arrows .slick-arrow.slick-next {
  padding-right: 20px;
  right: 10px;
}

/* line 60, src/sass/custom-components/_slick-custom.scss */
.slick-custom-arrows .slick-prev:before {
  content: '\e90c';
  left: 0px;
}

/* line 64, src/sass/custom-components/_slick-custom.scss */
.slick-custom-arrows .slick-next:before {
  content: '\e911';
  right: 0;
}

/* line 69, src/sass/custom-components/_slick-custom.scss */
.slick-custom-arrows .slick-prev:before, .slick-next:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-53%);
      -ms-transform: translateY(-53%);
          transform: translateY(-53%);
  font-family: "icomoon";
  font-size: 0.65rem;
  opacity: .75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 80, src/sass/custom-components/_slick-custom.scss */
.slick-custom-arrows .slick-arrow.slick-prev:hover, .slick-custom-arrows .slick-arrow.slick-next:hover {
  color: #6a2c79;
}

/*--- Custom Form ---*/
/* form .toggle {
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
} */
/* line 11, src/sass/custom-components/_form-custom.scss */
form .addon.toggle {
  font-size: 1.2rem;
}

/* line 15, src/sass/custom-components/_form-custom.scss */
.fieldset-group legend {
  font-size: .95rem;
}

/* line 19, src/sass/custom-components/_form-custom.scss */
.form-group .btn-outline-primary, .form-label-group .btn-outline-primary {
  border-color: #ced4da;
}

/* line 22, src/sass/custom-components/_form-custom.scss */
.form-group .btn-outline-primary:hover, .form-label-group .btn-outline-primary:hover {
  border-color: #162233;
  background-color: #fff;
  color: #162233;
}

@media (max-width: 767px) {
  /* line 29, src/sass/custom-components/_form-custom.scss */
  .btn-group-toggle.scroll-trick {
    position: relative;
    padding: 5px 15px 10px 15px;
    margin-left: -15px;
  }
}

/* line 36, src/sass/custom-components/_form-custom.scss */
.form-group .radio.minimal .btn-outline-primary {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* line 42, src/sass/custom-components/_form-custom.scss */
.form-group, .form-label-group, .form-flex-group {
  position: relative;
  margin-bottom: 1.5rem;
}

/* line 48, src/sass/custom-components/_form-custom.scss */
.form-label-group select.form-control {
  padding: 0.375rem 0.5rem;
}

/* line 52, src/sass/custom-components/_form-custom.scss */
.form-label-group :not(textarea).form-control, .form-label-group .addon {
  height: 3.5rem;
}

/* line 57, src/sass/custom-components/_form-custom.scss */
.form-label-group.form-label-group-lg :not(textarea).form-control, .form-label-group.form-label-group-lg :not(textarea).addon {
  height: 4rem;
}

/* line 60, src/sass/custom-components/_form-custom.scss */
.form-label-group.form-label-group-lg .control-label {
  font-size: 1rem;
  -webkit-transform: translate3d(1.1rem, 1.25rem, 0) scale(1);
          transform: translate3d(1.1rem, 1.25rem, 0) scale(1);
  -webkit-transform-origin: 5rem 1.1rem;
      -ms-transform-origin: 5rem 1.1rem;
          transform-origin: 5rem 1.1rem;
}

/* line 65, src/sass/custom-components/_form-custom.scss */
.form-label-group-lg .form-control, .form-label-group-lg .addon {
  font-size: 1rem;
  padding: 0.375rem 1rem;
}

/* line 70, src/sass/custom-components/_form-custom.scss */
.form-label-group textarea {
  padding-top: 1.4rem;
}

/* line 74, src/sass/custom-components/_form-custom.scss */
.form-label-group .control-label {
  color: initial;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translate3d(0.82rem, 1.1rem, 0) scale(1);
          transform: translate3d(0.82rem, 1.1rem, 0) scale(1);
  -webkit-transform-origin: 3.5rem 1rem;
      -ms-transform-origin: 3.5rem 1rem;
          transform-origin: 3.5rem 1rem;
  -webkit-transition: 240ms;
  transition: 240ms;
  margin-bottom: 0;
  display: block;
  width: calc(100% - 1rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 90, src/sass/custom-components/_form-custom.scss */
.form-label-group.focused .control-label {
  opacity: 1;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  color: #777;
}

/* line 96, src/sass/custom-components/_form-custom.scss */
.form-label-group.focused :not(textarea):not(.dropdown).form-control {
  padding-top: 1rem;
}

/*---- FORM GROUP IN FLEX ----*/
/* line 103, src/sass/custom-components/_form-custom.scss */
.form-flex-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 107, src/sass/custom-components/_form-custom.scss */
.form-flex-group .form-label-group {
  margin-bottom: 0;
}

/* line 110, src/sass/custom-components/_form-custom.scss */
.form-flex-group.fill .form-label-group {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* line 114, src/sass/custom-components/_form-custom.scss */
.form-flex-group .form-label-group:not(:first-of-type):not(:last-of-type) .form-control {
  border-radius: 0;
}

/* line 118, src/sass/custom-components/_form-custom.scss */
.form-label-group:focus-within {
  z-index: 1;
}

/* line 122, src/sass/custom-components/_form-custom.scss */
.form-flex-group .form-label-group:not(:first-of-type):not(:last-of-type) {
  border-radius: 0;
}

/* line 126, src/sass/custom-components/_form-custom.scss */
.form-flex-group .form-label-group:first-of-type {
  margin-right: -1px;
}

/* line 129, src/sass/custom-components/_form-custom.scss */
.form-flex-group .form-label-group:last-of-type {
  margin-left: -1px;
}

@media (max-width: 575px) {
  /* line 135, src/sass/custom-components/_form-custom.scss */
  .form-flex-group.col-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* line 139, src/sass/custom-components/_form-custom.scss */
  .form-flex-group.col-mobile .form-label-group:first-of-type {
    margin-right: 0;
  }
  /* line 142, src/sass/custom-components/_form-custom.scss */
  .form-flex-group.col-mobile .form-label-group:last-of-type {
    margin-left: 0;
  }
  /* line 146, src/sass/custom-components/_form-custom.scss */
  .form-flex-group.col-mobile .form-label-group:first-of-type {
    margin-bottom: -1px;
  }
  /* line 149, src/sass/custom-components/_form-custom.scss */
  .form-flex-group.col-mobile .form-label-group:last-of-type {
    margin-top: -1px;
  }
  /* line 153, src/sass/custom-components/_form-custom.scss */
  .form-flex-group.col-mobile .form-label-group:first-of-type .form-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  /* line 157, src/sass/custom-components/_form-custom.scss */
  .form-flex-group.col-mobile .form-label-group:last-of-type .form-control {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  /* line 162, src/sass/custom-components/_form-custom.scss */
  .form-flex-group:not(.col-mobile) .form-label-group:first-of-type .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  /* line 166, src/sass/custom-components/_form-custom.scss */
  .form-flex-group:not(.col-mobile) .form-label-group:last-of-type .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* line 174, src/sass/custom-components/_form-custom.scss */
.form-flex-group .form-label-group:first-of-type .addon {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 178, src/sass/custom-components/_form-custom.scss */
.form-flex-group .form-label-group:last-of-type .addon {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 183, src/sass/custom-components/_form-custom.scss */
.form-flex-group .form-label-group:not(:first-of-type):not(:last-of-type) .addon {
  border-right: 0;
  border-radius: 0;
}

@media (min-width: 576px) {
  /* line 190, src/sass/custom-components/_form-custom.scss */
  .form-flex-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  /* line 194, src/sass/custom-components/_form-custom.scss */
  .form-flex-group .form-label-group:first-of-type .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  /* line 198, src/sass/custom-components/_form-custom.scss */
  .form-flex-group .form-label-group:last-of-type .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/*--- Custom Radio, Checkbox and Toggle ---*/
/* line 207, src/sass/custom-components/_form-custom.scss */
.custom-control.with-info:not(.custom-switch) .custom-control-label:before,
.custom-control.with-info:not(.custom-switch) .custom-control-label:after,
.custom-control.with-info.big:not(.custom-switch) .custom-control-label:after,
.custom-control.with-info.big:not(.custom-switch) .custom-control-label:before {
  top: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

/* line 215, src/sass/custom-components/_form-custom.scss */
.custom-radio .custom-control-label {
  cursor: pointer;
}

/* line 219, src/sass/custom-components/_form-custom.scss */
.custom-control.big {
  min-height: 2.15rem;
  padding-left: 2rem;
  position: relative;
}

/* line 225, src/sass/custom-components/_form-custom.scss */
.custom-control.big .custom-control-label {
  margin-bottom: 0;
  position: relative;
  vertical-align: top;
  font-size: .95rem;
}

/* line 232, src/sass/custom-components/_form-custom.scss */
.custom-control.big:not(.custom-switch) .custom-control-label:before, .custom-control.big:not(.custom-switch) .custom-control-label:after {
  height: 1.5rem;
  width: 1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -2rem;
}

/* line 240, src/sass/custom-components/_form-custom.scss */
.custom-switch.big {
  padding-left: 3.25rem;
}

/* line 244, src/sass/custom-components/_form-custom.scss */
.custom-switch.big .custom-control-label {
  font-size: .95rem;
}

/* line 248, src/sass/custom-components/_form-custom.scss */
.custom-switch.big .custom-control-label:before {
  border-radius: 50px;
  left: -3.25rem;
  width: 2.75rem;
  height: 1.5rem;
}

/* line 255, src/sass/custom-components/_form-custom.scss */
.custom-switch.big .custom-control-label:after {
  border-radius: 50px;
  height: calc(1.5rem - 4px);
  left: calc(-3.25rem + 2px);
  width: calc(1.5rem - 4px);
}

/* line 262, src/sass/custom-components/_form-custom.scss */
.custom-switch.big:not(.with-info) .custom-control-label:before,
.custom-switch.big:not(.with-info) .custom-control-label:after {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* line 268, src/sass/custom-components/_form-custom.scss */
.custom-switch.big .custom-control-input:checked ~ .custom-control-label:after {
  -webkit-transform: translate(1.25rem, 0);
      -ms-transform: translate(1.25rem, 0);
          transform: translate(1.25rem, 0);
}

/* line 272, src/sass/custom-components/_form-custom.scss */
.custom-switch.big:not(.with-info) .custom-control-input:checked ~ .custom-control-label:after {
  -webkit-transform: translate(1.25rem, -50%);
      -ms-transform: translate(1.25rem, -50%);
          transform: translate(1.25rem, -50%);
}

/*---- Custom File Upload Field ----*/
/* line 279, src/sass/custom-components/_form-custom.scss */
.custom-file {
  overflow: hidden;
}

/* line 283, src/sass/custom-components/_form-custom.scss */
.custom-file, .custom-file-input {
  height: 3.5rem;
  padding: 0 0.75rem;
  line-height: 3.5rem;
}

/* line 289, src/sass/custom-components/_form-custom.scss */
.custom-file-label {
  height: 3.5rem;
  padding: 0 0.75rem;
  line-height: 3.5rem;
  white-space: nowrap;
}

/* line 296, src/sass/custom-components/_form-custom.scss */
.custom-file-label:after {
  height: 3.4rem;
  line-height: 3.4rem;
  padding: 0 0.75rem;
}

/*--- Bootstrap-select Multi-Select Custom Dropdown ---*/
/* line 304, src/sass/custom-components/_form-custom.scss */
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: inherit !important;
  cursor: inherit;
}

/* line 312, src/sass/custom-components/_form-custom.scss */
.show > .btn.dropdown-toggle {
  color: #162233;
  background-color: inherit;
  box-shadow: 0 0 0 0.2rem rgba(22, 34, 51, 0.25);
}

/* line 318, src/sass/custom-components/_form-custom.scss */
input:hover, select:hover, textarea:hover {
  border-color: #162233;
}

/* line 322, src/sass/custom-components/_form-custom.scss */
.bootstrap-select .btn {
  border-color: #ced4da;
}

/* line 326, src/sass/custom-components/_form-custom.scss */
.bootstrap-select .btn:hover,
.bootstrap-select .btn:not(:disabled):not(.disabled):active,
.bootstrap-select .show > .btn.dropdown-toggle {
  border-color: #162233;
  background-color: inherit;
  color: inherit;
}

/* line 335, src/sass/custom-components/_form-custom.scss */
.bootstrap-select .btn.dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .btn.dropdown-toggle {
  outline: 0 !important;
  outline-offset: 0 !important;
}

/* line 340, src/sass/custom-components/_form-custom.scss */
.bootstrap-select .btn.focus, .bootstrap-select .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(22, 34, 51, 0.25) !important;
}

/* line 344, src/sass/custom-components/_form-custom.scss */
.dropdown-menu[x-placement^=bottom] {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

/* line 348, src/sass/custom-components/_form-custom.scss */
.dropdown-menu[x-placement^=top] {
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);
}

/* line 352, src/sass/custom-components/_form-custom.scss */
.otp-field {
  gap: 0.75rem;
}

/* line 355, src/sass/custom-components/_form-custom.scss */
.otp-field .form-control {
  width: 48px;
  height: 62px;
  font-size: 1.5rem;
  text-align: center;
}

/*--- SHADOW HOVER EFFECT apply when needed ---*/
/* line 2, src/sass/custom-components/_hover-shadow.scss */
.hover-shadow, .hover-shadow img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 8, src/sass/custom-components/_hover-shadow.scss */
.hover-shadow:hover {
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.175) !important;
}

/* line 13, src/sass/custom-components/_hover-shadow.scss */
.hover-shadow:hover img {
  -webkit-filter: contrast(103%) brightness(103%);
  /* Safari 6.0 - 9.0 */
  filter: contrast(103%) brightness(103%);
}

/*--- Gradients ---*/
/* line 2, src/sass/custom-components/_gradient-custom.scss */
.gradient {
  background: #ffaf7b;
  background: -webkit-linear-gradient(-45deg, #ffaf7b 0%, #d76d77 50%, #3a1c71 100%);
  background: -webkit-linear-gradient(315deg, #ffaf7b 0%, #d76d77 50%, #3a1c71 100%);
  background: linear-gradient(135deg, #ffaf7b 0%, #d76d77 50%, #3a1c71 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf7b', endColorstr='#3a1c71',GradientType=1 );
}

/* line 10, src/sass/custom-components/_gradient-custom.scss */
.gradient-reverse {
  background: #3a1c71;
  background: -webkit-linear-gradient(-45deg, #3a1c71 0%, #d76d77 50%, #ffaf7b 100%);
  background: -webkit-linear-gradient(315deg, #3a1c71 0%, #d76d77 50%, #ffaf7b 100%);
  background: linear-gradient(135deg, #3a1c71 0%, #d76d77 50%, #ffaf7b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a1c71', endColorstr='#ffaf7b',GradientType=1 );
}

/* line 18, src/sass/custom-components/_gradient-custom.scss */
.gradient-gray {
  background: #f7f7f7;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea', GradientType=0 );
}

/* line 29, src/sass/custom-components/_gradient-custom.scss */
.gradient-silver {
  background: #8898a3;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #8898a3), color-stop(51%, #a8b8c4), color-stop(100%, #c5d1d9));
  background: -webkit-linear-gradient(-45deg, #8898a3 0%, #a8b8c4 51%, #c5d1d9 100%);
  background: -webkit-linear-gradient(315deg, #8898a3 0%, #a8b8c4 51%, #c5d1d9 100%);
  background: linear-gradient(135deg, #8898a3 0%, #a8b8c4 51%, #c5d1d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8898a3', endColorstr='#c5d1d9', GradientType=1 );
}

/* line 40, src/sass/custom-components/_gradient-custom.scss */
.gradient-bronze {
  background: #d99e66;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #d99e66), color-stop(100%, #e8c0a0));
  background: -webkit-linear-gradient(-45deg, #d99e66 0%, #e8c0a0 100%);
  background: -webkit-linear-gradient(315deg, #d99e66 0%, #e8c0a0 100%);
  background: linear-gradient(135deg, #d99e66 0%, #e8c0a0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d99e66', endColorstr='#e8c0a0', GradientType=1 );
}

/* line 1, src/sass/custom-components/_spotlight.scss */
.spotlight a.agent,
.spotlight a.developer {
  text-decoration: none;
}

@media (min-width: 992px) {
  /* line 6, src/sass/custom-components/_spotlight.scss */
  .spotlight a.agent h3 {
    font-size: 1.1rem;
  }
  /* line 10, src/sass/custom-components/_spotlight.scss */
  .spotlight a.agent small {
    position: relative;
    font-size: .8rem;
  }
}

/* line 15, src/sass/custom-components/_spotlight.scss */
.spotlight a.agent.area-expert small,
.spotlight a.agent.deal-maker small,
.spotlight a.agent.locality-expert small {
  padding-left: 26px;
}

/* line 20, src/sass/custom-components/_spotlight.scss */
.spotlight a.agent.area-expert small::before,
.spotlight a.agent.deal-maker small::before,
.spotlight a.agent.locality-expert small::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 38, src/sass/custom-components/_spotlight.scss */
.spotlight a.agent.deal-maker small::before {
  background-image: url(../img/deal-maker.svg);
}

/* line 41, src/sass/custom-components/_spotlight.scss */
.spotlight a.agent.area-expert small::before {
  background-image: url(../img/area-expert.svg);
}

/* line 44, src/sass/custom-components/_spotlight.scss */
.spotlight a.agent.locality-expert small::before {
  background-image: url(../img/locality-expert.svg);
}

/* line 47, src/sass/custom-components/_spotlight.scss */
.spotlight .card.card-thumb img {
  max-height: 120px;
  object-fit: cover;
  -o-object-fit: cover;
}

/* line 52, src/sass/custom-components/_spotlight.scss */
.spotlight img.profile-pic {
  max-width: 100%;
  height: auto;
}

/* line 56, src/sass/custom-components/_spotlight.scss */
#spotlight-agents a.company img {
  max-width: 150px;
  max-height: 50px;
}

/* line 60, src/sass/custom-components/_spotlight.scss */
#spotlight-developers a.company img {
  max-width: 120px;
  max-height: 100px;
}

@media (max-width: 991px) {
  /* line 65, src/sass/custom-components/_spotlight.scss */
  .spotlight img.profile-pic {
    width: 52px;
    height: 52px;
    object-fit: cover;
  }
  /* line 72, src/sass/custom-components/_spotlight.scss */
  .spotlight .agent h3 {
    position: absolute;
    top: -115px;
    left: 78px;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    max-width: 70%;
  }
  /* line 82, src/sass/custom-components/_spotlight.scss */
  .spotlight .agent small {
    position: absolute;
    top: -95px;
    left: 78px;
    font-size: .8rem;
    padding: 2px 0 3px 26px;
  }
  /* line 90, src/sass/custom-components/_spotlight.scss */
  #spotlight-agents a.company img {
    position: absolute;
    top: -64px;
    right: 0;
  }
  /* line 96, src/sass/custom-components/_spotlight.scss */
  #spotlight-developers a.company img {
    max-width: 90px;
    max-height: 70px;
  }
  /* line 101, src/sass/custom-components/_spotlight.scss */
  .spotlight .slick-track {
    margin-top: 1rem;
  }
}

/*---- SPOTLIGHT ----

.spotlight a.agent, .spotlight a.developer {text-decoration: none;}

@media (min-width:992px) {
  .spotlight a.agent h3 {font-size: 1.1rem;}
  .spotlight a.agent small {position: relative; font-size: 0.8rem;}
}
.spotlight a.agent.deal-maker small, .spotlight a.agent.area-expert small, .spotlight a.agent.locality-expert small {padding-left: 26px;}

.spotlight a.agent.deal-maker small::before, .spotlight a.agent.area-expert small::before, .spotlight a.agent.locality-expert small::before {content: ''; display: block; width: 20px; height: 20px; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); background-position: center center; background-repeat: no-repeat; -webkit-background-size: contain; background-size: contain;}


.spotlight a.agent.deal-maker small::before {
  background-image: url(../img/deal-maker.svg);
}
.spotlight a.agent.area-expert small::before {
  background-image: url(../img/area-expert.svg);
}
.spotlight a.agent.locality-expert small::before {
  background-image: url(../img/locality-expert.svg);
}

.spotlight .card.card-thumb img {
  max-height: 120px;
  object-fit: cover;
  -o-object-fit: cover;
}

.spotlight img.profile-pic {max-width: 100%; height: auto;}

#spotlight-agents a.company img {max-width: 150px; max-height:100px;}
#spotlight-developers a.company img {max-width: 120px; max-height:100px;}

@media (max-width:991px) {
  .spotlight img.profile-pic {width: 52px; height: 52px; padding: 0.15rem; object-fit: cover; background-color: #fff; border: 1px solid #dee2e6; -webkit-border-radius: 50%!important; border-radius: 50%!important;}
  .spotlight .agent h3 {position: absolute; top: -60px; left: 78px; font-size: 1rem; font-weight: 600; width: 100%; max-width: 70%;}
  .spotlight .agent small {position: absolute; top: -45px; left: 78px; font-size: 0.8rem; padding: 5px 0 5px 26px;}
  #spotlight-agents a.company img {position: absolute; top:-64px; right: 0;}
  #spotlight-developers a.company img {max-width: 90px; max-height:70px;}
  // .overlap-img {display: block; float: none; width: 100%; position: absolute; bottom: 0; left: 0;}
  // .overlap-img h3 {font-size: 1rem;}
  .spotlight .slick-track {margin-top:1rem;}
}
*/
/*---- Youtube Embed Progressive ---*/
/* line 2, src/sass/custom-components/_youtube.scss */
.youtube, .youtube .play-button, .youtube img {
  cursor: pointer;
}

/* line 6, src/sass/custom-components/_youtube.scss */
.youtube {
  background-color: #000;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

/* line 12, src/sass/custom-components/_youtube.scss */
.youtube img {
  width: 100%;
  /*top: -16.82%;*/
  top: 0;
  left: 0;
  opacity: .7;
}

/* line 19, src/sass/custom-components/_youtube.scss */
.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: .8;
  border-radius: 6px;
}

/* line 28, src/sass/custom-components/_youtube.scss */
.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26px;
  border-color: transparent transparent transparent #fff;
}

/* line 34, src/sass/custom-components/_youtube.scss */
.youtube:hover .play-button {
  background-color: red;
}

/* line 37, src/sass/custom-components/_youtube.scss */
.youtube .play-button, .youtube .play-button:before, .youtube iframe, .youtube img {
  position: absolute;
}

/* line 40, src/sass/custom-components/_youtube.scss */
.youtube .play-button, .youtube .play-button:before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

/* line 45, src/sass/custom-components/_youtube.scss */
.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/*---- Gradient Button ----*/
/* line 2, src/sass/buttons/_gradient-button.scss */
.btn-gradient {
  color: #fff;
  cursor: pointer;
  border: none;
  background-image: -webkit-linear-gradient(315deg, #3a1c71 0, #d76d77 50%, #ffaf7b 100%);
  background-image: -webkit-linear-gradient(315deg, #3a1c71 0, #d76d77 50%, #ffaf7b 100%);
  background-image: linear-gradient(135deg, #3a1c71 0, #d76d77 50%, #ffaf7b 100%);
  background-size: 150% 100%;
  border-radius: 5px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 18, src/sass/buttons/_gradient-button.scss */
.btn-gradient:hover {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-position: 50% 0;
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 29, src/sass/buttons/_gradient-button.scss */
.btn-gradient:focus {
  outline: none;
}

/*-- Card Thumbs Short Text on Image Overlay --*/
/* line 2, src/sass/cards/_card-horizontal.scss */
.card-horizontal {
  min-height: 140px;
}

/* line 3, src/sass/cards/_card-horizontal.scss */
.card-horizontal a.h6 {
  line-height: 1.5;
}

/* line 4, src/sass/cards/_card-horizontal.scss */
.card-horizontal a:hover.h6 {
  text-decoration: none;
}

/* line 6, src/sass/cards/_card-horizontal.scss */
.card-horizontal .card:hover {
  background: #eae1ec;
  border-color: #d5c4d9;
}

/* line 7, src/sass/cards/_card-horizontal.scss */
.card-horizontal .card:hover a.h6 {
  color: #37173f;
}

/* line 9, src/sass/cards/_card-horizontal.scss */
.card-horizontal .card:hover img {
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.085);
}

@media (max-width: 991px) {
  /* line 12, src/sass/cards/_card-horizontal.scss */
  .card-horizontal img {
    max-height: 150px;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  /* line 20, src/sass/cards/_card-horizontal.scss */
  .card-horizontal img {
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}

/* line 23, src/sass/cards/_card-horizontal.scss */
.card.card-thumb, .card.card-thumb, .card-horizontal .card {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  clear: both;
}

/* line 31, src/sass/cards/_card-horizontal.scss */
.card.card-thumb img {
  max-height: 150px;
  object-fit: cover;
  -o-object-fit: cover;
}

/*-------- JUMBOTRON HERO ------*/
/* line 13, src/sass/home.scss */
.jumbotron {
  padding: 0;
  border-radius: 0;
}

@media (min-width: 992px) {
  /* line 20, src/sass/home.scss */
  .jumbotron {
    background: #f7f7f7 !important;
  }
  /* line 21, src/sass/home.scss */
  .jumbotron h1 {
    color: #000 !important;
  }
}

/* line 24, src/sass/home.scss */
.jumbotron h1:after {
  content: '';
  display: block;
  width: 54px;
  height: 3px;
  background: #fead00;
  margin: 20px auto;
}

/* line 26, src/sass/home.scss */
.jumbotron .card {
  border: none;
  /* -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.08); */
}

/* line 34, src/sass/home.scss */
.jumbotron p.title-link {
  position: relative;
  padding: 0 0 0 62px;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0;
  color: #777;
  min-height: 54px;
  line-height: 1.4rem;
}

/* line 38, src/sass/home.scss */
.jumbotron p.title-link a {
  font-size: 1.1rem;
}

/* line 39, src/sass/home.scss */
.jumbotron p.title-link a:first-child {
  font-weight: 600;
}

/* line 42, src/sass/home.scss */
.jumbotron p.title-link:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 54px;
  height: 54px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 44, src/sass/home.scss */
.jumbotron p.title-link.property:before {
  background-image: url("../img/icon-post-property.svg");
}

/* line 46, src/sass/home.scss */
.jumbotron p.title-link.requirement:before {
  background-image: url("../img/icon-post-requirement.svg");
}

/* line 48, src/sass/home.scss */
.jumbotron p.title-link.digital:before {
  background-image: url("../img/icon-digital-marketing.svg");
}

/* line 50, src/sass/home.scss */
.jumbotron p.title-link.loan:before {
  background-image: url("../img/icon-home-loan.svg");
}

@media (min-width: 992px) {
  /* line 54, src/sass/home.scss */
  .jumbotron h1:after {
    margin: 20px 0;
  }
  /* .jumbotron .card {
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    .jumbotron .card:hover {
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    } */
}

@media (max-width: 991px) {
  /* line 67, src/sass/home.scss */
  .jumbotron.bg-med-dark {
    background: #2e2e2e !important;
  }
}

@media (max-width: 767px) {
  /* line 72, src/sass/home.scss */
  .jumbotron p.title-link {
    padding: 5px;
    font-size: 0.9rem;
    min-height: 36px;
    line-height: 1.2rem;
  }
  /* line 73, src/sass/home.scss */
  .jumbotron p.title-link:before {
    display: none;
  }
}

/* line 76, src/sass/home.scss */
#digital-services picture {
  display: none;
}

@media (min-width: 768px) {
  /* line 79, src/sass/home.scss */
  #digital-services picture {
    display: block;
  }
}

/*---- ABOUT - Home Page ----*/
@media (max-width: 768px) {
  /* line 86, src/sass/home.scss */
  #about img {
    max-width: 100px;
  }
}
