/* line 1, src/sass/new-hero.scss */
.developer-banner {
  background-color: #f6e1ca;
}

/* line 2, src/sass/new-hero.scss */
.developer-banner .wrap {
  gap: 1rem 0;
}

/* line 3, src/sass/new-hero.scss */
.developer-banner .items {
  gap: 2rem 0;
}

@media (min-width: 768px) {
  /* line 5, src/sass/new-hero.scss */
  .flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

/* line 8, src/sass/new-hero.scss */
.navbar-brand.scroll-bg {
  width: 0;
  height: 0;
  font-size: 0;
  opacity: 0;
  margin-right: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  -webkit-transform: translateX(-999px);
      -ms-transform: translateX(-999px);
          transform: translateX(-999px);
}

/* line 18, src/sass/new-hero.scss */
.navbar-brand.scroll-bg.scrolled {
  width: initial;
  height: initial;
  font-size: initial;
  opacity: initial;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

/* line 27, src/sass/new-hero.scss */
#ghar {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
}

/* line 28, src/sass/new-hero.scss */
#ghar .text, #ghar .symbol {
  fill: #ee324b;
}

/* line 29, src/sass/new-hero.scss */
#ghar .tagline {
  fill: #76808e;
}

@media (min-width: 576px) {
  /* line 32, src/sass/new-hero.scss */
  #ghar {
    max-width: 250px;
  }
}

@media (min-width: 992px) {
  /* line 36, src/sass/new-hero.scss */
  #ghar {
    max-width: 300px;
  }
}

/* line 39, src/sass/new-hero.scss */
.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* line 44, src/sass/new-hero.scss */
.slide-in-blurred-bottom {
  -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0.3s both;
  animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0.3s both;
}

/* line 49, src/sass/new-hero.scss */
.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

/* line 54, src/sass/new-hero.scss */
.shadow-drop-2-center {
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.15);
  }
}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.15);
  }
}
