/* line 1, src/sass/custom-components/_toast-custom.scss */
.toast.fixed {
  position: fixed;
  left: 20px;
  bottom: 0;
  min-width: 320px;
  background: #fff;
  z-index: 5;
}

/* line 9, src/sass/custom-components/_toast-custom.scss */
.toast:not(.fixed) {
  max-width: none;
  box-shadow: none;
  border-radius: .25rem;
}

/* line 14, src/sass/custom-components/_toast-custom.scss */
.toast-body {
  padding: .5rem;
}

/* line 17, src/sass/custom-components/_toast-custom.scss */
.toast img.user-pic {
  width: 55px;
  height: 55px;
  object-fit: cover;
}

/* line 23, src/sass/custom-components/_toast-custom.scss */
.toast .user {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.4;
}

/* line 29, src/sass/custom-components/_toast-custom.scss */
.toast .user strong {
  font-weight: 600;
}

/* line 31, src/sass/custom-components/_toast-custom.scss */
.toast .activity-type {
  font-size: 0.8rem;
  color: #777;
}

/* line 32, src/sass/custom-components/_toast-custom.scss */
.toast .activity-type span {
  border-bottom: 1px dotted #ccc;
}

/* line 34, src/sass/custom-components/_toast-custom.scss */
.toast .time {
  font-size: 0.75rem;
  color: #999999;
}

/* line 36, src/sass/custom-components/_toast-custom.scss */
.toast button.close {
  font-size: 1.2rem;
  position: absolute;
  right: 3px;
  top: -3px;
  opacity: 0;
  visibility: hidden;
  color: #999;
}

/* line 37, src/sass/custom-components/_toast-custom.scss */
.toast:hover button.close {
  opacity: 1;
  visibility: visible;
}

/* line 38, src/sass/custom-components/_toast-custom.scss */
.toast button.close:hover {
  color: #000;
  opacity: 1;
}

@media (max-width: 420px) {
  /* line 41, src/sass/custom-components/_toast-custom.scss */
  .toast.fixed {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    border: none;
    box-shadow: 0 -0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  }
  /* line 42, src/sass/custom-components/_toast-custom.scss */
  .toast.fixed:not(:last-child) {
    margin-bottom: 0;
  }
  /* line 43, src/sass/custom-components/_toast-custom.scss */
  .toast button.close {
    opacity: 1;
    visibility: visible;
  }
}

/* line 3, src/sass/new-home.scss */
.hero .h1 {
  font-size: calc(1.375rem + 1.65vw);
}

/* line 7, src/sass/new-home.scss */
.hero .subheading {
  font-size: calc(.85rem + 0.35vw);
}

/* line 11, src/sass/new-home.scss */
.hero .cta-toast .btn {
  font-size: calc(1rem + 0.35vw);
  -webkit-flex-basis: 45%;
      -ms-flex-preferred-size: 45%;
          flex-basis: 45%;
}

/* line 16, src/sass/new-home.scss */
.hero .cta-toast .toast-wrap {
  -webkit-flex-basis: 55%;
      -ms-flex-preferred-size: 55%;
          flex-basis: 55%;
  min-height: 82px;
}

/* line 21, src/sass/new-home.scss */
.hero .offerings > div {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
}

/* line 24, src/sass/new-home.scss */
.hero .offerings .icon {
  display: block;
  width: 40px;
  height: 41px;
  background-image: url(../img/sprite-icons-deals.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 32, src/sass/new-home.scss */
.hero .offerings .icon.invest {
  background-position: 0 0;
}

/* line 35, src/sass/new-home.scss */
.hero .offerings .icon.deals {
  background-position: 0 -40px;
}

/* line 38, src/sass/new-home.scss */
.hero .offerings .icon.secrets {
  background-position: 0 -79px;
}

/* line 41, src/sass/new-home.scss */
.hero .offerings .icon.forum {
  background-position: 0 -120px;
}

/* .hero .toast {
    position: relative;
    left: inherit;
    min-width: auto;
    z-index: auto;
} */
/* line 52, src/sass/new-home.scss */
.hero .toast.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 56, src/sass/new-home.scss */
.hero .creative {
  height: auto;
  max-width: 150px;
  margin: 0 auto;
  width: 100%;
}

/* line 63, src/sass/new-home.scss */
.hero .toast .user-pic {
  width: 64px;
  height: 64px;
}

/* line 68, src/sass/new-home.scss */
.hero .toast .activity-type {
  font-size: .75rem;
}

@media (max-width: 375px) {
  /* line 73, src/sass/new-home.scss */
  .offerings h6 {
    font-size: .75rem;
  }
}

@media (min-width: 576px) {
  /* line 79, src/sass/new-home.scss */
  .hero .creative {
    max-width: 250px;
  }
}

@media (min-width: 768px) {
  /* line 85, src/sass/new-home.scss */
  .hero .creative {
    max-width: 300px;
  }
}

@media (min-width: 991px) {
  /* line 91, src/sass/new-home.scss */
  .hero .row {
    min-height: 100%;
  }
  /* line 94, src/sass/new-home.scss */
  .hero .offerings .icon {
    width: 50px;
    height: 50px;
  }
  /* line 98, src/sass/new-home.scss */
  .hero .offerings .icon.deals {
    background-position: 0 -50px;
  }
  /* line 101, src/sass/new-home.scss */
  .hero .offerings .icon.secrets {
    background-position: 0 -100px;
  }
  /* line 104, src/sass/new-home.scss */
  .hero .offerings .icon.forum {
    background-position: 0 -150px;
  }
  /* line 107, src/sass/new-home.scss */
  .hero .creative {
    max-width: 500px;
  }
}

@media (orientation: portrait) and (min-width: 1024px) {
  /* line 113, src/sass/new-home.scss */
  .hero .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: column-reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  /* line 116, src/sass/new-home.scss */
  .offset-lg-1 {
    margin-left: 0;
  }
  /* line 119, src/sass/new-home.scss */
  .hero .row .col-lg-6, .hero .row .col-lg-5 {
    max-width: 100%;
  }
  /* line 122, src/sass/new-home.scss */
  .hero .text-lg-left {
    text-align: center !important;
  }
}
