/*form styles*/
/* line 2, src/sass/custom-components/_form-steps.scss */
#stepsform {
  clear: both;
  position: relative;
}

/* line 7, src/sass/custom-components/_form-steps.scss */
#stepsform .form-slide {
  /*stacking slides above each other*/
  position: relative;
  width: 100%;
}

/*Hide all except first side*/
/* line 14, src/sass/custom-components/_form-steps.scss */
#stepsform .form-slide:not(:first-of-type) {
  display: none;
}

/* line 18, src/sass/custom-components/_form-steps.scss */
#stepsform .prev-btn {
  position: absolute;
  left: .25rem;
  top: .25rem;
}

/* line 23, src/sass/custom-components/_form-steps.scss */
#stepsform .prev-btn .previous {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 0.65rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 2.1;
}

/* line 31, src/sass/custom-components/_form-steps.scss */
#stepsform .prev-btn .previous::before {
  font-size: 1.25rem;
  padding-right: .25rem;
}

/*progressbar*/
/* line 3, src/sass/custom-components/_form-progressbar.scss */
#progressbar {
  position: relative;
  /*CSS counters to number the steps*/
  counter-reset: step;
  z-index: 1;
}

/* line 10, src/sass/custom-components/_form-progressbar.scss */
#progressbar li {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  line-height: 1.35;
}

/* line 22, src/sass/custom-components/_form-progressbar.scss */
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  display: block;
  background: #ccc;
  border-radius: 3px;
  margin: 0 auto 5px auto;
  font-size: .75rem;
  line-height: 2;
}

/*progressbar connectors*/
/* line 34, src/sass/custom-components/_form-progressbar.scss */
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #ccc;
  position: absolute;
  left: -50%;
  top: 9px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  z-index: -1;
  /*put it behind the numbers*/
}

/* line 45, src/sass/custom-components/_form-progressbar.scss */
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
/* line 51, src/sass/custom-components/_form-progressbar.scss */
#progressbar li.active:before, #progressbar li.active:after {
  background: #162233;
  color: white;
}

/* line 1, src/sass/custom-components/_collapsible-text.scss */
#truncate .collapse:not(.show), #truncate .collapsing {
  position: relative;
  height: 180px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 50; */
}

/* line 10, src/sass/custom-components/_collapsible-text.scss */
#truncate .collapse:not(.show)::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
  background: linear-gradient(rgba(255, 255, 255, 0), white);
}

/* #truncate a.toggle[aria-expanded='false'] {
  position: relative;
}
#truncate a.toggle[aria-expanded='true'] {
  position: sticky;
  bottom: 0;
} */
/* line 29, src/sass/custom-components/_collapsible-text.scss */
#truncate .toggle {
  margin: 0 auto;
}

/* line 33, src/sass/custom-components/_collapsible-text.scss */
#truncate .toggle[aria-expanded='false'] {
  position: relative;
}

/* line 37, src/sass/custom-components/_collapsible-text.scss */
#truncate .toggle[aria-expanded='true'] {
  position: -webkit-sticky;
  position: sticky;
  bottom: 2rem;
}

/* line 43, src/sass/custom-components/_collapsible-text.scss */
#truncate .toggle[aria-expanded='false']:after {
  content: '+ read more';
}

/* line 47, src/sass/custom-components/_collapsible-text.scss */
#truncate .toggle[aria-expanded='true']:after {
  content: '- read less';
}

/* #truncate p:last-child {
  margin-bottom: 0;
} */
/* line 1, src/sass/cards/_card-features.scss */
.features {
  gap: 2rem 0;
}

/* line 2, src/sass/cards/_card-features.scss */
.features .card {
  height: 100%;
  border-radius: 15px;
}

/* line 3, src/sass/cards/_card-features.scss */
.features .card-body.flex-column {
  gap: 2rem;
}

/* line 4, src/sass/cards/_card-features.scss */
.features .card .btn {
  font-weight: 600;
  padding: 0.75rem 1.2rem;
}

/* line 5, src/sass/cards/_card-features.scss */
.features .additional {
  gap: 2rem;
}

/* line 6, src/sass/cards/_card-features.scss */
.features .additional .card-body {
  gap: 1rem;
}

/* line 7, src/sass/cards/_card-features.scss */
.features .text-opacity {
  color: rgba(0, 0, 0, 0.75);
}

/* line 9, src/sass/cards/_card-features.scss */
.features .red {
  background-color: #FFF5F6;
  border: 1px solid #F3C7CB;
}

/* line 10, src/sass/cards/_card-features.scss */
.features .green {
  background-color: #EDF5E6;
  border: 1px solid #B7DE96;
}

/* line 11, src/sass/cards/_card-features.scss */
.features .yellow {
  background-color: #F9F2E7;
  border: 1px solid #EBD0A7;
}

/* line 12, src/sass/cards/_card-features.scss */
.features .blue {
  background-color: #E8F7F7;
  border: 1px solid #91DFDF;
}

/* line 13, src/sass/cards/_card-features.scss */
.features .purple {
  background-color: #FAF0F8;
  border: 1px solid #EBB4E0;
}

/* line 15, src/sass/cards/_card-features.scss */
.features .red .btn-white {
  box-shadow: 0px 3px 10px rgba(230, 169, 175, 0.46);
}

/* line 16, src/sass/cards/_card-features.scss */
.features .green .btn-white {
  box-shadow: 0px 3px 10px rgba(168, 199, 141, 0.46);
}

/* line 17, src/sass/cards/_card-features.scss */
.features .yellow .btn-white {
  box-shadow: 0px 3px 10px rgba(230, 190, 126, 0.46);
}

/* line 18, src/sass/cards/_card-features.scss */
.features .blue .btn-white {
  box-shadow: 0px 3px 10px rgba(154, 203, 203, 0.46);
}

/* line 19, src/sass/cards/_card-features.scss */
.features .purple .btn-white {
  box-shadow: 0px 3px 10px rgba(216, 172, 207, 0.46);
}

/* line 21, src/sass/cards/_card-features.scss */
.features .btn-white:hover {
  background-color: #ee324b;
  color: #fff;
}

/* line 23, src/sass/cards/_card-features.scss */
.features img.creative {
  display: block;
  margin: 0 auto;
  width: 100%;
  object-fit: contain;
}

/* line 29, src/sass/cards/_card-features.scss */
.features img.creative.big {
  height: 128px;
}

/* line 32, src/sass/cards/_card-features.scss */
.features img.creative.small {
  width: 60px;
  height: 60px;
}

@media (min-width: 768px) {
  /* line 38, src/sass/cards/_card-features.scss */
  .features img.creative.big {
    height: 190px;
  }
  /* line 41, src/sass/cards/_card-features.scss */
  .features .additional {
    gap: 1.5rem;
  }
}

@media (min-width: 1200px) {
  /* line 45, src/sass/cards/_card-features.scss */
  .features img.creative.big {
    height: 220px;
  }
}

/* line 50, src/sass/cards/_card-features.scss */
.features .card ul li {
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  padding-left: 1.5rem;
}

/* line 51, src/sass/cards/_card-features.scss */
.features .card ul li:not(:last-child) {
  margin-bottom: .5rem;
}

/* line 52, src/sass/cards/_card-features.scss */
.features .card ul li::before {
  content: '\e92c';
  font-family: 'icons';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* line 54, src/sass/cards/_card-features.scss */
.features .red li::before {
  color: #EB7883;
}

/* line 55, src/sass/cards/_card-features.scss */
.features .green li::before {
  color: #73B43B;
}

/* line 56, src/sass/cards/_card-features.scss */
.features .yellow li::before {
  color: #D8AF70;
}

/* line 57, src/sass/cards/_card-features.scss */
.features .blue li::before {
  color: #66C7C7;
}

/* line 58, src/sass/cards/_card-features.scss */
.features .purple li::before {
  color: #D290C5;
}

/* line 6, src/sass/post-property.scss */
html {
  height: 100%;
}

/* line 9, src/sass/post-property.scss */
body {
  height: 100%;
}

/* line 12, src/sass/post-property.scss */
.nav-title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* line 17, src/sass/post-property.scss */
.brand {
  display: inline-block;
}

/* line 20, src/sass/post-property.scss */
.brand svg {
  height: 31px;
  max-width: 28px;
  width: 100%;
}

/* line 25, src/sass/post-property.scss */
.brand svg .symbol {
  fill: #ee324b;
}

/* line 28, src/sass/post-property.scss */
.brand svg .text {
  fill: #ee324b;
}

/* line 32, src/sass/post-property.scss */
.hero {
  padding-top: 63px;
}

/* line 37, src/sass/post-property.scss */
.hero .creative {
  background-color: #fff5f6;
}

/* line 40, src/sass/post-property.scss */
.hero .creative p {
  font-size: calc(0.85rem + .2vw);
}

/* line 44, src/sass/post-property.scss */
.pointers img {
  display: none;
}

/* line 47, src/sass/post-property.scss */
.pointers li {
  padding: 0;
}

/* line 50, src/sass/post-property.scss */
.pointers li p {
  font-weight: 600;
  font-size: calc(.8rem + .125vw);
  line-height: 1.2;
}

/* line 55, src/sass/post-property.scss */
.man-thumbs {
  position: relative;
  background: url("../img/man-thumbs-l.jpg") center bottom/contain no-repeat;
  min-height: 10rem;
}

/* line 61, src/sass/post-property.scss */
#facts .flex-row {
  gap: 2.75rem 0;
}

/* #paid .card {
    border:none;
    border-radius: .75rem;
    background: #c4052a url('../img/power-bg.jpg') center center/cover no-repeat;
} */
/* line 69, src/sass/post-property.scss */
details {
  overflow: hidden;
}

/* line 73, src/sass/post-property.scss */
details .card-header {
  background-color: #fff;
}

/* line 77, src/sass/post-property.scss */
details[open] summary {
  background: #fff5f6;
  color: #162233;
}

/* .form-box {
    background: #ee324b url('../img/bg-gradient.jpg') center center/cover no-repeat;
}

.form-slide {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.75);
    box-shadow: 0 8px 32px 0 rgba(84, 47, 52, 0.18);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
} */
@media (max-width: 767px) {
  /* line 97, src/sass/post-property.scss */
  .pointers p {
    position: relative;
    padding-left: 25px;
  }
  /* line 101, src/sass/post-property.scss */
  .pointers p::before {
    content: "\e92c";
    font-family: 'icons';
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #28a745;
    line-height: 1;
  }
}

@media (max-width: 991px) {
  /* line 114, src/sass/post-property.scss */
  .hero .form-box {
    position: relative;
    z-index: 1;
  }
  /* line 118, src/sass/post-property.scss */
  .content {
    border-top: 1px solid #dee2e6;
  }
  /* line 121, src/sass/post-property.scss */
  #stepsform {
    box-shadow: 0 8px 32px 0 rgba(84, 47, 52, 0.18);
    border-radius: .5rem;
  }
}

@media (min-width: 992px) {
  /* line 128, src/sass/post-property.scss */
  .hero {
    min-height: 100vh;
    padding-top: 62px;
  }
  /* line 133, src/sass/post-property.scss */
  .form-box {
    position: fixed;
    top: 62px;
    right: 0;
    height: calc(100% - 62px);
  }
  /* line 139, src/sass/post-property.scss */
  .min-vh-100-lg {
    min-height: 100vh;
  }
  /* line 142, src/sass/post-property.scss */
  .pointers li {
    padding: 15px;
  }
  /* line 145, src/sass/post-property.scss */
  .pointers img {
    max-width: 64px;
  }
  /* line 148, src/sass/post-property.scss */
  .upscale {
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 30px 0 rgba(149, 35, 50, 0.12);
  }
  /* line 153, src/sass/post-property.scss */
  .content {
    background-color: #fff5f6;
  }
}

@media (min-width: 1024px) {
  /* line 158, src/sass/post-property.scss */
  .brand svg {
    max-width: 140px;
    max-width: 140px;
  }
  /* line 162, src/sass/post-property.scss */
  .brand svg .text {
    display: block;
  }
}

@media (min-width: 768px) {
  /* line 167, src/sass/post-property.scss */
  .pointers li {
    background: #fff;
    box-shadow: 0 5px 15px 0 rgba(238, 50, 75, 0.1);
    padding: 15px;
    border-radius: 10px;
  }
  /* line 173, src/sass/post-property.scss */
  .pointers p {
    margin-bottom: 0;
  }
  /* line 176, src/sass/post-property.scss */
  .pointers img {
    display: block;
    width: 100%;
    max-width: 42px;
    height: auto;
    margin: 0 auto;
  }
  /* line 183, src/sass/post-property.scss */
  .man-thumbs {
    min-height: 20rem;
  }
}

@media (min-width: 1440px) {
  /* line 188, src/sass/post-property.scss */
  .pointers li {
    padding: 20px;
  }
  /* line 191, src/sass/post-property.scss */
  .pointers li p {
    margin-bottom: 0;
  }
  /* line 194, src/sass/post-property.scss */
  .pointers img {
    max-width: 85px;
  }
}

@media (min-width: 576px) {
  /* line 199, src/sass/post-property.scss */
  .man-thumbs {
    min-height: 15rem;
  }
}
