/*------ MAKE GRIDS HORIZONTAL SCROLLING ON MOBILE -----*/
/* Tip: You can still have block level elements as children of the inline element but the first child of the wrapper needs to be inline (or inline-block or inline-table). */
@media (max-width: 767px) {
  /* line 6, src/sass/custom-components/_scroll-trick.scss */
  .scroll-trick {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-right: -15px;
    /*To make it look better on mobile */
  }
  /* For Certain Conditions as in Popular Locations */
  /* line 15, src/sass/custom-components/_scroll-trick.scss */
  .text-md-nowrap {
    white-space: nowrap;
  }
  /*.scroll-trick::-webkit-scrollbar {
      display: none;
    }*/
  /* For iOS give wrapper
    .scroll-trick .wrapper {
      width: 100%;
    } */
  /* line 28, src/sass/custom-components/_scroll-trick.scss */
  .scroll-trick [class*=col-] {
    margin: 15px 0;
  }
}

/*--- Custom Form ---*/
/* form .toggle {
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
} */
/* line 11, src/sass/custom-components/_form-custom.scss */
form .addon.toggle {
  font-size: 1.2rem;
}

/* line 15, src/sass/custom-components/_form-custom.scss */
.fieldset-group legend {
  font-size: .95rem;
}

/* line 19, src/sass/custom-components/_form-custom.scss */
.form-group .btn-outline-primary, .form-label-group .btn-outline-primary {
  border-color: #ced4da;
}

/* line 22, src/sass/custom-components/_form-custom.scss */
.form-group .btn-outline-primary:hover, .form-label-group .btn-outline-primary:hover {
  border-color: #162233;
  background-color: #fff;
  color: #162233;
}

@media (max-width: 767px) {
  /* line 29, src/sass/custom-components/_form-custom.scss */
  .btn-group-toggle.scroll-trick {
    position: relative;
    padding: 5px 15px 10px 15px;
    margin-left: -15px;
  }
}

/* line 36, src/sass/custom-components/_form-custom.scss */
.form-group .radio.minimal .btn-outline-primary {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* line 42, src/sass/custom-components/_form-custom.scss */
.form-group, .form-label-group, .form-flex-group {
  position: relative;
  margin-bottom: 1.5rem;
}

/* line 48, src/sass/custom-components/_form-custom.scss */
.form-label-group select.form-control {
  padding: 0.375rem 0.5rem;
}

/* line 52, src/sass/custom-components/_form-custom.scss */
.form-label-group :not(textarea).form-control, .form-label-group .addon {
  height: 3.5rem;
}

/* line 57, src/sass/custom-components/_form-custom.scss */
.form-label-group.form-label-group-lg :not(textarea).form-control, .form-label-group.form-label-group-lg :not(textarea).addon {
  height: 4rem;
}

/* line 60, src/sass/custom-components/_form-custom.scss */
.form-label-group.form-label-group-lg .control-label {
  font-size: 1rem;
  -webkit-transform: translate3d(1.1rem, 1.25rem, 0) scale(1);
          transform: translate3d(1.1rem, 1.25rem, 0) scale(1);
  -webkit-transform-origin: 5rem 1.1rem;
      -ms-transform-origin: 5rem 1.1rem;
          transform-origin: 5rem 1.1rem;
}

/* line 65, src/sass/custom-components/_form-custom.scss */
.form-label-group-lg .form-control, .form-label-group-lg .addon {
  font-size: 1rem;
  padding: 0.375rem 1rem;
}

/* line 70, src/sass/custom-components/_form-custom.scss */
.form-label-group textarea {
  padding-top: 1.4rem;
}

/* line 74, src/sass/custom-components/_form-custom.scss */
.form-label-group .control-label {
  color: initial;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translate3d(0.82rem, 1.1rem, 0) scale(1);
          transform: translate3d(0.82rem, 1.1rem, 0) scale(1);
  -webkit-transform-origin: 3.5rem 1rem;
      -ms-transform-origin: 3.5rem 1rem;
          transform-origin: 3.5rem 1rem;
  -webkit-transition: 240ms;
  transition: 240ms;
  margin-bottom: 0;
  display: block;
  width: calc(100% - 1rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 90, src/sass/custom-components/_form-custom.scss */
.form-label-group.focused .control-label {
  opacity: 1;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  color: #777;
}

/* line 96, src/sass/custom-components/_form-custom.scss */
.form-label-group.focused :not(textarea):not(.dropdown).form-control {
  padding-top: 1rem;
}

/*---- FORM GROUP IN FLEX ----*/
/* line 103, src/sass/custom-components/_form-custom.scss */
.form-flex-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 107, src/sass/custom-components/_form-custom.scss */
.form-flex-group .form-label-group {
  margin-bottom: 0;
}

/* line 110, src/sass/custom-components/_form-custom.scss */
.form-flex-group.fill .form-label-group {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* line 114, src/sass/custom-components/_form-custom.scss */
.form-flex-group .form-label-group:not(:first-of-type):not(:last-of-type) .form-control {
  border-radius: 0;
}

/* line 118, src/sass/custom-components/_form-custom.scss */
.form-label-group:focus-within {
  z-index: 1;
}

/* line 122, src/sass/custom-components/_form-custom.scss */
.form-flex-group .form-label-group:not(:first-of-type):not(:last-of-type) {
  border-radius: 0;
}

/* line 126, src/sass/custom-components/_form-custom.scss */
.form-flex-group .form-label-group:first-of-type {
  margin-right: -1px;
}

/* line 129, src/sass/custom-components/_form-custom.scss */
.form-flex-group .form-label-group:last-of-type {
  margin-left: -1px;
}

@media (max-width: 575px) {
  /* line 135, src/sass/custom-components/_form-custom.scss */
  .form-flex-group.col-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* line 139, src/sass/custom-components/_form-custom.scss */
  .form-flex-group.col-mobile .form-label-group:first-of-type {
    margin-right: 0;
  }
  /* line 142, src/sass/custom-components/_form-custom.scss */
  .form-flex-group.col-mobile .form-label-group:last-of-type {
    margin-left: 0;
  }
  /* line 146, src/sass/custom-components/_form-custom.scss */
  .form-flex-group.col-mobile .form-label-group:first-of-type {
    margin-bottom: -1px;
  }
  /* line 149, src/sass/custom-components/_form-custom.scss */
  .form-flex-group.col-mobile .form-label-group:last-of-type {
    margin-top: -1px;
  }
  /* line 153, src/sass/custom-components/_form-custom.scss */
  .form-flex-group.col-mobile .form-label-group:first-of-type .form-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  /* line 157, src/sass/custom-components/_form-custom.scss */
  .form-flex-group.col-mobile .form-label-group:last-of-type .form-control {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  /* line 162, src/sass/custom-components/_form-custom.scss */
  .form-flex-group:not(.col-mobile) .form-label-group:first-of-type .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  /* line 166, src/sass/custom-components/_form-custom.scss */
  .form-flex-group:not(.col-mobile) .form-label-group:last-of-type .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* line 174, src/sass/custom-components/_form-custom.scss */
.form-flex-group .form-label-group:first-of-type .addon {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 178, src/sass/custom-components/_form-custom.scss */
.form-flex-group .form-label-group:last-of-type .addon {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 183, src/sass/custom-components/_form-custom.scss */
.form-flex-group .form-label-group:not(:first-of-type):not(:last-of-type) .addon {
  border-right: 0;
  border-radius: 0;
}

@media (min-width: 576px) {
  /* line 190, src/sass/custom-components/_form-custom.scss */
  .form-flex-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  /* line 194, src/sass/custom-components/_form-custom.scss */
  .form-flex-group .form-label-group:first-of-type .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  /* line 198, src/sass/custom-components/_form-custom.scss */
  .form-flex-group .form-label-group:last-of-type .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/*--- Custom Radio, Checkbox and Toggle ---*/
/* line 207, src/sass/custom-components/_form-custom.scss */
.custom-control.with-info:not(.custom-switch) .custom-control-label:before,
.custom-control.with-info:not(.custom-switch) .custom-control-label:after,
.custom-control.with-info.big:not(.custom-switch) .custom-control-label:after,
.custom-control.with-info.big:not(.custom-switch) .custom-control-label:before {
  top: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

/* line 215, src/sass/custom-components/_form-custom.scss */
.custom-radio .custom-control-label {
  cursor: pointer;
}

/* line 219, src/sass/custom-components/_form-custom.scss */
.custom-control.big {
  min-height: 2.15rem;
  padding-left: 2rem;
  position: relative;
}

/* line 225, src/sass/custom-components/_form-custom.scss */
.custom-control.big .custom-control-label {
  margin-bottom: 0;
  position: relative;
  vertical-align: top;
  font-size: .95rem;
}

/* line 232, src/sass/custom-components/_form-custom.scss */
.custom-control.big:not(.custom-switch) .custom-control-label:before, .custom-control.big:not(.custom-switch) .custom-control-label:after {
  height: 1.5rem;
  width: 1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -2rem;
}

/* line 240, src/sass/custom-components/_form-custom.scss */
.custom-switch.big {
  padding-left: 3.25rem;
}

/* line 244, src/sass/custom-components/_form-custom.scss */
.custom-switch.big .custom-control-label {
  font-size: .95rem;
}

/* line 248, src/sass/custom-components/_form-custom.scss */
.custom-switch.big .custom-control-label:before {
  border-radius: 50px;
  left: -3.25rem;
  width: 2.75rem;
  height: 1.5rem;
}

/* line 255, src/sass/custom-components/_form-custom.scss */
.custom-switch.big .custom-control-label:after {
  border-radius: 50px;
  height: calc(1.5rem - 4px);
  left: calc(-3.25rem + 2px);
  width: calc(1.5rem - 4px);
}

/* line 262, src/sass/custom-components/_form-custom.scss */
.custom-switch.big:not(.with-info) .custom-control-label:before,
.custom-switch.big:not(.with-info) .custom-control-label:after {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* line 268, src/sass/custom-components/_form-custom.scss */
.custom-switch.big .custom-control-input:checked ~ .custom-control-label:after {
  -webkit-transform: translate(1.25rem, 0);
      -ms-transform: translate(1.25rem, 0);
          transform: translate(1.25rem, 0);
}

/* line 272, src/sass/custom-components/_form-custom.scss */
.custom-switch.big:not(.with-info) .custom-control-input:checked ~ .custom-control-label:after {
  -webkit-transform: translate(1.25rem, -50%);
      -ms-transform: translate(1.25rem, -50%);
          transform: translate(1.25rem, -50%);
}

/*---- Custom File Upload Field ----*/
/* line 279, src/sass/custom-components/_form-custom.scss */
.custom-file {
  overflow: hidden;
}

/* line 283, src/sass/custom-components/_form-custom.scss */
.custom-file, .custom-file-input {
  height: 3.5rem;
  padding: 0 0.75rem;
  line-height: 3.5rem;
}

/* line 289, src/sass/custom-components/_form-custom.scss */
.custom-file-label {
  height: 3.5rem;
  padding: 0 0.75rem;
  line-height: 3.5rem;
  white-space: nowrap;
}

/* line 296, src/sass/custom-components/_form-custom.scss */
.custom-file-label:after {
  height: 3.4rem;
  line-height: 3.4rem;
  padding: 0 0.75rem;
}

/*--- Bootstrap-select Multi-Select Custom Dropdown ---*/
/* line 304, src/sass/custom-components/_form-custom.scss */
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: inherit !important;
  cursor: inherit;
}

/* line 312, src/sass/custom-components/_form-custom.scss */
.show > .btn.dropdown-toggle {
  color: #162233;
  background-color: inherit;
  box-shadow: 0 0 0 0.2rem rgba(22, 34, 51, 0.25);
}

/* line 318, src/sass/custom-components/_form-custom.scss */
input:hover, select:hover, textarea:hover {
  border-color: #162233;
}

/* line 322, src/sass/custom-components/_form-custom.scss */
.bootstrap-select .btn {
  border-color: #ced4da;
}

/* line 326, src/sass/custom-components/_form-custom.scss */
.bootstrap-select .btn:hover,
.bootstrap-select .btn:not(:disabled):not(.disabled):active,
.bootstrap-select .show > .btn.dropdown-toggle {
  border-color: #162233;
  background-color: inherit;
  color: inherit;
}

/* line 335, src/sass/custom-components/_form-custom.scss */
.bootstrap-select .btn.dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .btn.dropdown-toggle {
  outline: 0 !important;
  outline-offset: 0 !important;
}

/* line 340, src/sass/custom-components/_form-custom.scss */
.bootstrap-select .btn.focus, .bootstrap-select .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(22, 34, 51, 0.25) !important;
}

/* line 344, src/sass/custom-components/_form-custom.scss */
.dropdown-menu[x-placement^=bottom] {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

/* line 348, src/sass/custom-components/_form-custom.scss */
.dropdown-menu[x-placement^=top] {
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);
}

/* line 352, src/sass/custom-components/_form-custom.scss */
.otp-field {
  gap: 0.75rem;
}

/* line 355, src/sass/custom-components/_form-custom.scss */
.otp-field .form-control {
  width: 48px;
  height: 62px;
  font-size: 1.5rem;
  text-align: center;
}

/* line 1, src/sass/custom-components/_corner-ribbon.scss */
.ribbon {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

/* line 9, src/sass/custom-components/_corner-ribbon.scss */
.ribbon span {
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 100px;
  display: block;
  box-shadow: 0 3px 10px -5px black;
  position: absolute;
  top: 19px;
  left: -21px;
}

/*--- Gradients ---*/
/* line 2, src/sass/custom-components/_gradient-custom.scss */
.gradient {
  background: #ffaf7b;
  background: -webkit-linear-gradient(-45deg, #ffaf7b 0%, #d76d77 50%, #3a1c71 100%);
  background: -webkit-linear-gradient(315deg, #ffaf7b 0%, #d76d77 50%, #3a1c71 100%);
  background: linear-gradient(135deg, #ffaf7b 0%, #d76d77 50%, #3a1c71 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf7b', endColorstr='#3a1c71',GradientType=1 );
}

/* line 10, src/sass/custom-components/_gradient-custom.scss */
.gradient-reverse {
  background: #3a1c71;
  background: -webkit-linear-gradient(-45deg, #3a1c71 0%, #d76d77 50%, #ffaf7b 100%);
  background: -webkit-linear-gradient(315deg, #3a1c71 0%, #d76d77 50%, #ffaf7b 100%);
  background: linear-gradient(135deg, #3a1c71 0%, #d76d77 50%, #ffaf7b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a1c71', endColorstr='#ffaf7b',GradientType=1 );
}

/* line 18, src/sass/custom-components/_gradient-custom.scss */
.gradient-gray {
  background: #f7f7f7;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea', GradientType=0 );
}

/* line 29, src/sass/custom-components/_gradient-custom.scss */
.gradient-silver {
  background: #8898a3;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #8898a3), color-stop(51%, #a8b8c4), color-stop(100%, #c5d1d9));
  background: -webkit-linear-gradient(-45deg, #8898a3 0%, #a8b8c4 51%, #c5d1d9 100%);
  background: -webkit-linear-gradient(315deg, #8898a3 0%, #a8b8c4 51%, #c5d1d9 100%);
  background: linear-gradient(135deg, #8898a3 0%, #a8b8c4 51%, #c5d1d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8898a3', endColorstr='#c5d1d9', GradientType=1 );
}

/* line 40, src/sass/custom-components/_gradient-custom.scss */
.gradient-bronze {
  background: #d99e66;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #d99e66), color-stop(100%, #e8c0a0));
  background: -webkit-linear-gradient(-45deg, #d99e66 0%, #e8c0a0 100%);
  background: -webkit-linear-gradient(315deg, #d99e66 0%, #e8c0a0 100%);
  background: linear-gradient(135deg, #d99e66 0%, #e8c0a0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d99e66', endColorstr='#e8c0a0', GradientType=1 );
}

/* line 1, src/sass/buttons/_filter-button.scss */
.btn .filter {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

@media (max-width: 1200px) {
  /* line 13, src/sass/buttons/_filter-button.scss */
  .btn .filter {
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
    top: 4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  /* line 22, src/sass/buttons/_filter-button.scss */
  .btn .filter-text {
    display: block;
    position: absolute;
    left: 50%;
    top: 2px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 0.58rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
  }
}

/* line 25, src/sass/buttons/_filter-button.scss */
.btn .filter span, .btn .filter span:before, .btn .filter span:after {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: #000;
  position: absolute;
}

/* line 30, src/sass/buttons/_filter-button.scss */
.btn .filter span:before, .btn .filter span:after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  left: -3px;
}

/* line 37, src/sass/buttons/_filter-button.scss */
.btn .filter span {
  height: 10px;
  width: 4px;
  top: 10px;
  left: 14px;
  box-shadow: 8px 11px 0 #000;
}

/* line 44, src/sass/buttons/_filter-button.scss */
.btn .filter span:before {
  top: 4px;
}

/* line 47, src/sass/buttons/_filter-button.scss */
.btn .filter span:after {
  top: 15px;
}

/* line 51, src/sass/buttons/_filter-button.scss */
.btn[aria-expanded=true] .filter span {
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  background: transparent;
  box-shadow: 8px 11px 0 transparent;
}

/* line 58, src/sass/buttons/_filter-button.scss */
.btn[aria-expanded=true] .filter::after,
.btn[aria-expanded=true] .filter::before {
  opacity: 0;
}

/* line 63, src/sass/buttons/_filter-button.scss */
.btn[aria-expanded=true] .filter span.rotate::after,
.btn[aria-expanded=true] .filter span.rotate::before {
  opacity: 1;
}

/* line 68, src/sass/buttons/_filter-button.scss */
.btn[aria-expanded=true] .filter span.rotate::before {
  -webkit-transform: rotate(45deg) translate(4px, 4px);
  -ms-transform: rotate(45deg) translate(4px, 4px);
  transform: rotate(45deg) translate(4px, 4px);
}

/* line 74, src/sass/buttons/_filter-button.scss */
.btn[aria-expanded=true] .filter span.rotate::after {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
  -ms-transform: rotate(-45deg) translate(4px, -4px);
  transform: rotate(-45deg) translate(4px, -4px);
}

/*--- Category Tagging (Luxury, Distress, Senior) ---*/
/* line 2, src/sass/custom-components/_category.scss */
.category {
  position: relative;
  font-size: .7rem;
  font-weight: 600;
  padding: .24rem .5rem .24rem .5rem;
  overflow: hidden;
}

/* line 3, src/sass/custom-components/_category.scss */
.category span {
  padding: 0.3rem 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.4);
}

/* line 4, src/sass/custom-components/_category.scss */
.category img {
  max-width: 32px;
}

/* line 6, src/sass/custom-components/_category.scss */
.category.distress {
  color: #fff;
  background: #FFAFBD;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff8c9f, #ffb387);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(right, #ff8c9f, #ffb387);
  background: linear-gradient(to left, #ff8c9f, #ffb387);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* line 13, src/sass/custom-components/_category.scss */
.category.luxury {
  color: #fff;
  background: #c59a39;
  background: -webkit-linear-gradient(to left, #c59a39, #ffcb20);
  background: -webkit-linear-gradient(right, #c59a39, #ffcb20);
  background: linear-gradient(to left, #c59a39, #ffcb20);
}

/* line 20, src/sass/custom-components/_category.scss */
.category.preleased {
  color: #fff;
  background: #45B649;
  background: -webkit-linear-gradient(to left, #45B649, #ccd347);
  background: -webkit-linear-gradient(right, #45B649, #ccd347);
  background: linear-gradient(to left, #45B649, #ccd347);
}

/* line 27, src/sass/custom-components/_category.scss */
.category.senior {
  color: #fff;
  background: #4CA1AF;
  background: -webkit-linear-gradient(to left, #4CA1AF, #98c6ce);
  background: -webkit-linear-gradient(right, #4CA1AF, #98c6ce);
  background: linear-gradient(to left, #4CA1AF, #98c6ce);
}

/* line 1, src/sass/custom-components/_additional-icon-list.scss */
.additional .icon {
  position: relative;
  padding-left: 30px;
  font-weight: 600;
  font-size: 0.68rem;
  color: #7f868b;
}

/* line 2, src/sass/custom-components/_additional-icon-list.scss */
.additional .icon::before {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 3, src/sass/custom-components/_additional-icon-list.scss */
.additional .icon.rera::before {
  background-image: url(../img/rera.svg);
}

/* line 4, src/sass/custom-components/_additional-icon-list.scss */
.additional .icon.verified::before {
  background-image: url(../img/verified.svg);
}

/* line 5, src/sass/custom-components/_additional-icon-list.scss */
.additional .icon.negotiable::before {
  background-image: url(../img/negotiable.svg);
}

/* line 6, src/sass/custom-components/_additional-icon-list.scss */
.additional .icon.no-brokerage::before {
  background-image: url(../img/no-brokerage.svg);
}

/* line 7, src/sass/custom-components/_additional-icon-list.scss */
.additional .icon.oc-received::before {
  background-image: url(../img/oc-received.svg);
}

/*------ MAKE GRIDS HORIZONTAL SCROLLING ON MOBILE -----*/
/* Tip: You can still have block level elements as children of the inline element but the first child of the wrapper needs to be inline (or inline-block or inline-table). */
@media (max-width: 767px) {
  /* line 6, src/sass/custom-components/_scroll-trick.scss */
  .scroll-trick {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-right: -15px;
    /*To make it look better on mobile */
  }
  /* For Certain Conditions as in Popular Locations */
  /* line 15, src/sass/custom-components/_scroll-trick.scss */
  .text-md-nowrap {
    white-space: nowrap;
  }
  /*.scroll-trick::-webkit-scrollbar {
      display: none;
    }*/
  /* For iOS give wrapper
    .scroll-trick .wrapper {
      width: 100%;
    } */
  /* line 28, src/sass/custom-components/_scroll-trick.scss */
  .scroll-trick [class*=col-] {
    margin: 15px 0;
  }
}

/*------ LISTING GRID -----*/
@media (min-width: 576px) {
  /* line 7, src/sass/cards/_listing-box.scss */
  .listing img.listing-thumb {
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    object-fit: cover;
  }
}

/*--- Listing Agent / Developer Footer Bar ---*/
/* line 13, src/sass/cards/_listing-box.scss */
.listing.deal-maker .card-footer {
  background-color: #fff8ea;
}

/* line 14, src/sass/cards/_listing-box.scss */
.listing.area-expert .card-footer {
  background-color: #faf1fc;
}

/* line 16, src/sass/cards/_listing-box.scss */
.listing.deal-maker .user-name small, .listing.area-expert .user-name small, .listing.locality-expert .user-name small {
  padding-left: 22px;
}

/* line 19, src/sass/cards/_listing-box.scss */
.listing .posted-by {
  text-decoration: none;
}

/* line 20, src/sass/cards/_listing-box.scss */
.listing .posted-by img.user-thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 2px solid #fff;
}

/* line 21, src/sass/cards/_listing-box.scss */
.listing .user-name, .listing .developer-name {
  position: relative;
}

/* line 22, src/sass/cards/_listing-box.scss */
.listing .company-logo {
  max-width: 80px;
  max-height: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  object-fit: cover;
}

/* line 23, src/sass/cards/_listing-box.scss */
.listing .developer-logo {
  max-width: 80px;
  max-height: 50px;
  object-fit: cover;
}

/* line 24, src/sass/cards/_listing-box.scss */
.listing span.user-badge {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  left: 0;
  bottom: -1px;
}

/*--- Offer & Main Title ---*/
/* line 28, src/sass/cards/_listing-box.scss */
.listing.offer .offer-text {
  top: -3px;
  background-color: #f8f2fa;
  line-height: 1;
}

/* line 29, src/sass/cards/_listing-box.scss */
.listing .main-title, .listing.offer .offer-text {
  width: calc(100% - 115px);
  margin-top: 0;
}

/* line 30, src/sass/cards/_listing-box.scss */
.listing.offer .main-title {
  width: 100%;
  margin-top: 3px;
}

@media (min-width: 768px) {
  /* line 33, src/sass/cards/_listing-box.scss */
  .listing .main-title, .listing.offer .offer-text {
    width: calc(100% - 140px);
  }
}

@media (max-width: 575px) {
  /* line 37, src/sass/cards/_listing-box.scss */
  .listing .main-title, .listing.offer .offer-text {
    width: 100%;
  }
}

/*--- Category Tagging (Luxury, Distress, Senior) ---*/
/* line 41, src/sass/cards/_listing-box.scss */
.listing .category-wrap {
  display: block;
  float: right;
  position: relative;
  top: -3px;
  right: -8px;
}

@media (max-width: 575px) {
  /* line 44, src/sass/cards/_listing-box.scss */
  .listing .category-wrap {
    float: none;
    position: absolute;
    top: -30px;
    left: 8px;
  }
}

/* line 47, src/sass/cards/_listing-box.scss */
.listing .core-info span.h5 {
  font-size: 0.9rem;
}

/*--- PAID LISTINGS ---*/
/* line 52, src/sass/cards/_listing-box.scss */
.card.premium {
  border-color: #ffddd0;
}

/* line 53, src/sass/cards/_listing-box.scss */
.card.gold {
  border-color: #ffe5b9;
}

/* line 54, src/sass/cards/_listing-box.scss */
.card.platinum {
  border-color: #f38084 !important;
  box-shadow: 0px 0px 0px 4px #ffdee1;
}

/* line 61, src/sass/cards/_listing-box.scss */
.card.premium .ribbon span {
  background: #e86851;
}

/* line 62, src/sass/cards/_listing-box.scss */
.card.gold .ribbon span {
  background: #f5943a;
}

/* line 63, src/sass/cards/_listing-box.scss */
.card.platinum .ribbon span {
  background: -webkit-linear-gradient(315deg, #3a1c71 0, #d76d77 50%, #ffaf7b 100%);
  background: linear-gradient(135deg, #3a1c71 0, #d76d77 50%, #ffaf7b 100%);
}

@media (max-width: 1240px) {
  /* line 70, src/sass/cards/_listing-box.scss */
  .listing .core-info .h5 {
    font-size: 0.8rem;
  }
}

@media (max-width: 1024px) {
  /* line 74, src/sass/cards/_listing-box.scss */
  .listing .scroll-trick::-webkit-scrollbar {
    display: none;
  }
  /* line 76, src/sass/cards/_listing-box.scss */
  .listing .core-info .block {
    padding: 0 0.5rem;
  }
}

/* line 79, src/sass/cards/_listing-box.scss */
.listing .card-body {
  padding: 0.8rem;
}

@media (max-width: 542px) {
  /* line 82, src/sass/cards/_listing-box.scss */
  .listing .proj-name {
    font-size: 0.9rem;
  }
  /* line 86, src/sass/cards/_listing-box.scss */
  .listing .core-info .h5 {
    font-size: 0.9rem;
  }
  /* line 87, src/sass/cards/_listing-box.scss */
  .listing .listing .card-img {
    max-height: 160px;
    object-fit: cover;
  }
}

@media (max-width: 576px) {
  /* line 91, src/sass/cards/_listing-box.scss */
  .listing img.listing-thumb {
    max-height: 150px;
    object-fit: cover;
  }
}

@media (max-width: 420px) {
  /* line 95, src/sass/cards/_listing-box.scss */
  .listing .user-name {
    max-width: 140px;
  }
  /* line 96, src/sass/cards/_listing-box.scss */
  .listing .developer-name {
    max-width: 230px;
  }
}

@media (min-width: 442px) {
  /* line 100, src/sass/cards/_listing-box.scss */
  .listing .company-logo, .listing .developer-logo {
    max-width: 120px;
    max-height: 50px;
    top: auto;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

/* line 103, src/sass/cards/_listing-box.scss */
.listing .btn-actions {
  position: absolute;
  right: 8px;
  top: 8px;
}

/* line 104, src/sass/cards/_listing-box.scss */
.listing .btn-actions .btn {
  font-size: 1rem;
  padding: 0.3rem;
  line-height: 1;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

/* line 106, src/sass/cards/_listing-box.scss */
.listing .btn-actions .favorite:hover {
  background: rgba(220, 53, 70, 0.7);
  color: #fff;
}

/* line 107, src/sass/cards/_listing-box.scss */
.listing .btn-actions .favorite.active {
  background: #dc3545 !important;
  color: #fff;
}

/* line 109, src/sass/cards/_listing-box.scss */
.listing .btn-actions .btn.share:hover {
  background: rgba(46, 192, 79, 0.7);
  color: #fff;
}

/* line 110, src/sass/cards/_listing-box.scss */
.listing .btn-actions .btn.share.active {
  background: #ff7800 !important;
  color: #fff;
}

/* line 112, src/sass/cards/_listing-box.scss */
.listing .btn-actions .favorite:focus, .btn-actions .favorite.focus, .btn-actions .share:focus, .btn-actions .share.focus {
  box-shadow: none;
}

/* line 114, src/sass/cards/_listing-box.scss */
.listing .additional li {
  height: 26px;
  line-height: 26px;
}

/* line 115, src/sass/cards/_listing-box.scss */
.listing .additional .list-inline-item:not(:last-child) {
  margin-right: 1.2rem;
}

/*---- Agent Card (City Expert / Deal Maker) ----*/
/* line 2, src/sass/cards/_user-card.scss */
.user-card {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.06), 0 10px 10px -5px rgba(0, 0, 0, 0.02);
}

/* line 3, src/sass/cards/_user-card.scss */
.user-card:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
}

/* line 4, src/sass/cards/_user-card.scss */
.user-card .card-header {
  text-shadow: 1px 1px 0px rgba(150, 150, 150, 0.6);
}

/* line 5, src/sass/cards/_user-card.scss */
.user-card img.profile-pic {
  object-fit: cover;
  width: 64px;
  height: 64px;
}

/* line 6, src/sass/cards/_user-card.scss */
.user-card .name {
  font-size: .94rem;
  font-weight: 600;
}

/* line 7, src/sass/cards/_user-card.scss */
.user-card .type {
  position: relative;
  font-size: 0.72rem;
  color: white;
}

/* line 8, src/sass/cards/_user-card.scss */
.user-card .type::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 9, src/sass/cards/_user-card.scss */
.user-card .type.deal-maker, .user-card .type.area-expert, .user-card .type.locality-expert {
  padding-left: 28px;
}

/* line 10, src/sass/cards/_user-card.scss */
.user-card .type.deal-maker::before {
  background-image: url(../img/deal-maker.svg);
}

/* line 11, src/sass/cards/_user-card.scss */
.user-card .type.area-expert::before {
  background-image: url(../img/area-expert.svg);
}

/* line 12, src/sass/cards/_user-card.scss */
.user-card .type.locality-expert::before {
  background-image: url(../img/locality-expert.svg);
}

/* line 14, src/sass/cards/_user-card.scss */
.user-card .card-footer {
  background: rgba(0, 0, 0, 0.02);
}

/* line 15, src/sass/cards/_user-card.scss */
.user-card .company {
  text-decoration: none;
}

/* line 16, src/sass/cards/_user-card.scss */
.user-card .company img {
  max-width: 100px;
  max-height: 30px;
}

/* line 9, src/sass/search.scss */
body {
  padding-top: 62px;
}
