/*--- Remove Bootstrap's styling for Nav Class if needed ---*/
#pnProductNav .nav, #pnProductNav2 .nav {
	display: inherit;
	flex-wrap: inherit;
	padding-left: inherit;
	margin-bottom: inherit;
	list-style: inherit;
}

/*--- Wrap Up ---*/
.pn-ProductNav_Wrapper {
	position: relative;
	padding: 0 18px;
	box-sizing: border-box;
	z-index: 1;
}

.pn-ProductNav {
    /* Make this scrollable when needed */
    overflow-x: auto;
    /* We don't want vertical scrolling */
    overflow-y: hidden;
    /* For WebKit implementations, provide inertia scrolling */
    -webkit-overflow-scrolling: touch;
    /* We don't want internal inline elements to wrap */
    white-space: nowrap;
    /* If JS present, let's hide the default scrollbar */
    .js & {
        /* Make an auto-hiding scroller for the 3 people using a IE */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        /* Remove the default scrollbar for WebKit implementations */
        &::-webkit-scrollbar {
            display: none;
        }
    }
	/* positioning context for advancers */
	position: relative;
	// Crush the whitespace here
	font-size: 0;
}

.pn-ProductNav::-webkit-scrollbar {
    display: none;
}

.pn-ProductNav_Contents {
	float: left;
	transition: transform .2s ease-in-out;
	position: relative;
}

.pn-ProductNav_Contents-no-transition {
	transition: none;
}

.pn-ProductNav_Link {
	text-decoration: none;
	color: #7f868b;
	// Reset the font Size
	font-size: 0.75rem;
	font-weight:600;
	display: table-cell;
	align-items: center;
	height: 100%;
	// border: 1px solid transparent;
	padding: 8px 15px;
	border: 1px solid #eee;
	border-right: none;
	background: #f7f7f7;
	vertical-align: middle;
	line-height: 1.35;
	// & + & {
	// 	border-left-color: #eee;
	// }
	&[aria-selected="true"] {
		color: #6a2c79;
		// border-bottom: none;
		background: #fff;
	}
}
.pn-Advancer {
	/* Reset the button */
	appearance: none;
	background: transparent;
	padding: 0;
	border: 0;
	&:focus {
		outline: 0;
	}
	&:hover {
		cursor: pointer;
	}
	/* Now style it as needed */
	position: absolute;
	top: 0;
	bottom: 0;
	/* Set the buttons invisible by default */
	opacity: 0.2;
	transition: opacity .3s;
}

.pn-Advancer_Left {
	left: 0;
	[data-overflowing="both"] ~ &,
	[data-overflowing="left"] ~ & {
		opacity: 1;
	}
}

.pn-Advancer_Right {
	right: 0;
	[data-overflowing="both"]  ~ &,
	[data-overflowing="right"] ~ & {
		opacity: 1;
	}
}

.pn-Advancer_Icon {
	width: 12px;
	height: 44px;
	fill: #bbb;
}

.pn-ProductNav_Indicator {
	position: absolute;
	top: 0;
	left: 0;
	height: 2px;
	width: 100px;
	background-color: transparent;
	transform-origin: 0 0;
	transition: transform .2s ease-in-out, background-color .2s ease-in-out;
}