/*--- Make Tabs Collasible on Mobile ---*/
.tabs-collapse .nav-tabs {
    display:none;
}
  
@media(min-width:768px) {

    .tabs-collapse .nav-tabs {
        display: flex;
    }

    .tabs-collapse .card {
        border: none;
    }

    .tabs-collapse .card .card-header {
        display:none;
    }  

    .tabs-collapse .card .collapse{
        display:block;
    }
}


@media(max-width:767px) {
    /*
    * Changed selector to `.tab-content > .tab-pane` to override `.fade:not(.show)`
    * In BS4 Beta `.tab-pane`s were rendered hidden by just `.fade`
    */
    .tabs-collapse .tab-content > .tab-pane {
        display: block;
        opacity: 1;
    }
}