@mixin text-contrast($n) {
    $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
    $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);
    
    @if abs($color-brightness) < ($light-color/2){
      color: white;
    }
  
    @else {
      color: black;
    }
  }

.bg-primary {@include text-contrast(#162233);}
.bg-secondary {@include text-contrast(#ee324b);}
.bg-dark {@include text-contrast(#000000);}
.bg-med-dark {@include text-contrast(#373c3f);}
.bg-white {@include text-contrast(#ffffff);}
.bg-light {@include text-contrast(#f8f9fa);}
.bg-success {@include text-contrast(#28a745);}
.bg-danger {@include text-contrast(#dc3545);}
.bg-warning {@include text-contrast(#ff7800);}
.bg-info {@include text-contrast(#17a2b8);}

