@import "custom-components/modal-custom";

/* html, body {height: 100%;} */

a:focus, div:focus, button:focus {outline: none;}

/* .btn-outline-primary {border-color: #cdd3d9;}
.btn-outline-primary:hover {background-color: #eae1ec; color:#6a2c79;} */

.mt-6, .my-6 {margin-top: 4.5rem;}
.mb-6, .my-6 {margin-bottom: 4.5rem;}
.mt-7, .my-7 {margin-top: 6rem;}
.mb-7, .my-7 {margin-bottom: 6rem;}

.text-ellipsis {white-space: nowrap; overflow: hidden;-o-text-overflow: ellipsis;  text-overflow: ellipsis;}

video {max-width: 100%;}

.lh-1 {
  line-height: 1;
}

.lh-sm {
  line-height: 1.25;
}

.lh-base {
  line-height: 1.5;
}

.lh-lg {
  line-height: 2;
}


/* h1 Tag replaced with svg for better seo */
span.heading {
  -webkit-clip: rect(0 0 0 0);
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  overflow: clip;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.drop-sm-icons .dropdown-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
}
.drop-sm-icons .dropdown-item::before {
  font-size: 1rem;
}


/*---- Subtle Colors for Ghar.tv ----*/
/* .bg-subtle-red {background-color: #FFF5F6;}
.bg-subtle-green {background-color: #EDF5E6;}
.bg-subtle-yellow {background-color: #FEF4E4;}
.bg-subtle-blue {background-color: #E8F7F7;}
.bg-subtle-purple {background-color: #FAF0F8;} */

.border-subtle-red, .badge-subtle-red {border: 1px solid #F3C7CB;}
.border-subtle-green, .badge-subtle-green {border: 1px solid #B7DE96;}
.border-subtle-orange, .badge-subtle-orange {border: 1px solid #fbd69a;}
.border-subtle-blue, .badge-subtle-blue {border: 1px solid #91DFDF;}
.border-subtle-purple, .badge-subtle-purple {border: 1px solid #EBB4E0;}


/*-- Make Text Size Slightly Big than normal p --*/
.slight-big {font-size: 0.83rem;}


/*--- Use for Table width adjustment according to content ---*/
.max-content-md {width: max-content;}
.max-content-lg {width: 100%;}

@media(min-width:768px) {
  .max-content-lg {width: max-content;}
  .max-content-md {width: 100%;}
}

.sticky-bottom {
  @supports (position: sticky) {
    position: sticky;
    bottom: 0;
    z-index: $zindex-sticky;
  }
}


/*-- Brand Yellow Border on Left of Titles --
.brand-border {border-left:3px solid #fead00;}
.brand-border small {font-size:0.7rem; font-weight:600;  text-transform:uppercase; letter-spacing:0.09rem;}*/


/*---- CALL TO ACTION - BUY PACKAGE BUTTON ---*/
.buy-package {display:flex; width:auto; height:40px; position:fixed; right: 0; bottom: 0; padding: 0.8rem; color:#fff; z-index:3;}
.buy-package span {position: relative; width:40px; height:40px; right: 0.3rem; top:-1rem; background: url('../img/package.svg') center center no-repeat; background-size: contain; animation-iteration-count: 3;}
.buy-package:hover {color:#fff; background:#6a2c79;}


/*--- MORE LESS INDICATOR FOR COLLAPSE ---*/
.more[aria-expanded=false]:after{content:"More +";}
.more[aria-expanded=true]:after{content:"Less -";}

/*--- View All Button on Desktop & Gradient Card on Mobile ---*/
.view-all {
  background: #ffaf7b;
  background: -webkit-linear-gradient(-45deg,#ffaf7b 0,#d76d77 50%,#3a1c71 100%);
  background: -webkit-linear-gradient(315deg,#ffaf7b 0,#d76d77 50%,#3a1c71 100%);
  background: -o-linear-gradient(315deg,#ffaf7b 0,#d76d77 50%,#3a1c71 100%);
  background: linear-gradient(135deg,#ffaf7b 0,#d76d77 50%,#3a1c71 100%);
  line-height: 1.2;
}
.view-all a {font-size: 1.275rem; color: #fff;}

@media(min-width:768px) {
  .view-all {
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .view-all a {font-size: 0.9rem; color: #162233;}
}


/*--- Masonry Columns Different Size (in footer especially) ---*/
.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

@media (max-width: 576px) {
  .card-columns .card {flex:0 0 auto;}
}
  



/*--- STRIKE THROUGH CAPTION ---*/
.strike-caption {text-transform: uppercase; font-weight: 600; font-size: 0.75rem; letter-spacing: 0.05rem; color: #a5a5a5; position: relative; background: #fff; z-index: 1;
  &::before {
    border-top: 1px solid #eee;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
  }
  & span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
    background: #fff; 
    padding: 0 15px; 
  }
}

.helper {text-decoration: underline dotted; cursor: help;}
.small-list {font-size: 0.8rem; list-style-position: outside;}
.ellipsis-more {position:absolute; right: 0; top:0;}

/* Horizontal Inline Bullet List */
ul.dot-list li {position: relative;}
ul.dot-list li:not(:first-child) {padding-left: 0.35rem;}
ul.dot-list li:not(:first-child)::before {font-size: 1.1rem;}
ul.dot-list li:not(:first-child)::before {
    content: '\2022';
    display: block;
    position: absolute;
    left: -0.35rem;
    top: 50%;
    transform: translateY(-50%);
}

.description {max-width: calc(100% - 40px);}
.description h3 {line-height: 1.5 !important;}

img.user-thumbnail {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
  border: 2px solid #fff;
}

@media (min-width: 1200px) {
  .container-xl {
      max-width: 100%;
      margin: 0 8%;
  }
}

.caption, .caption-md, .caption-sm, .caption-xs {
  font-weight: bold;
  text-transform: uppercase;
}

.caption {
  font-size: 1rem;
  letter-spacing: .3rem;
}

.caption-md {
  font-size: .9rem;
  letter-spacing: .2rem;
}

.caption-sm {
  font-size: .85rem;
  letter-spacing: .1rem;
}

.caption-xs {
  font-size: .75rem;
  letter-spacing: .085rem;
}

.rounded-big {
  border-radius:20px;
}

/*--- FOOTER ---*/
footer ul li {padding-bottom: 10px;}

footer a.all-properties span {position: relative;}
footer a.all-properties span::after {content:''; display: block; position: absolute; right: -15px; top: 50%; transform: translateY(-50%);}
footer a.all-properties[aria-expanded="false"] span::after {content: '+'; }
footer a.all-properties[aria-expanded="true"] span::after {content: '-'; }
footer .collapse ul li a {color: $gray;}
footer .collapse ul li a:hover {color: $dark;}

footer li a {color: $gray;}
footer li a:hover {color:$secondary}

footer .contact li {position: relative; padding-left: 30px; font-size:0.85rem;}
footer .contact li:before {display: block; width:32px; height: 42px; position: absolute; left:0; top:0; font-family: "icomoon"; font-size: 1.3rem;}
footer .contact li.mail:before {content: "\e927";}
footer .contact li.call:before {content: "\e92d";}

footer .social li {font-size: 1.5rem;}
footer .social li a {text-decoration: none;}



/*--- FESTIVE TEMPORARY
@media (max-width:768px) {
#panel {display:none !important;}
}

@media (min-width:768px) {
  #panel {
    position:relative;
    width:100%;
    overflow:hidden;
    clear:both;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
  }

  #panel #close {position:absolute; top:10px; right:15px;}

  #panel video {display: block; width:100%; height:auto;}
} ---*/