/* @import "cards/card-features"; */
@import "custom-components/form-steps";
@import "custom-components/form-progressbar";

html, body {height: 100%;}

.nav-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* .hero {
    min-height: calc(100vh - 63px);
} */

@media (min-width: 992px) {

    .hero {
        min-height: calc(100vh - 79px);
    }

    .form-box {
        position: fixed;
        top: 79px;
        right: 0;
    }

    .form-box {
        height: calc(100% - 79px);
    }

/*.content {float: right;} */

    .min-vh-100-lg {
        min-height: 100vh;
    }
}

/* @media (min-width: 1920px) {
    .form-box .wrap {
        margin-right: 16.666667%;
    }
    .creative .wrap, .content .wrap {
        margin-left: 16.666667%;
    }
} */

.brand {
    display: inline-block;
}

.brand svg {
    height: 31px;
    max-width: 28px;
    width: 100%;
}

.brand svg .symbol, .brand svg .text {
    fill: #ee324b;
}

@media (min-width: 1024px) {
    .brand svg {
        max-width: 140px;
    }
    .brand svg .text {
        display: block;
    }
    .brand svg {
        max-width: 140px;
    }
}


.creative {
    background-color: #fff5f6;
}

.pointers img {
    display: none;
}

.pointers li {
    padding: 0;
}

.pointers li p {
    font-weight: 600;
    font-size: calc(.8rem + .135vw);
    line-height: 1.2;
}

@media (min-width: 1440px) {

    .pointers li {
        padding: 20px;
    }

    .pointers li p {
        
    margin-bottom: 0;
    }
    
    .pointers img {
        max-width: 85px;
    }
    
}

@media (min-width: 992px) {
    .pointers li {
        padding: 15px;
    }
    .pointers img {
        max-width: 64px;
    }
}

@media (min-width: 768px) {
    .pointers li {
        background: #fff;
        box-shadow: 0 5px 15px 0 rgba(238, 50, 75, 0.1);
        padding: 15px;
        border-radius: 10px;
    }
    .pointers img {
        display: block;
        width: 100%;
        max-width: 42px;
        height: auto;
        margin: 0 auto;
    }
    .man-thumbs {
        min-height: 20rem;
    }
}

/* @media (max-width: 420px) {
    .pointers li:last-child {
        flex: 1 1 auto;
    }
} */



.man-thumbs {
    position: relative;
    background: url('../img/man-thumbs-l.jpg') center bottom/contain no-repeat;
    min-height: 10rem;
}

@media (min-width: 576px) {
.man-thumbs {min-height: 15rem;}
}

/* @media (max-width: 575px) {
    .man-thumbs {
        min-height: 15rem;
    }
} */

/* span.title-line {
    width: 60px;
    height: 5px;
}

.signup {
    overflow-x: hidden;
}

.signup .creative {
    max-width: 500px;
    width: 100%;
    height: 100%;
}

.signup-box {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
  
@media(max-width:991px){
    .signup .creative {
        max-width: 250px;
    }
}

@media(max-width:767px){
    .signup .creative {
        max-width: 180px;
    }
}

@media(max-width:576px){
    .signup .creative {
        max-width: 150px;
    }
}

.signup ul.list-check {
    list-style: none;
    padding: 0;
}

.signup ul.list-check li {
    font-size: calc(.85rem + 0.1vw);
    font-weight: 600;
    margin-bottom: 0.65rem;
    color: #575757;
}

.signup ul.list-check li::before {
    color: #28a745;
    padding-right: 0.85rem;
    font-weight: 600;
} */