// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

// Changing the Font for specific templates
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1280px
);

$font-family-sans-serif: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$enable-responsive-font-sizes: true;

$font-size-base: 0.85rem;

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-extra-bold: 700;

$line-height-base:            1.5;

$headings-font-weight:        600;

$lead-font-size:              $font-size-base * 1.2;
$lead-font-weight:            400;

// Enabling shadows and gradients
$enable-shadows: false;
$enable-gradients: false;

// Changing the border radius of buttons
$border-radius: 5px;

// Changing the theme colors
$primary: #162233;
$secondary:  #ee324b;
$warning: #ff7800;
$dark: #000000;
$white: #fff;
$gray:#76808e;
$light-gray:#e8e8e8;

// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
$theme-colors: (
    "med-dark": #2e2e2e,
    // "teal": rgba(255, 119, 255, 1),
    "white": #fff,
    // "dark-gray": #474747,
    "gray": #76808e,
    "light-gray": #e8e8e8,
    "light": #f7f7f7,
    "white-50": rgba(255,255,255,0.5),
    "black-50": rgba(0,0,0,0.5),
    "white-25": rgba(255,255,255,0.25),
    "black-25": rgba(0,0,0,0.25),
	"subtle-red": #FFF5F6,
	"subtle-green": #EDF5E6,
	"subtle-orange": #fef4e4,
	"subtle-blue": #E8F7F7,
	"subtle-purple": #FAF0F8,
	"light-red": #F3C7CB,
	"light-green": #B7DE96,
	"light-orange": #fbd69a,
	"light-blue": #91DFDF,
	"light-purple": #EBB4E0
);

// Changing the body background and text
$body-bg: $white;
$body-color: #162233;

$link-color: $primary;

$input-color: $primary;


$baseline: 0.85rem;

$minScreen: 20rem;
$maxScreen: 50rem;
$minFont: .9rem;
$maxFont: 1rem;

$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .9rem;


@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
	& {
		@each $property in $properties {
			#{$property}: $min-value;
		}

		@media screen and (min-width: $min-vw) {
			@each $property in $properties {
				#{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}
		}

		@media screen and (min-width: $max-vw) {
			@each $property in $properties {
				#{$property}: $max-value;
			}
		}
	}
}

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

/* html {
	text-rendering: optimizeLegibility;
	@include fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont);
} */



h1 {
	font-size: $h1;
	line-height: $h1;
	margin-top: calc((#{$baseline} - #{$h1}) + #{$baseline});
}

h2 {
	font-size: $h2;
	line-height: $h2;
	margin-top: calc((#{$baseline} - #{$h2}) + #{$baseline}*2);
}

h3 {
	font-size: $h3;
	line-height: $h3;
	margin-top: calc((#{$baseline} - #{$h3}) + #{$baseline}*2);
}

h4 {
	font-size: $h4;
	line-height: $h4;
	margin-top: calc((#{$baseline} - #{$h4}) + #{$baseline}*2);
}

h5 {
	font-size: $h5;
	line-height: $h5;
	margin-top: calc((#{$baseline} - #{$h5}) + #{$baseline}*2);
}

/* $zindex-offcanvas-backdrop:         1040;
$zindex-offcanvas:                  1045;

$offcanvas-padding-y:               1rem;
$offcanvas-padding-x:               1rem;
$offcanvas-horizontal-width:        400px;
$offcanvas-vertical-height:         30vh;
$offcanvas-transition-duration:     .3s;
$offcanvas-border-color:            rgba($dark, .2);
$offcanvas-border-width:            1px;
$offcanvas-title-line-height:       $line-height-base;
$offcanvas-bg-color:                $body-bg;
$offcanvas-color:                   $body-color;
$offcanvas-box-shadow:              0 .25rem .5rem rgba($dark, .5);
$offcanvas-backdrop-bg:             $dark;
$offcanvas-backdrop-opacity:        .5; */


// .btn-primary {
//     background: $primary;
//     &:hover,
//     &:focus,
//     &:active {
// 		background-color: lighten( $primary, 5%)!important;
// 		border-color:transparent;
//     }
// }

// .btn-secondary {
//     background: $secondary;
//     &:hover,
//     &:focus,
//     &:active {
//         background-color: lighten( $secondary, 5%)!important;
// 		border-color:transparent;
//     }
// }