@import "custom-components/form-custom";
@import "custom-components/modal-custom";
@import "custom-components/hover-shadow";
@import "custom-components/scroll-trick";
// @import "custom-components/gradient-custom";
@import "custom-components/tags-list";
@import "navigation/secondary-nav";
@import "buttons/gradient-button";
// @import "tabs/tabs-to-collapse";

.main-content.sub-nav-hero {margin-top: 292px !important; padding-top: 0;}

header.secondary-nav, header.secondary-nav nav {font-size:inherit;}

header.secondary-nav {
    display: block;
    width: 100%;
    position: fixed;
    top: 62px;
    padding-top: 62px;
    clear: both;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

header.secondary-nav.slide-up {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

header.secondary-nav img.agent-type {max-width: 16px;}

header.scroll-bg .dealer .agent-pic img {
    max-width:200px;
    object-fit: cover;
    margin-right: 3rem;
    -webkit-border-radius: 5px!important;
    border-radius: 5px!important;
    transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease;
}
header.scroll-bg.scrolled .dealer .agent-pic img {
    max-width: 48px;
    margin-right: 1rem;
    -webkit-border-radius: 50%!important;
    border-radius: 50%!important;
    transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease;
}

header.secondary-nav .dealer-info .card {border:none; color: #7f868b; background: #f7f7f7;}

header.scroll-bg h4 {font-size: 1.275rem;}
header.scroll-bg h4 span {font-size: 0.9rem; font-weight: 500;}
header.scroll-bg .member-id {display: inherit;}
header.scroll-bg .dealer-info {display: flex;}
header.scroll-bg .call-to-action {width: 100%;}
header.scroll-bg .agent-logo img {padding:.15rem; max-width: 150px; object-fit: cover;}

header.scroll-bg.scrolled h4 {font-size: 0.95rem; margin-bottom: 0;}
header.scroll-bg.scrolled h4 span {font-size: 0.75rem;}
header.scroll-bg.scrolled .member-id, header.scroll-bg.scrolled .dealer-info {display: none;}
header.scroll-bg.scrolled .call-to-action {display: block; width: auto; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

header.scroll-bg.scrolled .agent-logo {position: absolute; left: 50%; transform: translateX(-50%);}
header.scroll-bg.scrolled .agent-logo img {max-width: 150px; max-height: 42px;}


header.scroll-bg.scrolled .dealer {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

header.scroll-bg.scrolled {
    padding: 0.5rem 0;
    -webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.breadcrumb-wrap .breadcrumb {margin-bottom: 0;}
.breadcrumb-wrap.scroll-bg {display:block; width:100%; position: absolute; top: 72px; left: 50%; transform: translateX(-50%); z-index: 5;}
.breadcrumb-wrap.scroll-bg.scrolled {display: none;}

.sticky-mobile {
    position: fixed; top: auto; left: 0; bottom: 0; width: 100%; padding: 0.5rem; background: #fff; z-index: 3; -webkit-box-shadow:  0 -0.125rem .25rem rgba(0,0,0,.095);
    -moz-box-shadow:  0 -0.125rem .25rem rgba(0,0,0,.095);
    box-shadow:  0 -0.125rem .25rem rgba(0,0,0,.095);
}

.sticky-mobile {display: none;}

.core-info .small.text-gray, .details .small {font-size: 90%;}

.core-info .total span {padding-left: 2.8rem; display:block;}
.core-info .total::before {content:''; display: block; width: 38px; height: 38px; position: absolute; left: 15px; top: 50%; transform: translateY(-50%); background: center center no-repeat; background-size:contain;}

.core-info .total.listings::before {background-image: url(../img/icon-propertylisting.svg);}
.core-info .total.localities::before {background-image: url(../img/icon-localities.svg);}
.core-info .total.categories::before {background-image: url(../img/icon-deals.svg);}
.core-info .total.experience::before {background-image: url(../img/icon-experience.svg);}



@media(max-width:991px) {

    header.secondary-nav img.agent-type {max-width: 14px;}

    header.scroll-bg h4 {font-size: 1rem;}
    header.scroll-bg h4 span {font-size: 0.85rem; font-weight: 500;}

    header.scroll-bg .dealer .agent-pic img {max-width: 150px; margin-right:2rem; object-fit: cover;}

    header.scroll-bg.scrolled .dealer .agent-pic, header.scroll-bg.scrolled .details {width: auto;}
    header.scroll-bg.scrolled h4 {font-size: 0.85rem;}

    header.scroll-bg.scrolled .agent-logo {position: absolute; left: auto; right: 15px; transform: none;}

    .core-info span.h5 {font-size: .9rem;}
    
}

@media(max-width:768px) {
    .breadcrumb-wrap.scroll-bg {top: 64px;}

    header.secondary-nav {padding-top: 46px;}
    
    header.secondary-nav .dealer-info .card {background: none;}

    .sticky-mobile {
        display: block;
        position: fixed; left: 0; right:0; bottom: 0;
        width: 100%;
        padding: 0.5rem;
        background: #fff;
        z-index: 3;
        -webkit-box-shadow:  0 -0.125rem .25rem rgba(0,0,0,.095);
        -moz-box-shadow:  0 -0.125rem .25rem rgba(0,0,0,.095);
        box-shadow:  0 -0.125rem .25rem rgba(0,0,0,.095);
    }
    
    

    .main-content.sub-nav-hero {margin-top: 210px!important;}

    header.scroll-bg .dealer .agent-pic img {max-width: 100px; margin-right:1.2rem;}

    header.scroll-bg .dealer-info {display: block;}

    header.scroll-bg .agent-logo {margin-top: 1rem;}
    header.scroll-bg.scrolled .agent-logo {margin-top: 0;}
    
    header.scroll-bg.scrolled .connect, header.scroll-bg.scrolled .view-phone, header.scroll-bg.scrolled .share {display: none;}

    .core-info .total span {padding-left: 2.3rem;}
    .core-info .total::before {width:30px; height:30px}
}

@media(max-width:576px) {
    .main-content.sub-nav-hero {margin-top: 180px!important;}

    header.secondary-nav {padding-top: 38px;}
    header.scroll-bg .dealer .agent-pic img {max-width: 64px; margin-bottom: 10px; margin-right: 0.8rem;}
    header.scroll-bg.scrolled .dealer .agent-pic img {max-width: 38px; margin-right: 0.5rem; margin-bottom: 0;}

    .core-info .total span {padding-left:0;}
    .core-info .total::before {display: none;}
}

@media(max-width:400px) {
    .main-content.sub-nav-hero {margin-top: 180px!important;}
    #listing-tabs .nav-link {
        padding: .5rem 0.7rem;
    }
}

/*--- Resale & Rental ---*/
.card.card-thumb img.card-img-top {max-height: 120px; object-fit: cover; -o-object-fit: cover;}
.posted-by .name {font-size: 0.72rem; font-weight: 600;}
.posted-by .designation img {max-width: 16px;}

