
@import "bootstrap";
@import "color_function";
@import "icon-fonts";
@import "custom-components/form-custom";
@import "custom-components/slick-custom";
@import "custom-components/hover-shadow";
@import "custom-components/scroll-trick";
@import "custom-components/modal-custom";
@import "custom-components/gradient-custom";

a:focus, div:focus, button:focus {outline: none;}

body {font-family: 'Barlow', sans-serif; font-size: 1rem;}
p {color: #525252; line-height: 1.8; font-family: 'Merriweather', serif;}
h1,h2,h3,h4,h5,h6 {font-family: 'Barlow', sans-serif;}

video {max-width: 100%;}

.brand-border {
  border-left: 3px solid #fead00;
}

.navbar {min-height: 62px; margin-bottom: 0; padding: 0 1rem;}

.navbar.scroll-bg {background: transparent; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease;}
.navbar.scroll-bg.scrolled {background: #000;}

.secondary-gradient {
  background: #febd00;
  background: -moz-linear-gradient(-45deg,  #febd00 0%, #fe9600 100%);
  background: -webkit-linear-gradient(-45deg,  #febd00 0%,#fe9600 100%);
  background: linear-gradient(135deg,  #febd00 0%,#fe9600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febd00', endColorstr='#fe9600',GradientType=1 );
}
.btn.secondary-gradient {color:rgba(0,0,0,0.8);font-weight:600; text-shadow: 1px 1px 1px rgba(254, 206, 0, 1);}
.btn.secondary-gradient:hover {
  color:#000;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.4);
}

/*---- CLIPPER IMAGE ----*/
.clipper {
  width: 100%;
  height: 150px;
}

.clipper img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height: 150px;
  object-fit: cover;
  -o-object-fit: cover
}

/*-------custom-form-css------*/
.input-group-lg>.custom-select, .input-group-lg>.form-control:not(textarea) {
  height: calc(1.5em + 1.37rem + 2px);
}

#blog-header h1 {font-size: 3.5rem;}
#blog-header p {font-size:1.1rem; color: #424242; line-height: 1.5;}

/*--- POPULAR ---
#popular .clipper img {
    max-width: 128px;
    max-height: 128px;
    margin: 0 auto
}*/

@media (max-width:768px) {
  #blog-header h1 {font-size: 2.3rem;}
  #blog-header P {font-size: 1rem;}
}

@media (max-width:576px) {
  #blog-header img {max-width: 120px;}
  #blog-header h1 {font-size: 1.8rem; text-align: center;}
  #blog-header P {text-align: center; font-size: 0.98rem; line-height: 1.6;}
}

.fresh-blog h3 {font-size: 1.8rem;}
.fresh-blog h3 a {color: #000;}

.fresh-blg-badge {    
  font-size: 0.95rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear,left top,right top,from(#ff8a00),to(#e52e71));
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width:576px) {
  .fresh-blog h3 {font-size: 1.4rem; line-height: 1.3;}
}

a.read-more {color: #000; font-size: 0.80rem; font-weight: 600; text-decoration: underline;}

#popular h4 {font-size: 2rem;}
#popular h5 a {font-size: 1.2rem; color: #000;}
.info li {color: #676767;}

.right-panel h5 a {color: #000; font-size: 1.2rem; line-height: 1.4;}

.right-panel ul li {font-size: 0.85rem; color: #525252;}

#blog-listings h4 a {color: #000; font-size: 1.6rem;}
#blog-listings ul li {color: #525252;}

.right-panel h4.title {font-size: 1.3rem;}
.right-panel p {font-size: 0.85rem;}
.right-panel ul li a {color: #525252;}


//*------------MODAL-------------*// 

#modal-beforeyougo .modal-body h3.title {font-family: Merriweather,serif; font-style: italic; font-size: 3.2rem; color: #8c8c8c;}

#modal-beforeyougo .modal-body p {font-family: Barlow,sans-serif; font-size: 1.6rem; color: #ffffff; font-weight: 400;}

#modal-beforeyougo .modal-body img {max-width: 250px;}

.modal-backdrop{background: #000;}
.modal-backdrop.fade{opacity:0}
.modal-backdrop.show{opacity:.90}

@media (max-width:576px) {
  #modal-beforeyougo .modal-body h3.title {font-size: 2.5rem; text-align: center;}
  #modal-beforeyougo .modal-body p {font-size: 1.4rem; text-align: center; line-height: 1.3;}
  #modal-beforeyougo .modal-body img {max-width: 180px;}
  #modal-beforeyougo .modal-body .btn.secondary-gradient {display: block;}
}