// @import "cards/card-features";

html, body {height: 100%;}
    
body {padding-top:62px;}

.cta-signup .wrap {
    background-color: #fff5f6;
    border-radius: 20px;
    border: 1px solid #d7d7d7;
    box-shadow: 0px 9px 24px rgba(22, 34, 51, 0.1);
    overflow: hidden;
}

.cta-signup img.man-thumbs {
    max-width: 200px;
    width: 100%;
    object-fit: cover;
}

.cta-signup .content {
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(164, 45, 61, 0.18);
    position: relative;
    z-index: 1;
}

.cta-signup h5 {
    font-size: 1rem;
    letter-spacing: 0.075rem;
}


.cta-signup ul {
    padding-left: 1rem;
}
.cta-signup ul li {
    padding: .5rem 0;
}

.cta-signup ul li:not(:last-child) {
    border-bottom: 1px solid #E3E3E3;
}


@media (min-width:767px) {
    body {padding-top: 79px;}
    
    .cta-signup img.man-thumbs {
        max-width: 250px;
        width: 100%;
    }
    .cta-signup .wrap {
        border-color: transparent;
        box-shadow: none;
    }
    .cta-signup .content {
        border-radius: 20px;
    }
    .cta-signup h5 {
        font-size: .85rem;
        letter-spacing: 0.1rem;
    }
    
    .search.scroll-bg {opacity:0; transform: translate(0, -999px); transition: all .5s ease;}
    .search.scroll-bg.scrolled {opacity:1; transform: translate(0px, 0px);}
}

@media (min-width:768px) and (max-width:991px) {
    .cta-signup .wrap {
        border: 1px solid #F3C7CB;
    }
    .cta-signup .content {
        border-radius: 0;
    }
}

@media (min-width: 991px) {
    .hero {
        min-height: calc(100vh - 79px);
    }
    .hero .row, .cta-signup {min-height: 100%;}

    .cta-signup img.man-thumbs {
        max-width: 260px;
    }
    .cta-signup ul {padding-left: 1.5rem;}

    .cta-signup h5 {
        font-size: .85rem;
        letter-spacing: 0.15rem;
    }
}

@media (min-width:1440px) {
    .cta-signup img.man-thumbs {
        max-width: 320px;
        width: 90%;
    }
    .cta-signup h5 {
        font-size: 1rem;
        letter-spacing: .15rem;
    }
    .cta-signup {
        margin-left: 8.33333%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .cta-signup .btn {
        padding: .75rem 1.5rem;
    }
    
}

.hero-wrap {
    height: auto;
    min-height: 100%;
}


/* --------------------------------
xclip - Flipping Animation on Header
-------------------------------- */
.headline.clip span {
    display: inline-block;
    padding: 0.2em 0;
}
.headline.clip .words-wrapper {
    overflow: hidden;
    vertical-align: top;
}
.headline.clip .words-wrapper::after {
    /* line */
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #ee324b;
    animation: text-anim-pulse 0.8s infinite;
}
.headline.clip b {
    opacity: 0;
}
.headline.clip b.is-visible {
    opacity: 1;
}

.words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}
.words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    font-weight: 600;
}
.words-wrapper b.is-visible {
    position: relative;
}
.no-js .words-wrapper b {
    opacity: 0;
}
.no-js .words-wrapper b.is-visible {
    opacity: 1;
}

@keyframes text-anim-pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.numbers .card {
    border-radius:10px;
    box-shadow: 5px 9px 24px rgba(0, 0, 0, 0.1);
}

p.categories-title {
    position: relative;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}
p.categories-title::after {
    content:'';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left:50%;
    transform: translateX(-50%);
    background-color: #ee324b;
    border-radius: 50px;
}

.search-btn {
    position: relative;
    width: 100%;
    padding: 1rem 1.25rem !important;
    font-size: 1rem;
    cursor: text;
    color: #76808e;
    border: 1px solid #E3E3E3;
    border-radius: 50rem;
    box-shadow: 0 1px 2px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.05);
}
.search-btn:hover {color:#162233; border-color: #162233;}
.search-btn span.i-search {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    padding: .5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .48rem;
    background-color: #ee324b;
}
.search-btn span.i-search::before {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 1.25rem;
    color: #fff;
    transform: translate(-50%, -50%);
}

.fancybox__content {border-radius: 15px;}