@import "accordion";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
}

.lead {
  font-weight: 500;
}

.navbar-light.scroll-bg {
  border:none;
  background-color: transparent;
}

.navbar-light.scroll-bg.scrolled {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  background-color: #fff;
}

.navbar-light.scroll-bg .btn-cta {
  visibility: hidden;
  opacity: 0;
}

.navbar-light.scroll-bg.scrolled .btn-cta {
  visibility: visible;
  opacity: 1;
}

.navbar-light .navbar-brand {
  padding: 0;
}

.navbar-light .navbar-brand svg {
  height: 31px;
  max-width: 28px;
  width: 100%;
}

.navbar-light .navbar-brand svg .symbol, .navbar-light .navbar-brand svg .text {
  display: block;
}

.navbar .btn-cta {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero {
  min-height: 100vh;
}

.hero .cta {
  padding: 0.75rem 0;
  border-radius: 10px;
}

.hero .svg-title {
  max-width: 250px;
  width: 100%;
  height: auto;
}


#about-ghar .figures .card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#about-ghar .figures h4, #about-ghar p {margin: 0;}
#about-ghar .figures h4 {position: relative;}
#about-ghar .figures h4::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 3px;
  background: #ee324b;
}

#ghar {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  width: 100%;
}

#ghar .tagline {
  fill: #4f4f50;
}

#ghar .symbol, #ghar .text {
  fill: #ee324b;
}

#about-ghar .features {
  border-top: 1px dashed #4f4f50;
  margin-top: 70px
}

#about-ghar .features:before {
  border-left: 1px dashed #4f4f50;
  content: "";
  display: block;
  height: 50px;
  left: 50%;
  position: absolute;
  top: -60px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

#about-ghar .features h4 {
  color: #4f4f50
}

#about-ghar .features .icon {
  background-image: url('../img/sprite-icons-deals.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 60px;
  margin: 65px auto 0;
  position: relative;
  width: 60px;
  @supports (background-image: url('../img/sprite-icons-deals.webp')) {
    background-image: url('../img/sprite-icons-deals.webp');
  }
}


#about-ghar .features .icon:before {
  border-left: 1px dashed #4f4f50;
  content: "";
  display: block;
  height: 50px;
  left: 50%;
  position: absolute;
  top: -60px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

#about-ghar .features .icon.cost {
  background-position: 0 0
}

#about-ghar .features .icon.custom {
  background-position: 0 -60px
}

#about-ghar .features .icon.ai {
  background-position: 0 -120px
}

#about-ghar .features .icon.tech {
  background-position: 0 -180px
}


.package .title {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

#package button {
  font-size: 1.35rem;
}
svg.increase {
  max-width: 220px;
  width: 100%;
}

.offerings {
  border-top: 2px dashed #A3A4A5;
  background-color: rgba(255,255,255,0.1);
}

.package {border: 2px dashed #A3A4A5;}

.offerings>div {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}

#testimonials .carousel-indicators li {
  background-color: #4f4f50;
  margin-left: 6px;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

#testimonials .carousel img.profile {
  width: 100%;
  max-width: 150px;
  height: auto;
}

#testimonials .carousel .card .h2 {
  position: relative;
}

#testimonials .carousel .card .h2::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -55px;
  width: 50px;
  height: 44px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 57.407 50.231'%3E%3Cpath fill='%23dfe0e1' d='M52.025 25.116h-8.97V17.94a7.183 7.183 0 0 1 7.176-7.176h.9a2.685 2.685 0 0 0 2.691-2.691V2.691A2.685 2.685 0 0 0 51.128 0h-.9a17.935 17.935 0 0 0-17.94 17.94v26.91a5.383 5.383 0 0 0 5.382 5.382h14.355a5.383 5.383 0 0 0 5.382-5.382V30.498a5.383 5.383 0 0 0-5.382-5.382Zm-32.292 0h-8.97V17.94a7.183 7.183 0 0 1 7.176-7.176h.9a2.685 2.685 0 0 0 2.691-2.691V2.691A2.685 2.685 0 0 0 18.837 0h-.9A17.935 17.935 0 0 0 0 17.94v26.91a5.383 5.383 0 0 0 5.382 5.382h14.352a5.383 5.383 0 0 0 5.382-5.382V30.498a5.383 5.383 0 0 0-5.382-5.382Z'/%3E%3C/svg%3E");
}

#campmodal .modal-body .close {
  font-size: 3rem;
  font-weight: 400;
  position: relative;
  right: 1rem;
}

@media (max-width: 991px) {
  .creative {
    background-color: #FCD5DA;
  }
}

@media (min-width: 576px) {
  .hero .svg-title {
    max-width: 350px;
  }
  .hero .cta {
    font-size: 1.4rem;
    letter-spacing: 0.035rem;
    padding: 0.85rem 1.5rem;
  }
  #ghar {
    max-width: 250px;
  }
  #testimonials .carousel img.profile {
    max-width: 200px;
  }
  svg.increase {
    max-width: 400px;
  }
}

@media (min-width: 992px) {
  .hero .svg-title {
    max-width: 540px;
  }
  #ghar {
    max-width: 400px;
  }
  #about-ghar .features {
    margin-top: 20px
  }
  #about-ghar .features .icon {
      height: 80px;
      width: 80px
  }

  #about-ghar .features .icon.cost {
      background-position: 0 0
  }

  #about-ghar .features .icon.custom {
      background-position: 0 -80px
  }

  #about-ghar .features .icon.ai {
      background-position: 0 -160px
  }

  #about-ghar .features .icon.tech {
      background-position: 0 -240px
  }
}

@media (min-width: 1024px) {
  .navbar-light .navbar-brand svg {
    max-width: 140px;
  }

  .navbar-light .navbar-brand svg .text {
    display: block;
  }

  .navbar-light .container-fluid {
    gap: 0.8rem;
  }

}

@media (min-width: 1200px) {
  .min-vh-xl-100 {
    min-height: 100vh;
  }
}

@media (orientation: portrait) and (min-width: 1024px) {
  .hero {
    min-height: inherit;
  }
  main {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
