@import "custom-components/form-custom";
@import "custom-components/gradient-custom";

.events ul.info li::after {content:'|'; padding-left: 0.8rem;}
.events ul.info li:last-child::after {content:none;}

@media (max-width:768px) {
    .footer-c2a h4 {font-size: 1.3rem; line-height: 1.2;}
}