@import "custom-components/form-custom";
@import "custom-components/gradient-custom";
@import "custom-components/gallery";
@import "buttons/action-buttons";
@import "custom-components/sticky-cta-form";

.events ul.info li::after {content:'|'; padding-left: 0.8rem;}
.events ul.info li:last-child::after {content:none;}

.events h5.title a {font-size: 1.3rem; color: #141414; line-height: 1.3;}

@media (max-width:992px)
{.events h5.title a {font-size: 1.2rem;}
}

.event-detail ul li {padding-bottom: 0.8rem; color: #6c757d; line-height: 1.8;}
.event-detail p {line-height: 1.8; color: #6c757d;}

.event-header ul li {font-size: 0.9rem; color: #cccccc; font-weight: 400; letter-spacing: 1px;}
.event-header ul li span {margin-right: 0.3rem; font-size: 1.3rem;}

@media (min-width:520px) {
.event-header ul li::after {content:'|'; padding-left: 1rem; padding-right: 0.5rem;}
.event-header ul li:last-child::after {content:none;}
}


@media (max-width:768px) {
.event-header h1 {font-size: 1.5rem;}
.footer-c2a h4 {font-size: 1.3rem; line-height: 1.2;}
}