html, body {height:100%;}

.navbar-dark .navbar-brand svg .symbol,
.navbar-dark .navbar-brand svg .text {
    fill: #fff;
}

.get-leads {
width: 100%;
height:100%;
background: #1a1b1f url('../img/lion-1.jpg') center center /cover no-repeat;
}

.get-leads h1 svg {
    max-width: 540px;
    width: 100%;
    height: auto;
}

@media (max-width:991px) {
    .get-leads h1 svg {
        max-width: 400px;
    }
}

.get-leads .btn-cta {padding: 0.85rem 1.5rem; border-radius: 10px;}
.get-leads .btn-cta span {display:block}
/* .get-leads .btn-cta span:last-child {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .03rem;
} */
.get-leads .btn-cta span:first-child {
    font-size: 1.5rem;
    font-weight: 700;
}


@media(max-width:767px) {
    .get-leads {
        background-position: center -12rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .get-leads h1 svg {
        max-width: 320px;
    }
}


@media(max-width:640px) {
    .get-leads {
        background-position: center -6rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


@media(min-width:768px) {
    .get-leads {
        background: #1a1b1f url('../img/lion-2.jpg') 40% center /cover no-repeat;
    }
}

.get-leads .logo-top {position:absolute;top:1rem;left:50%;transform:translateX(-50%);}



/* .get-leads ul {
list-style: none;
padding: 0;
}
.get-leads ul li {
margin-bottom: 0.65rem;
color: #c7c7c7;
}
.get-leads ul li::before {
content: '\2713';
color: #fead00;
padding-right: 0.85rem;
}

@media(max-width:768px) {
.get-leads ul li {display:inline;}
.get-leads ul li:not(:first-child) {margin-left:1rem;}
} */

.secondary-gradient {
    background: #febd00;
    background: -webkit-linear-gradient(-45deg, #febd00 0, #fe9600 100%);
    background: -webkit-linear-gradient(315deg, #febd00 0, #fe9600 100%);
    background: -o-linear-gradient(315deg, #febd00 0, #fe9600 100%);
    background: linear-gradient(135deg, #febd00 0, #fe9600 100%);
}
.btn.secondary-gradient {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    text-shadow: 1px 1px 1px #fece00;
}
.btn.secondary-gradient:hover {
    color: #000;
    -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
}