@import "custom-components/form-custom";
@import "custom-components/scroll-trick";
@import "custom-components/youtube";
@import "custom-components/hover-shadow";

// html, body {height: 100%;}
        
body {
    padding-top:66px;
    min-height: 100vh;
}

a {cursor: pointer;}

@media (min-width: 1200px) {
    .container-xl {
        max-width: 100%;
        margin: 0 8%;
    }
}

.navbar-light {
    background: #fff;
}

.navbar-light.scroll-bg * {transition: all .3s ease;}
.navbar-light.scroll-bg.scrolled {border-bottom: 1px solid #ebebeb;}

.btn-circle {
    position: relative;
    width: 45px;
    height: 45px;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
}
.btn-circle::before {
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar .btn-circle {
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.navbar .btn-circle::before {
    font-weight: 600 !important;
}
.navbar .btn-circle::before {
    font-size: 1rem;
}


nav.fixed-bottom {
    border-top: 1px solid #ebebeb;
}
nav.fixed-bottom .wrap {
    gap: 2rem;
}
nav.fixed-bottom .btn-cta {
    gap: .5rem;
    color: #162233;
    font-weight: 600;
    font-size: .75rem;
    transition: all .3s ease;
}
nav.fixed-bottom .btn-cta:hover, .btn-circle:hover {
    text-decoration: none;
}
nav.fixed-bottom .btn-cta .icon {
    font-size: 1.5rem; line-height:0;
}

@media (min-width:991px) {
    nav.fixed-bottom .wrap {
        gap: 1rem;
    }
    nav.fixed-bottom .btn-cta {
        padding: .65rem 1rem;
        border-radius: 50rem;
        border: 1px solid #D1D1D1;
        font-size: .85rem;
        -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.1);
        box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.1);
    }
    nav.fixed-bottom .btn-cta:hover, .btn-circle:hover {
        border-color: #162233;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }
}


#agent-hero {min-height:calc(100vh - 82px);}

#agent-hero h1 {line-height: 1;}
#agent-hero h1::before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 100%;
    border-radius: 50rem;
    background: #ee324b;
    left: 0;
    top:0;
    // transform: translateY(-50%);
    animation: vertical-line .5s ease forwards;
}
#agent-hero .h5 {font-size: .9rem;}

@keyframes vertical-line {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#agent-hero .hero-row {gap: 4rem 0;}
#agent-hero .hero-img {border-radius: 1.5rem;}
#agent-hero .action-btn {gap: 1rem; bottom: 0; transform: translateY(50%);}
#agent-hero .action-btn svg {width: 32px;}

#agent-hero .action-btn .btn {
    transition: all .3s ease;
}
#agent-hero .action-btn .btn:hover {
    border-color: #575757;
    box-shadow: 0 .75rem 1.1rem rgba(0,0,0,.2)!important;
}

@media (min-width:576px) {
    #agent-hero .action-btn {gap: 1rem;}
    #agent-hero .action-btn svg {width: 38px;}
}

ul.marking-pills {font-size: .75rem;}
ul.marking-pills li {border: 1px solid #d1d1d1; padding: 0.4rem 0.85rem;}
ul.marking-pills li svg {display:inline-block; width: 16px; margin-right: .2rem;}

.agent-business li::before {font-size: 1.2rem; position:relative; top: 2px;}

@media (min-width: 768px){
    .agent-business li:not(:first-child) {padding-left: 1rem;}
}

.agent-pointers {gap: 1.5rem 2rem;}

@media (min-width: 1200px){
    .agent-pointers {gap: 1.5rem 4rem;}
}

@media (max-width:992px) {
    ul.marking-pills li:not(:last-child), ul.agent-business li:not(:last-child) {margin-bottom: .5rem;}
}

#agent-features .row {gap:2rem 0;}
#agent-features .col-wrap, #agent-features .col-wrap .card-body {padding-top: 40px;}
#agent-features .col-wrap .card {min-height: 298px;}
#agent-features .icon {
    width: 90px;
    height: 90px;
    -webkit-box-shadow: 5px 8.66px 24px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 5px 8.66px 24px 0px rgba(0,0,0,0.08);
    box-shadow: 5px 8.66px 24px 0px rgba(0,0,0,0.08);
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
}
#agent-features .icon svg {
    width:42px;
    height:42px;
}
#agent-features .card-header {border-bottom: 2px dashed #CFCFCF;}

@media (min-width:1280px) {
    #agent-features .col-wrap, #agent-features .col-wrap .card-body {padding-top: 60px;}
    #agent-features .icon {
        width: 120px;
        height: 120px;
    }
    #agent-features .icon svg {
        width:64px;
        height:64px;
    }
}

#agent-about p.copy {
    // font-size: 1.15rem;
    font-size: calc(.8rem + .3vw);
    margin-bottom: 1.5rem;
    color: #495057;
    line-height: 2;
}

.speciality .card {border-radius: 1rem; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
.speciality .card-body {border-left: 4px solid #ee324b;}

/* .vw-more-block {
    height: 100px;
    overflow: hidden;
}
.vw-more-less a {
    font-size: .8rem;
    font-weight: 600;
} */


/* Replace n + 11 with limit you want to set + 1 */
.limit-items {
    position: relative;
}

.limit-items input {
    display: none;
}

.limit-items label {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    display: block;
    align-items: center;
    color: #121212;
    overflow-anchor: none;
    padding-right: 1.5rem;
}

.limit-items label::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z'/%3E%3C/svg%3E")
        center center no-repeat;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.limit-items label.hide::after {
    transform: translateY(-50%) rotate(180deg);
}

.limit-items .items li:nth-of-type(n + 5) {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.limit-items input:checked ~ .items li {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}

.limit-items input ~ label {
    display: none;
}

.limit-items input:checked ~ .hide {
    display: block;
}

.limit-items input:not(:checked) ~ .show {
    display: block;
}


/*---- Certification ----*/
.certification .wrap {gap: 1.5rem 0;}
.certification img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


.sharing .wrap {
    gap: 1.5rem 0;
}
.sharing .btn {
    display: flex;
    align-items: center;
    gap: .75rem;
    text-align: left;
    border-color: #d1d1d1;
    border-radius: 50rem;
}
.sharing .btn:hover {
    border-color: #162233;
}
.sharing .btn span:first-child {
    font-size: 1.5rem;
    line-height: 0;
}

.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, .4s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 500ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.aos-animate[data-aos="reveal-text"] {
    // --animation-delay: var(--delay, 0);
	 --animation-duration: var(--duration, 800ms);
	 --animation-iterations: var(--iterations, 1);
	 position: relative;
	 animation-name: clip-text;
}
[data-aos="reveal-text"]:first-child {
	 --animation-delay: var(--delay, 0);
}

[data-aos="reveal-text"]:second-child {
	 --animation-delay: var(--delay, 0.1s);
}
.aos-animate[data-aos="reveal-text"]::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height:105%;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    background: #ee324b;
    animation-name: text-revealer;
}


/* [data-aos="reveal-text"]:first-child::after {
    background: linear-gradient(to left, #eebf56, #f46ca3);
}
[data-aos="reveal-text"]:last-child::after {
	background: linear-gradient(to left, #1b9edf, #af74c3);
}
 */
@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 -10% 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}

.reveal-block.gradient::before {
    background: linear-gradient(to left, #eebf56, #f46ca3);
}
.reveal-block.gradient-two::before {
    background: linear-gradient(to left, #1b9edf, #af74c3);
}


/*--- Resale & Rental ---*/
.card.card-thumb img.card-img-top {max-height: 180px; object-fit: cover; -o-object-fit: cover;}
.posted-by .name {font-size: 0.72rem; font-weight: 600;}
.posted-by .designation img {max-width: 16px;}


/*--- NAV PILLS ---*/
.nav-pills {gap: .5rem}
.nav-pills .nav-link {border: 1px solid #ccc;}
.nav-pills .nav-link.active, .nav-pills .nav-link:hover, .nav-pills .show>.nav-link {border-color: #162233;}

#listings .tab-content .description {max-width: 100%;}

@media (min-width:991px) {
    #listings .view-all .stretched-link {position: relative;}
}