@import "accordion";

$darklion: #1a1b1f;
$med-dark: #4F4F50;
$silver: #A3A4A5;
$light-gray: #dfe0e1;
$light: #f5f5f5;

html {
    height: 100%;
}
body {
    height: 100%;
}

.text-darklion {color: $darklion;}
.text-med-dark {color: $med-dark;}
.text-silver {color: $silver;}
.text-light-gray {color: $light-gray;}
.text-light {color: $light;}

.bg-darklion {background-color: $darklion;}
.bg-med-dark {background-color: $med-dark;}
.bg-silver {background-color: $silver;}
.bg-light-gray {background-color: $light-gray !important;}
.bg-light {background-color: $light !important;}

.hero {
    font-family: 'Barlow', sans-serif;
    background: $darklion url('../img/lion-1.jpg') left -8rem /cover no-repeat;
}
.hero h1 svg {
    max-width: 200px;
    width: 100%;
    height: auto;
}
.hero h1 svg path:first-child {
    fill: #fff;
}
.hero h1 svg path:last-child {
    fill: #c8c7c6;
}
.hero h3 {
    font-size: calc(1rem + .4vw);
}
.hero .cta {
    padding: 0.75rem 0;
    border-radius: 10px;
}
main {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
}
.campmodal .custom-control-input:checked~.custom-control-label:before {
    background-color: #ee324b;
    border-color: #ee324b;
}
.campmodal .form-control:focus {
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, .25);
}
.package {
    font-family: 'Barlow', sans-serif;
    border: 2px dashed rgba(255, 255, 255, 0.6);
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.065);
}
.package .title {
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.campmodal .modal-content {
    border-radius: 0;
    position: relative;
}
.campmodal .modal-lion {
    position: absolute;
    display: block;
    top: -62px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
    z-index: 1;
}
.campmodal .unleash-wrap {
    margin-top: 70px;
}
.unleash {
    display: block;
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}
.offerings {
    border-top: 1px dashed rgba(255,255,255,0.2);
}
.offerings > div {
    flex-basis: 100%;
}
.navbar-dark.scroll-bg {
    background-color: transparent;
    transition: background-color 0.3s ease;
}
.navbar-dark.scroll-bg .btn-cta {
    visibility: hidden;
    opacity: 0;
}
.navbar-dark.scroll-bg.scrolled {
    background-color: rgba(0,0,0,0.85);
}
.navbar-dark.scroll-bg.scrolled .btn-cta {
    visibility: visible;
    opacity: 1;
}
.navbar-dark .navbar-brand {
    padding: 0;
}
.navbar-dark .navbar-brand svg {
    height: 31px;
    max-width: 28px;
    width: 100%;
}
.navbar-dark .navbar-brand svg .symbol {
    fill: #fff;
    display: block !important;
}
.navbar-dark .navbar-brand svg .text {
    fill: #fff;
    display: block !important;
}
.navbar-brand svg .text {
    display: none;
}
.navbar .btn-cta {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.cta {
    font-weight: 600;
}
.dark-theme .hc-nav-trigger span, .dark-theme .hc-nav-trigger span:after, .dark-theme .hc-nav-trigger span:before {
    background: #fff;
}
.dark-theme .modal-backdrop {
    background: #fff;
}
.dark-theme .modal-backdrop.show {
    opacity: 0.95;
}
.dark-theme .modal.custom .close {
    color: #162233;
    font-weight: 600;
    opacity: 0.5;
}
.content-wrap.bg-dark {
    background-color: $darklion !important;
}
.btn-alternate {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: transparent;
    color: rgba(255, 255, 255, 0.8);
}
.btn-alternate:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: transparent;
    color: #fff;
}


#about-ghar h3 {
    background-color: #4F4F50;
    color: rgba(0,0,0,0.55);
    text-shadow: -2px 2px 4px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

#about-ghar .figures .card {
    border-radius: 1rem;
    background-color: $light;
    -webkit-box-shadow: inset -4px 4px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: inset -4px 4px 10px 0px rgba(0,0,0,0.4);
    box-shadow: inset -4px 4px 10px 0px rgba(0,0,0,0.4);
}

#about-ghar .figures h4, #about-ghar p {margin: 0;}
#about-ghar .figures h4 {position: relative;}
#about-ghar .figures h4::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 3px;
    background: #ee324b;
}

#ghar {display:block; margin: 0 auto; width:100%; max-width: 250px;}
#ghar .text, #ghar .symbol {fill:#ee324b}
#ghar .tagline {fill: $med-dark;}


#about-ghar .features {
    border-top: 1px dashed $med-dark;
    margin-top: 70px;
}
#about-ghar .features::before {
    content: '';
    display: block;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    border-left: 1px dashed $med-dark;
}
#about-ghar .features h4 {color: $med-dark;}
#about-ghar .features .icon {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    margin: 65px auto 0 auto;
    background-image: url('../img/sprite-icons.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#about-ghar .features .icon::before {
    content: '';
    display: block;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    border-left: 1px dashed $med-dark;
}

#about-ghar .features .icon.cost {
    background-position: 0 0;
}
#about-ghar .features .icon.custom {
    background-position: 0 -60px;
}
#about-ghar .features .icon.ai {
    background-position: 0 -120px;
}
#about-ghar .features .icon.tech {
    background-position: 0 -180px;
}

/*----- Discover Smart Lion -----*/
#discover .content .h2 {
    font-family: 'Barlow Condensed', sans-serif;
}

#discover .features .icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-image: url('../img/sprite-icons.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
#discover .features .icon.transact {
    background-position: 0 -240px;
}
#discover .features .icon.advert {
    background-position: 0 -300px;
}
#discover .features .icon.lead {
    background-position: 0 -360px;
}
#discover .features .icon.value {
    background-position: 0 -420px;
}


#testimonials .carousel-item .h1::before {
    content: '';
    display: inline-block;
    position: relative;
    background: url('../img/icon-quote.svg') no-repeat center center /cover;
    width: 30px;
    height: 26px;
    margin-right: 10px;
    top: -8px;
}

#testimonials .carousel-item img {
    width: 100%;
    max-width:140px;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1));
}

#testimonial-carousel .carousel-indicators {
    bottom: -50px;
}

#testimonial-carousel .carousel-indicators li {
    background-color: #4f4f50;
    margin-left: 6px;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

#package {
    position: relative;
}
#package::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: $darklion url('../img/lion-front.jpg') no-repeat center center /contain fixed;
}
#package button {
    font-size: 1.35rem;
}

@media (max-width: 767.98px) {
    .hero .wrap {
        bottom: 7rem;
   }
}
@media (max-width: 991.98px) {
    .campmodal .modal-body {
        overflow: inherit;
    }
    .bg-dark-gradient {
        background: rgb(26,27,31);
        background: linear-gradient(0deg, rgba(26,27,31,1) 0%, rgba(26,27,31,0.3449754901960784) 90%, rgba(26,27,31,0) 100%);
    }
    #discover {
        background: $med-dark url('../img/smart-lion.jpg') no-repeat fixed center center /cover;
    }
}
@media (max-width: 1199.98px) {
    .campmodal p.h4 {
        font-size: calc(1.1rem + .03vw);
    }
    #about-ghar .features h4 {
        font-size: calc(1rem + .035vw);
    }
}


@media (min-width: 576px) {
    .hero h1 svg {
        max-width: 250px;
    }
    .hero .cta {
        font-size: 1.4rem;
        letter-spacing: 0.035rem;
        padding: 0.85rem 1.5rem;
    }

    #ghar {
        max-width: 250px;
    }

    #testimonials .carousel-item img {
        max-width:180px;
    }
}

@media (min-width: 768px) {
    .hero {
        background: $darklion url('../img/lion-2.jpg') 32% center /cover no-repeat;
    }
    .hero h1 svg {
        max-width: 400px;
    }
    #discover .smart-lion {
        background: $darklion url('../img/smart-lion.jpg') no-repeat top center /cover;
    }
}
@media (min-width: 992px) {
    .hero h1 svg {
        max-width: 540px;
    }
    .campmodal .modal-body {
        border-radius: 0.75rem;
    }
    .campmodal .content-wrap {
        border-radius: 0.75rem;
    }
    .campmodal .modal-lion {
        top: -92px;
        max-width: 300px;
    }
    .campmodal .unleash-wrap {
        margin-top: 120px;
    }
    .campmodal .unleash {
        max-width: 450px;
    }
    #package .unleash {
        max-width: 500px;
    }
    #ghar {
        max-width: 400px;
    }

    #about-ghar .features {
        margin-top: 20px;
    }
    #about-ghar .features .icon {
        width: 80px;
        height: 80px;
    }
    #about-ghar .features .icon.cost {
        background-position: 0 0;
    }
    #about-ghar .features .icon.custom {
        background-position: 0 -80px;
    }
    #about-ghar .features .icon.ai {
        background-position: 0 -160px;
    }
    #about-ghar .features .icon.tech {
        background-position: 0 -240px;
    }

    #discover {
        background: $med-dark;
    }
    
    #testimonials .carousel-item .h1::before {
        width: 40px;
        height: 35px;
        margin-right: 10px;
        top: -12px;
    }

    #testimonials .carousel-item img {
        max-width:320px;
    }
    
    #testimonial-carousel .carousel-item p:first-of-type {
        font-size: 1.2rem;
        font-weight: 400;
    }
}
@media (min-width: 1024px) {
    .navbar-dark .navbar-brand svg {
        max-width: 140px;
   }
    .navbar-dark .navbar-brand svg .text {
        display: block;
   }
    .navbar-dark .container-fluid {
        gap: 0.8rem;
   }
}
