@import "custom-components/slick-custom";
@import "custom-components/form-custom";
@import "custom-components/hover-shadow";
@import "custom-components/gradient-custom";
@import "custom-components/spotlight";
@import "custom-components/youtube";
@import "buttons/gradient-button";
@import "cards/card-horizontal";

/*-------- JUMBOTRON HERO ------*/
.jumbotron {
    padding: 0;
    border-radius: 0;
}


@media (min-width: 992px) {
    .jumbotron {background: #f7f7f7 !important;}
    .jumbotron h1 {color:#000 !important;}
}

.jumbotron h1:after {content:''; display:block; width:54px; height:3px; background:#fead00; margin:20px auto;}

.jumbotron .card {
    border:none;
    /* -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.08); */
}


.jumbotron p.title-link {
    position:relative; padding:0 0 0 62px; font-size: 0.9rem; font-weight:500; margin-bottom:0; color:#777; min-height:54px; line-height:1.4rem;
}

.jumbotron p.title-link a {font-size: 1.1rem;}
.jumbotron p.title-link a:first-child {font-weight:600;}


.jumbotron p.title-link:before {content:''; display:block; position:absolute; left:0; top:0; width:54px; height:54px; background-position:center center; background-repeat:no-repeat; background-size:contain;}

.jumbotron p.title-link.property:before {background-image:url('../img/icon-post-property.svg');}

.jumbotron p.title-link.requirement:before {background-image:url('../img/icon-post-requirement.svg');}

.jumbotron p.title-link.digital:before {background-image:url('../img/icon-digital-marketing.svg');}

.jumbotron p.title-link.loan:before {background-image:url('../img/icon-home-loan.svg');}


@media (min-width:992px) {
    .jumbotron h1:after {margin:20px 0;}
    /* .jumbotron .card {
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    .jumbotron .card:hover {
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    } */
}

@media (max-width:991px) {
    .jumbotron.bg-med-dark {background:#2e2e2e !important;}
}


@media (max-width:767px) {
    .jumbotron p.title-link {padding:5px; font-size:0.9rem; min-height:36px; line-height:1.2rem;}
    .jumbotron p.title-link:before {display:none;}
}

#digital-services picture { display: none; }

@media (min-width: 768px) {
    #digital-services picture {
        display: block;
    }
}

  /*---- ABOUT - Home Page ----*/
@media (max-width:768px) {
    #about img {max-width: 100px;}
}