
@import "bootstrap";
@import "color_function";
@import "icon-fonts";
@import "custom-components/scroll-trick";
@import "custom-components/form-custom";
@import "custom-components/modal-custom";

body {font-family: 'Barlow', sans-serif; font-weight:400; font-size:1rem;}

.h1, h1 {font-size: 2.5rem;}
.h2, h2 {font-size: 2rem;}
.h3, h3 {font-size: 1.5rem;}

.btn {font-size:1rem;}
.btn-lg {font-size:1.25rem;}

.navbar {min-height: 62px; margin-bottom: 0; padding: 0 1rem;}

.navbar.scroll-bg {background: transparent; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease;}
.navbar.scroll-bg.scrolled {background: #000;}


.nav-c2a.scroll-bg {visibility: hidden; opacity: 0; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease;
}
.nav-c2a.scroll-bg.scrolled {visibility: visible; opacity: 1;}

.leads-header {
  position:relative;
  width:100%;
  height: 100vh;
  min-height: 540px;
  background:#1a1b1f;
  overflow:hidden;
  clear:both;
}

.leads-header h3 {font-size:8.5rem; font-weight:700; color:#fff}

.leads-header h3 span {display:block; font-family:'Barlow Condensed'; font-weight:300; font-size:4.1rem; color:#919191;}

.leads-header .vignette {position:absolute; display:block; width:100%; height:100%; left:0; top:0; box-shadow: inset 0 0 100px black; z-index:1; mix-blend-mode: hard-light;}

.leads-header .smoke {position:absolute; display:block; width:100%; height:100%; left:0; top:0; background:url('../img/leads-smoke.png') left bottom no-repeat; background-size:cover; z-index:1; mix-blend-mode: hard-light;}

/*.header img.lion {display:block; width:100%; height:auto; max-width:485px; object-fit:cover; position:absolute; left:0; bottom:0;} */

.leads-header .lion {background:url('../img/leads-lion.png') right bottom/cover no-repeat;}

.leads-header .content {z-index:3;}

.leads-header p.grow span.caption {display:block; color:#787878; font-size:1.25rem; padding-bottom:0.5rem;}

.leads-header p.grow span.number {display:inline-block; position:relative; font-family:'Barlow Condensed'; font-size:4rem; font-weight:200; color:#fff; line-height:0.8; padding-right:30px;background:url('../img/leads-arrow.svg') center right no-repeat; background-size:contain;}

.secondary-gradient {
  background: #febd00;
  background: -moz-linear-gradient(-45deg,  #febd00 0%, #fe9600 100%);
  background: -webkit-linear-gradient(-45deg,  #febd00 0%,#fe9600 100%);
  background: linear-gradient(135deg,  #febd00 0%,#fe9600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febd00', endColorstr='#fe9600',GradientType=1 );
}


.btn.secondary-gradient {color:rgba(0,0,0,0.8);font-weight:600; text-shadow: 1px 1px 1px rgba(254, 206, 0, 1);}
.btn.secondary-gradient:hover {
    color:#000;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.4);
  }

.leads-header .btn-link {color:#787878;}
.leads-header .btn-link.scroll-down {padding:2px 0 2px 24px; background:url('../img/leads-mouse-scroll.svg') center left no-repeat; background-size:contain;}


#how-it-works .card span.fx-line {display:block; max-width:30px; border:0; height:3px; border-radius: 5px; margin-right: auto;}
#how-it-works .card h3 span.h2 {font-weight:600;}
#how-it-works .card p {font-size:1.125rem; color: #8e8e8e;}

#second-c2a {background: url('../img/leads-lion-2.jpg') center center no-repeat; background-size:cover;}
#second-c2a h3 {font-weight: 300; font-size: 2.3rem;}


@media (max-width:991px) {
  .leads-header {text-align:center; min-height: 500px;} //Give margin-top: -34px; when Toast is incorporated
  .leads-header .smoke {display:none;}
  
  .leads-header h3 {font-size:6rem; position:relative; text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);}
  
  /* .leads-header h3::before {content:''; display:block; width:100px; height:100%; position:absolute; left:50%; transform:translateX(-50%); z-index:-1; top:-32%; background:url('https://i.ibb.co/FbLPNRL/lion-mobile.png') center center no-repeat; background-size:contain;} */
  
  .leads-header h3 span {font-size:2.9rem;}
  
  .leads-header .content div:first-child {width:100%;}
  
  .leads-header p.grow span.number {font-size:3rem;}

  #how-it-works h3.h1 {font-size: 2rem;}
  #how-it-works h3 {font-size: 1.3rem;}

  #how-it-works .card h3 span.h2 {font-size: 1.5rem;}
  
  #second-c2a h3 {font-weight: 300; font-size: 1.8rem;}
  #second-c2a h3 span {font-size:2.5rem; font-weight: 600;}
}

@media (max-width:342px) {
  .leads-header h3 {font-size:5rem;}
  .leads-header h3 span {font-size:2.4rem;}
}


/*-------- CUSTOMIZED FORM FOR LEADS PAGE ---------*/
.btn-group-sm>.btn, .btn-sm {
  padding: .18rem .5rem;
  font-size: .85rem;
  line-height: 1.2;
}

.form-control {font-size:1rem;}

.floating-select, .floating-select>label, .form-label-group>input, .form-label-group>.input-group>input, .form-label-group>label, .form-label-group > .input-group > label {
  height: 3rem;
}

.floating-select:not(:placeholder-shown), .form-label-group input:not(:placeholder-shown), .form-label-group .input-group input:not(:placeholder-shown) {
  padding-top: .75rem;
  padding-bottom: .25rem;
}

.custom-control-label::before {
  top: .2675rem;
}
.custom-control-label::after {
  top: .2675rem;
}

.form-group.small .custom-control-label {
  font-size: .85rem;
}
.form-group.small .custom-control-label::before, .form-group.small .custom-control-label::after {
  top: .2rem;
}


  
.leads-header {
  background: #1a1b1f url(../img/lion-1.jpg) 50%/cover no-repeat;
  width: 100%;
}

@media (min-width: 768px) {
  .leads-header {
      background: #1a1b1f url(../img/lion-2.jpg) 40%/cover no-repeat;
  }
}