@import "custom-components/scroll-trick";
@import "custom-components/category";
@import "custom-components/gallery";
@import "custom-components/form-custom";
@import "custom-components/gradient-custom";
@import "custom-components/corner-ribbon";
@import "custom-components/additional-icon-list";
@import "custom-components/sticky-cta-form";
@import "custom-components/modal-custom";
@import "custom-components/hover-shadow";
@import "buttons/action-buttons";
@import "buttons/gradient-button";
@import "navigation/secondary-nav";
@import "project-details.scss";

// @import "tabs/tabs";
// @import "tabs/tabs-to-collapse";
// @import "cards/project-expert-card";

.price-c2a .posted-by .name {font-size: .85rem;}
.price-c2a .posted-by img.user-thumbnail {width: 84px; height: 84px; object-fit: cover;}

.dealer img.agent-pic {max-width: 124px;}

@media (max-width:767px) {
  .hero h1 span:first-of-type {font-size: inherit;}
  .hero h1 span {font-size: 0.85rem;}

  .hero .title-info {margin-top: -52px;}

  .price-c2a .posted-by img.user-thumbnail {width: 58px; height: 58px;}
}

@media(max-width:576px) {
  .dealer img.agent-pic {max-width: 64px;}
}