@import "custom-components/toast-custom";

body, html {height: 100%;}

.hero {
    min-height: calc(100% - 62px);
    padding-top:62px;
}

.hero .h1 {
    font-size: calc(1.375rem + 1.65vw);
}

.hero .subheading {
    font-size: calc(.85rem + 0.35vw);
}

.hero .cta-toast .btn {
    font-size: calc(1rem + 0.35vw);
    flex-basis: 45%;
}

.hero .cta-toast .toast-wrap {
    flex-basis: 55%;
    min-height: 82px;
}

.hero .offerings>div {
    flex-basis: 25%;
}
.hero .offerings .icon {
    display: block;
    width: 40px;
    height: 41px;
    background-image: url(../img/sprite-icons-deals.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero .offerings .icon.invest {
    background-position: 0 0;
}
.hero .offerings .icon.deals {
    background-position: 0 -40px;
}
.hero .offerings .icon.secrets {
    background-position: 0 -79px;
}
.hero .offerings .icon.forum {
    background-position: 0 -120px;
}

/* .hero .toast {
    position: relative;
    left: inherit;
    min-width: auto;
    z-index: auto;
} */

.hero .toast.show {
    display: flex;
}

.hero .creative {
    height: auto;
    max-width: 150px;
    margin: 0 auto;
    width: 100%;
}

.hero .toast .user-pic {
    width: 64px;
    height: 64px;
}

.hero .toast .activity-type {
    font-size: .75rem;
}

@media (max-width: 375px) {
    .offerings h6 {
        font-size: .75rem;
    }
}

@media (min-width: 576px) {
    .hero .creative {
        max-width: 250px;
    }
}

@media (min-width: 768px) {
    .hero .creative {
        max-width: 300px;
    }
}

@media (min-width: 992px) {
    .hero {
        min-height: 100%;
    }
    .hero .row {
        min-height: 100%;
    }
    .hero .offerings .icon {
        width: 50px;
        height: 50px;
    }
    .hero .offerings .icon.deals {
        background-position: 0 -50px;
    }
    .hero .offerings .icon.secrets {
        background-position: 0 -100px;
    }
    .hero .offerings .icon.forum {
        background-position: 0 -150px;
    }
    .hero .creative {
        max-width: 500px;
    }
}

/* @media (orientation: portrait) and (max-width: 414px) {
    .hero .creative {
        display: none;
    }
} */

@media (orientation: portrait) and (min-width: 1024px) {
    .hero .row {
      flex-direction: column-reverse !important;
    }
    .offset-lg-1 {
        margin-left: 0;
    }
    .hero .row .col-lg-6, .hero .row .col-lg-5  {
        max-width: 100%;
    }
    .hero .text-lg-left {
        text-align: center !important;
    }
}