@import "custom-components/form-steps";
@import "custom-components/form-progressbar";
@import "custom-components/collapsible-text";
@import "cards/card-features";

html {
    height: 100%;
}
body {
    height: 100%;
}
.nav-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.brand {
    display: inline-block;
}
.brand svg {
    height: 31px;
    max-width: 28px;
    width: 100%;
}
.brand svg .symbol {
    fill: #ee324b;
}
.brand svg .text {
    fill: #ee324b;
}

.hero {
    // min-height: calc(100vh - 63px);
    padding-top: 63px;
}

.hero .creative {
    background-color: #fff5f6;
}
.hero .creative p {
    font-size: calc(0.85rem + .2vw);
}

.pointers img {
    display: none;
}
.pointers li {
    padding: 0;
}
.pointers li p {
    font-weight: 600;
    font-size: calc(.8rem + .125vw);
    line-height: 1.2;
}
.man-thumbs {
    position: relative;
    background: url('../img/man-thumbs-l.jpg') center bottom/contain no-repeat;
    min-height: 10rem;
}

#facts .flex-row {gap: 2.75rem 0;}

/* #paid .card {
    border:none;
    border-radius: .75rem;
    background: #c4052a url('../img/power-bg.jpg') center center/cover no-repeat;
} */

details {
    overflow: hidden;
}

details .card-header {
    background-color: #fff;
}

details[open] summary {
    background: #fff5f6;
    color: #162233;
}

/* .form-box {
    background: #ee324b url('../img/bg-gradient.jpg') center center/cover no-repeat;
}

.form-slide {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.75);
    box-shadow: 0 8px 32px 0 rgba(84, 47, 52, 0.18);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
} */

@media (max-width: 767px) {
    .pointers p {
        position: relative;
        padding-left: 25px;
    }
    .pointers p::before {
        content: "\e92c";
        font-family: 'icons';
        font-size: 1rem;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #28a745;
        line-height: 1;
    }
}
@media (max-width: 991px) {
    .hero .form-box {
        position: relative;
        z-index: 1;
    }
    .content {
        border-top: 1px solid #dee2e6;
    }
    #stepsform {
        box-shadow: 0 8px 32px 0 rgba(84, 47, 52, 0.18);
        border-radius: .5rem;
    }
}

@media (min-width: 992px) {
    .hero {
        // min-height: calc(100vh - 62px);
        min-height: 100vh;
        padding-top: 62px;
    }
    .form-box {
        position: fixed;
        top: 62px;
        right: 0;
        height: calc(100% - 62px);
    }
    .min-vh-100-lg {
        min-height: 100vh;
    }
    .pointers li {
        padding: 15px;
    }
    .pointers img {
        max-width: 64px;
    }
    .upscale {
        background-color: #fff;
        border-radius: 20px 20px 0 0;
        box-shadow: 0 0 30px 0 rgba(149, 35, 50, .12);
    }
    .content {
        background-color: #fff5f6;
    }
}
@media (min-width: 1024px) {
    .brand svg {
        max-width: 140px;
        max-width: 140px;
    }
    .brand svg .text {
        display: block;
    }
}
@media (min-width: 768px) {
    .pointers li {
        background: #fff;
        box-shadow: 0 5px 15px 0 rgba(238, 50, 75, 0.1);
        padding: 15px;
        border-radius: 10px;
    }
    .pointers p {
        margin-bottom: 0;
    }
    .pointers img {
        display: block;
        width: 100%;
        max-width: 42px;
        height: auto;
        margin: 0 auto;
    }
    .man-thumbs {
        min-height: 20rem;
    }
}
@media (min-width: 1440px) {
    .pointers li {
        padding: 20px;
    }
    .pointers li p {
        margin-bottom: 0;
    }
    .pointers img {
        max-width: 85px;
    }
}
@media (min-width: 576px) {
    .man-thumbs {
        min-height: 15rem;
    }
}
