body {
    padding-top: 62px;
}
.signup-box {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.alert-label {display: none;}

.signup .alert-primary {background: #fff0f1; border: none; font-weight:700; text-transform: uppercase; letter-spacing: 0.075rem; color:#162233;}

.signup ul.list-check {list-style:none; padding:0;}
.signup ul.list-check li {font-size: calc(.85rem + 0.1vw); font-weight:600; margin-bottom:.65rem; color:#575757;}
.signup ul.list-check li::before {content:'\2713'; color:#ee324b; padding-right: .65rem;}

.signup .creative {
    max-width: 400px;
    width: 100%;
    height: 100%;
}