.features {gap: 2rem 0;}
.features .card {height: 100%; border-radius: 15px;}
.features .card-body.flex-column {gap: 2rem;}
.features .card .btn {font-weight: 600; padding: 0.75rem 1.2rem;}
.features .additional {gap: 2rem;}
.features .additional .card-body {gap: 1rem;}
.features .text-opacity {color: rgba(0,0,0,0.75);}

.features .red {background-color: #FFF5F6; border: 1px solid #F3C7CB;}
.features .green {background-color: #EDF5E6; border: 1px solid #B7DE96;}
.features .orange {background-color: #fef4e4; border: 1px solid #fbd69a;}
.features .blue {background-color: #E8F7F7; border: 1px solid #91DFDF;}
.features .purple {background-color: #FAF0F8; border: 1px solid #EBB4E0;}

.features .red .btn-white {box-shadow: 0px 3px 10px rgba(230,169,175,0.46);}
.features .green .btn-white {box-shadow: 0px 3px 10px rgba(168,199,141,0.46);}
.features .orange .btn-white {box-shadow: 0px 3px 10px rgba(226,186,121, 0.46);}
.features .blue .btn-white {box-shadow: 0px 3px 10px rgba(154,203,203,0.46);}
.features .purple .btn-white {box-shadow: 0px 3px 10px rgba(216,172,207,0.46);}

.features .btn-white:hover {background-color: #ee324b; color: #fff;}

.features img.creative {
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: contain;
}
.features img.creative.big {
    height: 128px;
}
.features img.creative.small {
    width: 60px;
    height: 60px;
}

@media (min-width:768px) {
    .features img.creative.big {
        height: 190px;
    }
    .features .additional {gap: 1.5rem;}
}

@media (min-width:1200px) {
    .features img.creative.big {
        height: 220px;
    }
}

.features .card ul li {color: rgba(0,0,0,0.6); position: relative; padding-left: 1.5rem;}
.features .card ul li:not(:last-child) {margin-bottom: .5rem;}
.features .card ul li::before {content: '\e92c'; font-family: 'icons'; display: block; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}

.features .red li::before {color: #EB7883;}
.features .green li::before {color: #73B43B;}
.features .yellow li::before {color: #D8AF70;}
.features .blue li::before {color: #66C7C7;}
.features .purple li::before {color: #D290C5;}