/*-- Card Thumbs Short Text on Image Overlay --*/
.card-horizontal {min-height: 140px;}
.card-horizontal a.h6 {line-height: 1.5}
.card-horizontal a:hover.h6 {text-decoration: none;}

.card-horizontal .card:hover {background: #eae1ec; border-color: #d5c4d9;}
.card-horizontal .card:hover a.h6 {color: #37173f;}

.card-horizontal .card:hover img {box-shadow: 0 .4rem .6rem rgba(0,0,0,.085);}

@media (max-width: 991px) {
  .card-horizontal img {
      max-height: 150px;
      -o-object-fit: cover;
      object-fit: cover;
  }
}

@media (min-width: 992px) {
  .card-horizontal img {height: 100%; width: 100%; margin: auto; display: block; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); -o-object-fit: cover; object-fit: cover;}
}

.card.card-thumb, .card.card-thumb, .card-horizontal .card { 
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; overflow: hidden; clear: both;
}


.card.card-thumb img {
  max-height: 150px;
  object-fit: cover;
  -o-object-fit: cover;
}
