@import "custom-components/category";
@import "custom-components/additional-icon-list";
@import "custom-components/scroll-trick";

/*------ LISTING GRID -----*/
@media(min-width:576px) {
  .listing img.listing-thumb {
    height: 100%; width: 100%; margin: auto; display: block; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); -o-object-fit: cover; object-fit: cover;
  }
}
  
/*--- Listing Agent / Developer Footer Bar ---*/
.listing.deal-maker .card-footer {background-color: #fff8ea;}
.listing.area-expert .card-footer {background-color: #faf1fc;}
// .listing.locality-expert .card-footer {background-color: #fbf4ed;}
.listing.deal-maker .user-name small, .listing.area-expert .user-name small, .listing.locality-expert .user-name small {padding-left: 22px;}


.listing .posted-by {text-decoration: none;}
.listing .posted-by img.user-thumbnail {width:50px; height:50px; object-fit: cover; border:2px solid #fff;}
.listing .user-name, .listing .developer-name {position: relative;}
.listing .company-logo {max-width:80px; max-height: 50px; top: 50%; transform: translateY(-50%); object-fit: cover;}
.listing .developer-logo {max-width:80px; max-height: 50px; object-fit: cover;}
.listing span.user-badge {position: absolute; display: block; width: 18px; height: 18px; left: 0; bottom: -1px;}


/*--- Offer & Main Title ---*/
.listing.offer .offer-text {top:-3px; background-color: #f8f2fa; line-height: 1;}
.listing .main-title, .listing.offer .offer-text {width: calc(100% - 115px); margin-top:0;}
.listing.offer .main-title {width: 100%; margin-top:3px;}

@media (min-width: 768px) {
  .listing .main-title, .listing.offer .offer-text {width: calc(100% - 140px);}
}

@media (max-width:575px) {
  .listing .main-title, .listing.offer .offer-text {width: 100%;}
}

/*--- Category Tagging (Luxury, Distress, Senior) ---*/
.listing .category-wrap {display:block; float: right; position: relative; top: -3px; right: -8px;}

@media (max-width:575px) {
  .listing .category-wrap {float:none; position:absolute; top: -30px; left: 8px;}
}

.listing .core-info span.h5 {
  font-size: 0.9rem;
}
  
/*--- PAID LISTINGS ---*/
.card.premium {border-color: #ffddd0;}
.card.gold {border-color: #ffe5b9;}
.card.platinum {
  border-color: #f38084 !important;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(255,222,225,1);
  -moz-box-shadow: 0px 0px 0px 4px rgba(255,222,225,1);
  box-shadow: 0px 0px 0px 4px rgba(255,222,225,1);
}

.card.premium .ribbon span {background: #e86851}
.card.gold .ribbon span {background: #f5943a;}
.card.platinum .ribbon span {
  background: -webkit-linear-gradient(315deg,#3a1c71 0,#d76d77 50%,#ffaf7b 100%);
  background: -o-linear-gradient(315deg,#3a1c71 0,#d76d77 50%,#ffaf7b 100%);
  background: linear-gradient(135deg,#3a1c71 0,#d76d77 50%,#ffaf7b 100%);
}
  
@media(max-width:1240px) {
  .listing .core-info .h5 {font-size: 0.8rem;}
}

@media(max-width:1024px) {
  .listing .scroll-trick::-webkit-scrollbar {display: none;}
  
  .listing .core-info .block {padding:0 0.5rem;}
}

.listing .card-body {padding: 0.8rem}
  
  @media (max-width:542px) {
    .listing .proj-name {font-size: 0.9rem;}
    // .listing .core-info .block {border-right: 1px solid #e8e8e8;}
    // .listing .core-info .block:first-child {padding-left: 0;}
    // .listing .core-info .block:last-child {border-right: none;}
    .listing .core-info .h5 {font-size: 0.9rem;}
    .listing .listing .card-img {max-height: 160px; object-fit: cover;}
  }
  
  @media (max-width:576px) {
    .listing img.listing-thumb {max-height: 150px; object-fit: cover;}
  }
  
  @media (max-width:420px) {
    .listing .user-name {max-width:140px;}
    .listing .developer-name {max-width:230px;}
  }
  
  @media (min-width:442px) {
    .listing .company-logo, .listing .developer-logo {max-width:120px; max-height: 50px; top: auto; transform:none;}
  }
  
  .listing .btn-actions {position:absolute; right: 8px; top:8px;}
  .listing .btn-actions .btn {font-size: 1rem; padding: 0.3rem; line-height: 1; background: rgba(255,255,255,0.7); cursor: pointer;}
  
  .listing .btn-actions .favorite:hover {background: rgba(220, 53, 70, 0.7); color: #fff;}
  .listing .btn-actions .favorite.active  {background: #dc3545 !important; color: #fff;}
  
  .listing .btn-actions .btn.share:hover {background: rgba(46, 192, 79, 0.7); color: #fff;}
  .listing .btn-actions .btn.share.active  {background: #ff7800 !important; color: #fff;}
  
  .listing .btn-actions .favorite:focus, .btn-actions .favorite.focus, .btn-actions .share:focus, .btn-actions .share.focus {-webkit-box-shadow: none; box-shadow: none;}
  
  .listing .additional li {height:26px; line-height: 26px;}
  .listing .additional .list-inline-item:not(:last-child) {margin-right: 1.2rem;}