/*---------- PROJECT EXPERT -----------*/
.project-experts .card {overflow: visible;}
.project-experts .card:hover .card-header {background:#f9f2fa;}
.project-experts .img-thumbnail {position: absolute; top: -36px; left: 50%; transform: translateX(-50%); width: 72px; height: 72px; padding:3px; z-index: 1;}
.project-experts .img-thumbnail.logo {width: 124px; height: 64px; top:-32px; padding:5px; object-fit:contain;}
.project-experts h6 {margin-top: 28px; font-size: 0.8rem; line-height: 1.4;}
.project-experts .info p {font-size: 0.72rem;}
.project-experts .card:hover .img-thumbnail {border-color:#e58579;}
.project-experts .card span.user-badge img {max-width: 15px;}
.project-experts .alert {font-size: 0.7rem;}
.project-experts .ribbon {left: 0px; top: 0px; width: 65px; height: 65px;}
.project-experts .ribbon span {font-size: 0.55rem; font-weight: bold; line-height: 18px; box-shadow: 0 3px 10px -7px rgba(0, 0, 0, 1); top: 16px; left: -25px;}