/*---- Agent Card (City Expert / Deal Maker) ----*/
.user-card {transition:all .3s ease-in-out; box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.06), 0 10px 10px -5px rgba(0, 0, 0, 0.02);}
.user-card:hover {box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.1);}
.user-card .card-header {text-shadow: 1px 1px 0px rgba(150, 150, 150, 0.6);}
.user-card img.profile-pic {object-fit: cover; width: 64px; height: 64px;}
.user-card .name {font-size: .94rem; font-weight:600;}
.user-card .type {position:relative; font-size: 0.72rem; color: rgba(255, 255, 255, 1);}
.user-card .type::before {content: ''; display: block; width: 24px; height:24px; position: absolute; left: 0; top: 50%; transform: translateY(-50%); background-position: center center; background-repeat: no-repeat; background-size: contain;}
.user-card .type.deal-maker, .user-card .type.area-expert, .user-card .type.locality-expert {padding-left: 28px;}
.user-card .type.deal-maker::before {background-image: url(../img/deal-maker.svg)}
.user-card .type.area-expert::before {background-image: url(../img/area-expert.svg)}
.user-card .type.locality-expert::before {background-image: url(../img/locality-expert.svg)}

.user-card .card-footer {background: rgba(0, 0, 0, 0.02)}
.user-card .company {text-decoration: none;}
.user-card .company img {max-width:100px; max-height: 30px;}