/*---- Gradient Button ----*/
.btn-gradient {
    color: #fff;
    cursor: pointer;
    border: none;
    background-image: -webkit-linear-gradient(315deg,#3a1c71 0,#d76d77 50%,#ffaf7b 100%);
    background-image: -webkit-linear-gradient(315deg,#3a1c71 0,#d76d77 50%,#ffaf7b 100%);
    background-image: -o-linear-gradient(315deg,#3a1c71 0,#d76d77 50%,#ffaf7b 100%);
    background-image: linear-gradient(135deg,#3a1c71 0,#d76d77 50%,#ffaf7b 100%);
    background-size: 150% 100%;
    border-radius: 5px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn-gradient:hover {
    color:#fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-position: 50% 0;
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn-gradient:focus {
    outline: none;
  }