@keyframes slideUp {
  from {
    transform: translateY(8px);
    opacity: 0;
 }
  to {
    transform: translateY(0);
    opacity: 1;
 }
}
.navbar-light {
  background: #fff;
  border-bottom: 1px solid #ebebeb;
}
.navbar-light .container-fluid {
  gap: 0.65rem;
}
.navbar-light .navbar-brand {
  padding: 0;
}
.navbar-light .navbar-brand svg {
  width: 28px;
  height: 31px;
}
.navbar-light .search {
  width: 100%;
  max-width: 420px;
}
.navbar-light .search .btn {
  position: relative;
  padding: 0.85rem 1rem !important;
  color: #76808e;
  border: 1px solid #e3e3e3;
  border-radius: 50rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
}
.navbar-light .search span.text-truncate {
  max-width: 80px;
}
.navbar-light .search button {
  cursor: text;
}
.navbar-light .search:hover {
  color: #162233;
  border-color: #162233;
}
.navbar-light span.i-search {
  display: block;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.48rem;
  background-color: #ee324b;
  font-size: 1.2rem;
  line-height: 0;
}
.navbar-light span.i-search::before {
  color: #fff;
}
.navbar-light .nav-user .dropdown-toggle:after {
  margin-left: -0.15rem;
}
.btn-group.search > .btn-group.search:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group.search > .btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.navbar-light.scroll-bg * {
  transition: all 0.3s ease;
}
.navbar-brand {
  padding: 3px 15px 3px 10px;
  font-size: 18px;
  line-height: normal;
  height: auto;
  margin-right: 0;
}
.navbar-brand svg .symbol {
  fill: #ee324b;
}
.navbar-brand svg .text {
  fill: #ee324b;
  display: none;
}
.navbar-brand img {
  max-width: 120px;
}
.auto-hide-header {
  position: fixed;
  position: -webkit-fixed;
  z-index: 1030;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
/* .auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
} */
.auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.nav-open .primary-nav ul {
  display: block;
}
.primary-nav ul:target {
  display: block;
}
.navbar {
  min-height: 62px;
  margin-bottom: 0;
  padding: 0;
}
.navbar .dropdown-menu {
  position: absolute;
  animation: slideUp 0.3s ease-in-out;
}
.navbar .notification a.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 0;
}
.navbar .package a.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 0;
}
.nav-link {
  padding: 0.45rem 1rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1.35rem 0;
}
.navbar-nav a {
  font-weight: 600;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.navbar-nav a:hover span.free {
  color: #fff;
}
.navbar-nav > li > a.property {
  position: relative;
}
.navbar-nav .nav-user.open > a {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}
.navbar-nav .nav-user .dropdown-toggle:after {
  content: none;
}
.nav-user a path {
  fill: #76808e
}
.nav-user a:hover path, .nav-user a:focus path {
  fill: #162233
}

.nav-user .dropdown-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-user .dropdown-item .icon {
  font-size: 1.0625rem;
  line-height: 1;
}
  

.navbar-nav > a:hover.property {
  color: #ff3e4b !important;
}
.navbar-nav span.free {
  position: absolute;
  left: 0;
  top: 0.6rem;
  color: #ff3e4b;
  font-size: 0.7rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.nav-user > a {
  display: flex;
}
.nav-user > a img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.nav-user > a svg {
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.nav-item.notification .card-body {
  max-height: 20rem;
}
.nav-item.package .card-body {
  max-height: 20rem;
}
.notification a.nav-link {
  font-size: 1.5rem;
}
.notification .dropdown-menu img.avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.notification .dropdown-menu .icon {
  width: 32px;
  height: 32px;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
}
.notification .dropdown-menu .text {
  font-size: 0.75rem;
}
.notification .title {
  font-size: 0.75rem;
}
.notification .notify.new {
  background-color: #fff9fa;
}
.notification .notify:not(.new):hover {
  background-color: #f5f7fb;
}
.notification .notify a:hover {
  text-decoration: none;
}
.notification .notify:not(:first-of-type) {
  border-top: 1px solid #dee2e6;
}
.package a.nav-link {
  font-size: 1.5rem;
}
.notification-number {
  position: absolute;
  background-color: #ee324b;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  right: 2px;
  top: -1px;
}
.drop-toggle:hover {
  background: rgba(0, 0, 0, 0.075);
}
.drop-options {
  top: 1.5rem;
}
.dropdown-submenu a.dropdown-item {
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
}
.navbar-right {
  float: right !important;
}
.bottom-nav svg {
  width: 24px;
  height: 24px;
}
.bottom-nav svg circle {
  fill: #8b94a0;
}
.bottom-nav svg path {
  fill: #fff;
}
.bottom-nav a:hover svg circle {
  fill: #162233;
}
.offcanvas.open ~ nav.fixed-bottom {
  z-index: 1019;
}
.navbar.fixed-bottom .navbar-nav .nav-link {
  font-weight: 700;
  font-size: 0.65rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  gap: 0.5rem;
  line-height: 1;
}
.navbar.fixed-bottom .navbar-nav > li > a {
  padding: 8px 0;
}
.navbar.fixed-bottom .nav-item {
  flex-grow: 1;
  flex-basis: 0;
}
.navbar.fixed-bottom .nav-link svg {
  width: 24px;
  margin-bottom: 0.35rem;
}
.navbar.fixed-bottom .nav-link svg path {
  color: #8d99ae;
}
.navbar.fixed-bottom .nav-link:hover span, .navbar.fixed-bottom .nav-link:focus span, .navbar.fixed-bottom .nav-link:active span {
  color: #162233;
}
.navbar.fixed-bottom .nav-link.active span {
  color: #ee324b;
}
.dropdown-menu > li > a {
  padding: 5px 20px;
  font-size: 0.8rem;
  font-weight: 500;
}
.dropdown-menu .dropdown-item {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}
.dropdown-menu .dropdown-item:focus {
  color: #000;
  text-decoration: none;
  background-color: #f7f7f7;
}
.dropdown-menu .dropdown-item:hover {
  color: #000;
  text-decoration: none;
  background-color: #f7f7f7;
}
.navbar-nav.ml-auto {
  margin-right: 50px;
}
.navbar.navbar-light {
  background: rgba(255, 255, 255, 0.85);
  transition: all 0.3s ease;
}
.navbar.navbar-light.scrolled {
  background-color: #fff;
}
@media (min-width: 1024px) {
  .navbar-light .container-fluid {
    gap: 0.8rem;
 }
  .navbar-light .navbar-brand svg {
    width: 140px;
 }
  .navbar-light .navbar-brand svg .text {
    display: block;
 }
  .nav-user span.text {
    display: inline-block;
 }
}
@media (min-width: 768px) {
  .navbar.fixed-bottom .navbar-nav {
    gap: 1.5rem;
 }
}
@media (min-width: 576px) {
  .nav-item .card-body {
    width: 360px;
    max-height: 20rem;
 }
}
@media (max-width: 1200px) {
  .btn-nav-search {
    padding: 0;
    border: 0;
 }
  .btn-nav-search .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%, -50%);
    display: block;
    padding: 1.25rem;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    background: #ff3e4b;
    border-radius: 5px;
    z-index: 3;
 }
}
@media (max-width: 992px) {
  .navbar-brand {
    padding: 3px 5px 3px 15px;
 }
  li.nav-user > a {
    height: 46px;
 }
}
@media (max-width: 576px) {
  .navbar .dropdown-menu:not(.drop-options) {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 0;
  }
}

@supports ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) or (-webkit-backdrop-filter:blur(1px)) {
  .navbar.navbar-light, .navbar.navbar-light.scrolled, .navbar.fixed-bottom {
      background: rgba(255,255,255,0.75);
      -webkit-backdrop-filter: blur(30px) saturate(180%);
      backdrop-filter: blur(30px) saturate(180%);
  }
}
