@keyframes slideUp {
  from {
    transform: translateY(8px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* @-webkit-keyframes dotpulse {
  0% {
    box-shadow: 0 0 0 0 #ff3e4b;
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
@-moz-keyframes dotpulse {
  0% {
    box-shadow: 0 0 0 0 #ff3e4b;
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
@keyframes dotpulse {
  0% {
    box-shadow: 0 0 0 0 #ff3e4b;
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
.navbar-light {
  background: #fff;
  border-bottom: 1px solid #ebebeb;
}
.navbar-light .container-fluid {
  gap: 0.65rem;
}
.navbar-light .navbar-brand {
  padding: 0;
}
.navbar-light .navbar-brand svg {
  width: 28px;
  height: 31px;
}

.navbar-light .search {
  width: 100%;
  max-width: 420px;
}
.navbar-light .search .btn {
  position: relative;
  padding: 0.85rem 1rem !important;
  color: #76808e;
  border: 1px solid #E3E3E3;
  border-radius: 50rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
}
.btn-group.search>.btn-group.search:not(:first-child)>.btn, .btn-group.search>.btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.navbar-light .search span.text-truncate {
  max-width: 80px;
}
.navbar-light .search button {
  cursor: text;
}

.navbar-light .search:hover {
  color: #162233;
  border-color: #162233;
}
.navbar-light span.i-search {
  display: block;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.48rem;
  background-color: #ee324b;
  font-size: 1.2rem;
  line-height: 0;
}
.navbar-light span.i-search::before {
  color: #fff;
}
.navbar-light .nav-user .dropdown-toggle:after {
  margin-left: -0.15rem;
}
/* .navbar-light .hc-nav-trigger, .navbar-dark .hc-nav-trigger {
  position: relative;
  right: 0;
} */
.navbar-light.scroll-bg * {
  transition: all 0.3s ease;
}
.navbar-brand {
  padding: 3px 15px 3px 10px;
  font-size: 18px;
  line-height: normal;
  height: auto;
  margin-right: 0;
}
.navbar-brand svg .symbol {
  fill: #ee324b;
}
.navbar-brand svg .text {
  fill: #ee324b;
  display: none;
}
.navbar-brand img {
  max-width: 120px;
}
.auto-hide-header {
  position: fixed;
  position: -webkit-fixed;
  z-index: 1030;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  // border: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
/* .auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
} */
.auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.nav-open .primary-nav ul {
  display: block;
}
.primary-nav ul:target {
  display: block;
}
/* .navbar-dark {
  background: #000;
}
.navbar-dark .dropdown-menu {
  margin: 0;
  border-radius: 5px;
  max-height: 420px;
  // overflow: auto;
  position: absolute;
  border: none;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.navbar-dark .dropdown-menu a {
  padding: 0.5rem 0.9rem;
}
.navbar-dark .dropdown-menu .divider {
  margin: 5px 0;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}
.navbar-dark .navbar-nav > div.dropdown:hover > a {
  color: #ff3e4b;
}
.navbar-dark .city-drop {
  padding: 12px;
  font-size: 0.78rem;
  font-weight: 500;
}
.navbar-dark .city-drop .caret {
  margin-left: 2px;
}
.navbar-dark .btn:focus {
  box-shadow: none !important;
}
.navbar-dark .btn:active {
  box-shadow: none !important;
} */
.navbar {
  min-height: 62px;
  margin-bottom: 0;
  padding: 0;
}

.nav-link {
  padding: 0.45rem 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1.35rem 0;
}
.navbar .dropdown-menu {
  position: absolute;
  animation: slideUp 0.3s ease-in-out;
}
.navbar-nav a {
  font-weight: 600;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.navbar-nav a:hover span.free {
  color: #fff;
}
/* .navbar-nav>li>a {
  padding: 12px 0;
} */
.navbar-nav>li>a.property {
  position: relative;
}
.nav-user>a {
  display: flex;
}
.navbar-nav .nav-user.open > a {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}
.navbar-nav .nav-user .dropdown-toggle:after {
  content: none;
}
.navbar-nav>a:hover.property {
  color: #ff3e4b !important;
}
.navbar-nav span.free {
  position: absolute;
  left: 0;
  top: 0.6rem;
  color: #ff3e4b;
  font-size: 0.7rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-item.notification .card-body, .nav-item.package .card-body {
  max-height: 20rem;
}

.navbar .notification a.nav-link, .navbar .package a.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 0;
}

.notification a.nav-link, .package a.nav-link {
  font-size: 1.5rem;
}

.notification-number {
  position: absolute;
  background-color: #ee324b;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  right: 2px;
  top: -1px;
}

.notification .dropdown-menu img.avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.notification .dropdown-menu .icon {
  width: 32px;
  height: 32px;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
}
.notification .dropdown-menu .text {
  font-size: .75rem;
}
.notification .title {
  font-size: .75rem;
}

.notification .notify.new {
  background-color: #fff9fa;
}
.notification .notify:not(.new):hover {
  background-color: #f5f7fb;
}
.notification .notify a:hover {
  text-decoration: none;
}
.notification .notify:not(:first-of-type) {
border-top: 1px solid #dee2e6;
}

.drop-toggle:hover {
  background: rgba(0,0,0,0.075);
}
.drop-options {
  top: 1.5rem;
}
.dropdown-submenu a.dropdown-item {
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
}
.navbar-right {
  float: right !important;
}
/* .nav-user span.text {
  display: none;
} */

.nav-user>a img, .nav-user>a svg {
  width: 35px;
  height: 35px;
  object-fit: cover;
  // -webkit-transition: all 0.5s;
  // transition: all 0.5s;
}
/*
 .nav-user .caret {
  margin: 0;
}
.nav-user .dropdown-menu a.dropdown-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  // padding: 0.5rem 0.8rem;
}
.nav-user .dropdown-menu span {
  font-size: 1.2rem;
  line-height: 1;
}
.nav-user .dropdown-menu span.i-key::before {
  font-size: 1.2rem;
  display: block;
  margin-top: -5px;
}
.nav-user .dropdown-menu span.i-pen::before {
  font-size: 1rem;
  display: block;
  margin-top: -5px;
} */
.bottom-nav svg {
  width: 24px;
  height: 24px;
}
.bottom-nav svg circle {
  fill: #8b94a0;
}
.bottom-nav svg path {
  fill: #fff;
}
.bottom-nav a:hover svg circle {
  fill: #162233;
}
.offcanvas.open ~ nav.fixed-bottom {
  z-index: 1019;
}
.navbar.fixed-bottom .navbar-nav .nav-link {
  font-weight: 700;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  gap: 0.5rem;
  line-height: 1;
}
.navbar.fixed-bottom .navbar-nav > li > a {
  padding: 8px 0;
}
.navbar.fixed-bottom .nav-item {
  flex-grow: 1;
  flex-basis: 0;
}
.navbar.fixed-bottom .nav-link svg {
  width: 24px;
  margin-bottom: 0.35rem;
}
.navbar.fixed-bottom .nav-link svg path {
  fill: #8d99ae;
}
.navbar.fixed-bottom .nav-link:hover svg path, .navbar.fixed-bottom .nav-link:active svg path, .navbar.fixed-bottom .nav-link.active svg path {
  fill: #ee324b;
}
.navbar.fixed-bottom .nav-link:focus svg path {
  fill: #162233;
}
.dropdown-menu > li > a {
  padding: 5px 20px;
  font-size: 0.8rem;
  font-weight: 500;
}
.dropdown-menu .dropdown-item {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}
.dropdown-menu .dropdown-item:focus {
  color: #000;
  text-decoration: none;
  background-color: #f7f7f7;
}
.dropdown-menu .dropdown-item:hover {
  color: #000;
  text-decoration: none;
  background-color: #f7f7f7;
}
.navbar-nav.ml-auto {
  margin-right: 50px;
}
/* .dot-pulse {
  position: absolute;
  left: -9px;
  top: 0.9rem;
  border-radius: 50%;
}
.dot-pulse > span {
  position: relative;
  z-index: 1;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: inherit;
  background: #ff3e4b;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.dot-pulse::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  -webkit-animation: dotpulse 2s infinite;
  -moz-animation: dotpulse 2s infinite;
  animation: dotpulse 2s infinite;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.btn-nav-search {
  position: relative;
  font-weight: 500;
  margin: 0 3px 0 5px;
  padding: 12px 40px 12px 12px;
  background: #ff3e4b;
  line-height: 1.3;
}
.btn-nav-search .icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  z-index: 3;
}
.btn-nav-search .icon::before {
  top: 10px;
  left: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid #2e3233;
}
.btn-nav-search .icon::after {
  height: 3px;
  width: 8px;
  background: #2e3233;
  bottom: 13px;
  right: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-nav-search[aria-expanded="true"] {
  background: #e8e8e8;
}
.scroll-bg.btn-nav-search {
  display: none;
}
.scroll-bg.scrolled.btn-nav-search {
  display: inline-block;
}
.btn-input {
  position: relative;
  font-weight: 500;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.btn-input .icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: block;
  width: 44px;
  height: 44px;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  background: #ff3e4b;
  border-radius: 5px;
  z-index: 3;
}
.btn-input .icon::before {
  top: 11px;
  left: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid #2e3233;
}
.btn-input .icon::after {
  height: 3px;
  width: 8px;
  background: #2e3233;
  bottom: 14px;
  right: 11px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn .icon::before {
  content: '';
  position: absolute;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.btn .icon::after {
  content: '';
  position: absolute;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.btn .icon span.rotate {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.btn .icon span.rotate::before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 22px;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -11px;
  background: #2e3233;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn .icon span.rotate::after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 22px;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -11px;
  background: #2e3233;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.btn[aria-expanded="true"] .icon::before {
  opacity: 0;
}
.btn[aria-expanded="true"] .icon::after {
  opacity: 0;
}
.btn[aria-expanded="true"] .icon span.rotate::before {
  opacity: 1;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.btn[aria-expanded="true"] .icon span.rotate::after {
  opacity: 1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn[aria-expanded="true"] span.search-text:before {
  opacity: 0;
  visibility: hidden;
}
.scroll-bg.btn-input {
  display: block;
}
.scroll-bg.scrolled.btn-input {
  display: none;
}
#SearchParameters {
  position: absolute;
  left: 0;
  top: 62px;
  width: 100%;
  padding: 0 20px;
  max-height: 360px;
  overflow-y: auto;
  border-top: 1px solid;
  z-index: 3;
}
span.search-text {
  position: relative;
}
span.search-text:before {
  position: relative;
  right: 2px;
  top: 0;
  content: '';
  border-right: 0.2rem solid #ff3e4b;
  opacity: 1;
  visibility: visible;
  -webkit-animation: 1s blink infinite backwards alternate;
  -moz-animation: 1s blink infinite backwards alternate;
  -ms-animation: 1s blink infinite backwards alternate;
  -o-animation: 1s blink infinite backwards alternate;
  animation: 1s blink infinite backwards alternate;
}
.svg-icon {
  width: 1em;
  height: 1em;
}
.svg-icon path {
  fill: #ff3e4b;
}
.svg-icon polygon {
  fill: #ff3e4b;
}
.svg-icon rect {
  fill: #ff3e4b;
}
.svg-icon circle {
  stroke: #ff3e4b;
  stroke-width: 1;
} */
@media (min-width: 1024px) {
  .navbar-light .container-fluid {
    gap: 0.8rem;
  }
  .navbar-light .navbar-brand svg {
    width: 140px;
  }
  .navbar-light .navbar-brand svg .text {
    display: block;
  }
  .nav-user span.text {
    display: inline-block;
  }
}
/*   @media (min-width: 992px) {
.navbar-dark .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
  }
  .navbar-nav > li.city-drop {
    padding: 0;
  }
  .navbar-nav > li.city-drop > a:hover {
    background: #333 !important;
  }   .nav-user > a {
    position: relative;
  } 
}*/
@media (min-width: 768px) {
/*   .navbar .dropdown-menu-center:not(.drop-options) {
    left: 0;
    right: 0;
  }
  .navbar .dropdown-menu-right:not(.drop-options) {
    right: -0.25rem;
  }
  .navbar .dropdown-menu-left:not(.drop-options) {
    left: -0.25rem;
  } */
  .navbar.fixed-bottom .navbar-nav {
    gap: 1.5rem;
  }
}
/* 
.navbar .dropdown-menu:not(.drop-options)::after {
  content: '';
  display: none;
  height: 16px;
  width: 16px;
  background-color: inherit;
  border: inherit;
  position: absolute;
  top: -8px;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  transform: rotate(135deg);
  border-radius: 0 0 0 0.25em;
}

.navbar .search .dropdown-menu:not(.drop-options) {
  top: calc(100% + 10px);
}
.navbar .search .dropdown-menu:not(.drop-options)::after {
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
} */

@media (min-width: 576px) {
  /* .notification .dropdown > .dropdown-menu {
    min-width: 360px;
  } */
  .nav-item .card-body {
    width: 360px;
    max-height: 20rem;
  }
/*   .navbar .dropdown-menu:not(.drop-options) {
    top: calc(100% + 10px);
  }
  .navbar .dropdown-menu:not(.drop-options)::after {
    display: block;
  }
  .navbar .dropdown-menu.dropdown-menu-right:not(.drop-options)::after {
    right: 0.55rem;
  }
  .navbar .dropdown-menu.dropdown-menu-left:not(.drop-options)::after {
    left: 0.55rem;
  }
  .navbar .dropdown-menu.dropdown-menu-center:not(.drop-options)::after {
    left: 0;
    right: 0;
    margin: 0 auto;
  } */
}

/* @media (max-width: 576px) {
  .navbar .dropdown {
    position: initial;
  }
  .navbar .dropdown-menu:not(.drop-options) {
    width: calc(100% - 15px);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 100%;
  }
} */
@media (max-width: 1200px) {
  .btn-nav-search {
    padding: 0;
    border: 0;
  }
  .btn-nav-search .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%, -50%);
    display: block;
    padding: 1.25rem;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    background: #ff3e4b;
    border-radius: 5px;
    z-index: 3;
  }
}
@media (max-width: 992px) {
  .navbar-brand {
    padding: 3px 5px 3px 15px;
  }
  /* .navbar-dark .city-drop span.text {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
  } */
  li.nav-user > a {
    height: 46px;
  }
}
/* @media (max-width: 640px) {
  .navbar-dark span.text {
    max-width: 80px;
  }
} */

.navbar.navbar-light {
  background: rgba(255,255,255,0.85);
  transition: all .3s ease;
}
.navbar.navbar-light.scrolled {
  background-color: #fff;
}

@supports ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) or (-webkit-backdrop-filter:blur(1px)) {
  .navbar.navbar-light, .navbar.navbar-light.scrolled {
      background: rgba(255,255,255,0.85);
      -webkit-backdrop-filter: blur(30px) saturate(140%);
      backdrop-filter: blur(30px) saturate(140%);
  }
}
