.additional .icon {position: relative; padding-left: 30px; font-weight: 600; font-size: 0.68rem; color: #7f868b;}
.additional .icon::before {content: ''; display: block; width: 26px; height: 26px; position: absolute; left: 0; top: 50%; transform: translateY(-50%); background-position: center center; background-repeat: no-repeat; background-size: contain;}
.additional .icon.rera::before {background-image: url(../img/rera.svg);}
.additional .icon.verified::before {background-image: url(../img/verified.svg);}
.additional .icon.negotiable::before {background-image: url(../img/negotiable.svg);}
.additional .icon.no-brokerage::before {background-image: url(../img/no-brokerage.svg);}
.additional .icon.oc-received::before {background-image: url(../img/oc-received.svg);}