/*--- Category Tagging (Luxury, Distress, Senior) ---*/
.category {position: relative; font-size: .7rem; font-weight: 600; padding: .24rem .5rem .24rem .5rem; overflow: hidden;}
.category span {padding: 0.3rem 0; height: 100%; position: absolute; left:0; top: 50%; transform: translateY(-50%); background:rgba(255, 255, 255, 0.4);}
.category img {max-width: 32px;}

.category.distress {
  color: #fff;
  background: #FFAFBD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff8c9f, #ffb387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff8c9f, #ffb387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.category.luxury {
  color: #fff;
  background: #c59a39;
  background: -webkit-linear-gradient(to left, #c59a39, #ffcb20);
  background: linear-gradient(to left, #c59a39, #ffcb20);
}

.category.preleased {
  color: #fff;
  background: #45B649;
  background: -webkit-linear-gradient(to left, #45B649, #ccd347);
  background: linear-gradient(to left, #45B649, #ccd347);
}

.category.senior {
  color: #fff;
  background: #4CA1AF;
  background: -webkit-linear-gradient(to left, #4CA1AF, #98c6ce);
  background: linear-gradient(to left, #4CA1AF, #98c6ce);
}