#truncate .collapse:not(.show), #truncate .collapsing {
  position: relative;
  height: 180px;
  overflow: hidden; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 50; */
}

#truncate .collapse:not(.show)::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}


/* #truncate a.toggle[aria-expanded='false'] {
  position: relative;
}
#truncate a.toggle[aria-expanded='true'] {
  position: sticky;
  bottom: 0;
} */

#truncate .toggle {
  margin: 0 auto;
}

#truncate .toggle[aria-expanded='false'] {
  position: relative;
}

#truncate .toggle[aria-expanded='true'] {
  position: sticky;
  bottom: 2rem;
}


#truncate .toggle[aria-expanded='false']:after  {
    content: '+ read more';
}

#truncate .toggle[aria-expanded='true']:after {
    content: '- read less';
}

/* #truncate p:last-child {
  margin-bottom: 0;
} */