/*form styles*/
#stepsform {
	clear: both;
	position: relative;
}

#stepsform .form-slide {
	/*stacking slides above each other*/
	position: relative;
	width: 100%;
}

/*Hide all except first side*/
#stepsform .form-slide:not(:first-of-type) {
	display: none;
}

#stepsform .prev-btn {
	position: absolute;
	left: .25rem;
	top: .25rem;
}
#stepsform .prev-btn .previous {
	display: flex;
    font-weight: 600;
    font-size: 0.65rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 2.1;
}
#stepsform .prev-btn .previous::before {
	font-size: 1.25rem;
	padding-right: .25rem;
}