/*--- Custom Form ---*/

/* form .toggle {
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
} */

form .addon.toggle {
  font-size: 1.2rem;
}

.fieldset-group legend {
  font-size: .95rem;
}

.form-group .btn-outline-primary, .form-label-group .btn-outline-primary {
  border-color: #ced4da;
}
.form-group .btn-outline-primary:hover, .form-label-group .btn-outline-primary:hover {
  border-color: #162233;
  background-color: #fff;
  color: #162233;
}

@media (max-width:767px) {
  .btn-group-toggle.scroll-trick {
    position: relative;
    padding: 5px 15px 10px 15px;
    margin-left: -15px;
  }
}

.form-group .radio.minimal .btn-outline-primary {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


.form-group, .form-label-group, .form-flex-group {
  position: relative;
  margin-bottom: 1.5rem;
}


.form-label-group select.form-control {
  padding: 0.375rem 0.5rem;
}

.form-label-group :not(textarea).form-control, .form-label-group .addon  {
  height: 3.5rem;
  // color: #162233;
}

.form-label-group.form-label-group-lg :not(textarea).form-control, .form-label-group.form-label-group-lg :not(textarea).addon {
  height:4rem;
}
.form-label-group.form-label-group-lg .control-label {
  font-size: 1rem;
  transform: translate3d(1.1rem,1.25rem,0) scale(1);
  transform-origin: 5rem 1.1rem;
}
.form-label-group-lg .form-control, .form-label-group-lg .addon {
  font-size: 1rem;
  padding: 0.375rem 1rem;
}

.form-label-group textarea {
  padding-top: 1.4rem;
}

.form-label-group .control-label {
  color: initial;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transform: translate3d(.82rem, 1.1rem, 0) scale(1);
  transform-origin: 3.5rem 1rem;
  transition: 240ms;
  margin-bottom:0;
  display: block;
  width: calc(100% - 1rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-label-group.focused .control-label {
  opacity: 1;
  transform: scale(0.8);
  color: #777;
}

.form-label-group.focused :not(textarea):not(.dropdown).form-control {
  padding-top: 1rem;
}


/*---- FORM GROUP IN FLEX ----*/

.form-flex-group {
  display: flex;
}

.form-flex-group .form-label-group {
  margin-bottom: 0;
}
.form-flex-group.fill .form-label-group {
  flex:1 1 auto;
}

.form-flex-group .form-label-group:not(:first-of-type):not(:last-of-type) .form-control {
  border-radius:0;
}

.form-label-group:focus-within {
  z-index:1;
}

.form-flex-group .form-label-group:not(:first-of-type):not(:last-of-type) {
  border-radius:0;
}

.form-flex-group .form-label-group:first-of-type {
  margin-right: -1px;
}
.form-flex-group .form-label-group:last-of-type {
  margin-left: -1px;
}


@media (max-width:575px) {
  .form-flex-group.col-mobile {
    flex-direction: column;
  }

  .form-flex-group.col-mobile .form-label-group:first-of-type {
    margin-right: 0;
  }
  .form-flex-group.col-mobile .form-label-group:last-of-type {
    margin-left: 0;
  }

  .form-flex-group.col-mobile .form-label-group:first-of-type {
    margin-bottom: -1px;
  }
  .form-flex-group.col-mobile .form-label-group:last-of-type {
    margin-top: -1px;
  }

  .form-flex-group.col-mobile .form-label-group:first-of-type .form-control {
    border-bottom-right-radius:0;
    border-bottom-left-radius: 0;
  }
  .form-flex-group.col-mobile .form-label-group:last-of-type .form-control {
    border-top-right-radius:0;
    border-top-left-radius: 0;
  }

  .form-flex-group:not(.col-mobile) .form-label-group:first-of-type .form-control {
    border-top-right-radius:0;
    border-bottom-right-radius: 0;
}
.form-flex-group:not(.col-mobile) .form-label-group:last-of-type .form-control {
    border-top-left-radius:0;
    border-bottom-left-radius: 0;
}

}


.form-flex-group .form-label-group:first-of-type .addon {
  border-top-right-radius:0;
  border-bottom-right-radius: 0;
}
.form-flex-group .form-label-group:last-of-type .addon {
  border-top-left-radius:0;
  border-bottom-left-radius: 0;
}

.form-flex-group .form-label-group:not(:first-of-type):not(:last-of-type) .addon {
  border-right: 0;
  border-radius: 0;
}


@media (min-width:576px) {
  .form-flex-group {
    flex-direction: row;
  }

  .form-flex-group .form-label-group:first-of-type .form-control {
    border-top-right-radius:0;
    border-bottom-right-radius: 0;
  }
  .form-flex-group .form-label-group:last-of-type .form-control {
    border-top-left-radius:0;
    border-bottom-left-radius: 0;
  }

}


/*--- Custom Radio, Checkbox and Toggle ---*/
.custom-control.with-info:not(.custom-switch) .custom-control-label:before,
.custom-control.with-info:not(.custom-switch) .custom-control-label:after,
.custom-control.with-info.big:not(.custom-switch) .custom-control-label:after,
.custom-control.with-info.big:not(.custom-switch) .custom-control-label:before {
  top: 0;
  transform: none;
}

.custom-radio .custom-control-label {
  cursor:pointer;
}

.custom-control.big {
  min-height: 2.15rem;
  padding-left: 2rem;
  position: relative;
}

.custom-control.big .custom-control-label {
  margin-bottom: 0;
  position: relative;
  vertical-align: top;
  font-size: .95rem;
}

.custom-control.big:not(.custom-switch) .custom-control-label:before, .custom-control.big:not(.custom-switch) .custom-control-label:after {
  height: 1.5rem;
  width: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  left: -2rem;
}

.custom-switch.big {
  padding-left: 3.25rem;
}

.custom-switch.big .custom-control-label {
  font-size: .95rem;
}

.custom-switch.big .custom-control-label:before {
  border-radius: 50px;
  left: -3.25rem;
  width: 2.75rem;
  height: 1.5rem;
}

.custom-switch.big .custom-control-label:after {
  border-radius: 50px;
  height: calc(1.5rem - 4px);
  left: calc(-3.25rem + 2px);
  width: calc(1.5rem - 4px);
}

.custom-switch.big:not(.with-info) .custom-control-label:before,
.custom-switch.big:not(.with-info) .custom-control-label:after {
  top: 50%;
  transform: translateY(-50%);
}

.custom-switch.big .custom-control-input:checked~.custom-control-label:after {
  transform: translate(1.25rem,0);
}

.custom-switch.big:not(.with-info) .custom-control-input:checked~.custom-control-label:after {
  transform: translate(1.25rem,-50%);
}



/*---- Custom File Upload Field ----*/
.custom-file {
  overflow: hidden;
}

.custom-file, .custom-file-input {
  height: 3.5rem;
  padding: 0 0.75rem;
  line-height: 3.5rem;
}

.custom-file-label {
  height:3.5rem;
  padding: 0 0.75rem;
  line-height: 3.5rem;
  white-space: nowrap;
}

.custom-file-label:after {
  height: 3.4rem;
  line-height: 3.4rem;
  padding: 0 0.75rem;
}


/*--- Bootstrap-select Multi-Select Custom Dropdown ---*/
.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
  color:inherit !important;
  cursor: inherit;
}

.show>.btn.dropdown-toggle {
  color: #162233;
  background-color: inherit;
  box-shadow: 0 0 0 0.2rem rgba(22, 34, 51, 0.25);
}

input:hover, select:hover, textarea:hover {
  border-color: #162233;
}

.bootstrap-select .btn {
  border-color: #ced4da;
}

.bootstrap-select .btn:hover,
.bootstrap-select .btn:not(:disabled):not(.disabled):active,
.bootstrap-select .show>.btn.dropdown-toggle {
  border-color: #162233;
  background-color: inherit;
  color: inherit;
}


.bootstrap-select .btn.dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.btn.dropdown-toggle {
  outline: 0 !important;
  outline-offset: 0 !important;
}

.bootstrap-select .btn.focus, .bootstrap-select .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(22, 34, 51, 0.25) !important;
}

.dropdown-menu[x-placement^=bottom] {
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.dropdown-menu[x-placement^=top] {
  box-shadow: 0 -4px 20px rgba(0,0,0,0.15);
}

.otp-field {
  gap: 0.75rem;
}
.otp-field .form-control {
  width: 48px;
  height: 62px;
  font-size: 1.5rem;
  text-align: center;
}