
/*progressbar*/
#progressbar {
    position: relative;
	// overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
    z-index: 1;
}
#progressbar li {
	flex-basis: 100%;
	// min-width: 0;
	position: relative;
	text-align: center;
	// padding: 0 2.5%;
	font-weight: 600;
	font-size: .75rem;
	text-transform: uppercase;
	letter-spacing: 0.03rem;
	line-height: 1.35;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	display: block;
	background: #ccc;
	border-radius: 3px;
	margin: 0 auto 5px auto;
  font-size: .75rem;
  line-height: 2;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #ccc;
	position: absolute;
	left: -50%;
	top: 9px;
  transition: background-color 0.3s ease;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #162233;
	color: white;
}