/*--- GALLERY GRID ---*/
.gal-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
       "  left_ right1   "
       "  left_ right2   ";
  }
  
  // .right_1 { grid-area: right1; }
  // .right_2 { grid-area: right2; }
  // .grid-left { grid-area: left_; } /* "left" is a pre-defined CSS keyword, so it may not work */
  
  /* non-essential decorative styles */
  // .right_1 {border: 3px solid transparent;}
  // .right_2 {border: 3px solid transparent; margin-top: -1px;} /* Do Not Remove the Negative Margin */
  // .grid-left {border-right: 2px solid transparent;}
  
  .gal-grid > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  /*--- Gallery ---*/
  .imglist {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    top: 0;
  }
  .imglist img {object-fit: cover}
  
  .imglist .col-4 {outline: 1px solid #fff;}
  .imglist .col-4:first-of-type {margin-left: 1px;}
  .imglist .col-4:last-of-type {margin-right: -1px;}
  
  .gal-item em {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background: rgba(106, 44, 121,0.7);
    font-size: 1.3rem;
    font-style: normal;
  }
  .gal-item.expanded em {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .gal-item.expanded em span {
    -webkit-align-self: center!important;
    -ms-flex-item-align: center!important;
    align-self: center!important;
  }
  
  /*-- Custom Fancybox Styles --*/
  .fancybox-thumbs__list a:before {
        border: 3px solid #fead00 !important;
  }
  
  
  /*--- Adjust Image ---*/
  .gal-item img {object-fit: cover;}
  .gal-item img.first-img {width: 100%; height:320px; max-height: 240px;}
  .gal-item img.thumbs {width: 100%; height: 180px; max-height: 101px;}