.gap-0 {
    grid-gap: 0 !important;
    gap: 0 !important;
}
.gap-1 {
    grid-gap: 0.25rem !important;
    gap: 0.25rem !important;
}
.gap-2 {
    grid-gap: 0.5rem !important;
    gap: 0.5rem !important;
}
.gap-3 {
    grid-gap: 1rem !important;
    gap: 1rem !important;
}
.gap-4 {
    grid-gap: 1.5rem !important;
    gap: 1.5rem !important;
}
.gap-5 {
    grid-gap: 2rem !important;
    gap: 2rem !important;
}
.gap-6 {
    grid-gap: 3rem !important;
    gap: 3rem !important;
}

@media (min-width: 576px) {
    .gap-sm-0 {
        grid-gap: 0 !important;
        gap: 0 !important;
    }
    .gap-sm-1 {
        grid-gap: 0.25rem !important;
        gap: 0.25rem !important;
    }
    .gap-sm-2 {
        grid-gap: 0.5rem !important;
        gap: 0.5rem !important;
    }
    .gap-sm-3 {
        grid-gap: 1rem !important;
        gap: 1rem !important;
    }
    .gap-sm-4 {
        grid-gap: 1.5rem !important;
        gap: 1.5rem !important;
    }
    .gap-sm-5 {
        grid-gap: 2rem !important;
        gap: 2rem !important;
    }
    .gap-sm-6 {
        grid-gap: 3rem !important;
        gap: 3rem !important;
    }
}

@media (min-width: 768px) {
    .gap-md-0 {
        grid-gap: 0 !important;
        gap: 0 !important;
    }
    .gap-md-1 {
        grid-gap: 0.25rem !important;
        gap: 0.25rem !important;
    }
    .gap-md-2 {
        grid-gap: 0.5rem !important;
        gap: 0.5rem !important;
    }
    .gap-md-3 {
        grid-gap: 1rem !important;
        gap: 1rem !important;
    }
    .gap-md-4 {
        grid-gap: 1.5rem !important;
        gap: 1.5rem !important;
    }
    .gap-md-5 {
        grid-gap: 2rem !important;
        gap: 2rem !important;
    }
    .gap-md-6 {
        grid-gap: 3rem !important;
        gap: 3rem !important;
    }
}

@media (min-width: 992px) {
    .gap-lg-0 {
        grid-gap: 0 !important;
        gap: 0 !important;
    }
    .gap-lg-1 {
        grid-gap: 0.25rem !important;
        gap: 0.25rem !important;
    }
    .gap-lg-2 {
        grid-gap: 0.5rem !important;
        gap: 0.5rem !important;
    }
    .gap-lg-3 {
        grid-gap: 1rem !important;
        gap: 1rem !important;
    }
    .gap-lg-4 {
        grid-gap: 1.5rem !important;
        gap: 1.5rem !important;
    }
    .gap-lg-5 {
        grid-gap: 2rem !important;
        gap: 2rem !important;
    }
    .gap-lg-6 {
        grid-gap: 3rem !important;
        gap: 3rem !important;
    }
}

@media (min-width: 1200px) {
    .gap-xl-0 {
        grid-gap: 0 !important;
        gap: 0 !important;
    }
    .gap-xl-1 {
        grid-gap: 0.25rem !important;
        gap: 0.25rem !important;
    }
    .gap-xl-2 {
        grid-gap: 0.5rem !important;
        gap: 0.5rem !important;
    }
    .gap-xl-3 {
        grid-gap: 1rem !important;
        gap: 1rem !important;
    }
    .gap-xl-4 {
        grid-gap: 1.5rem !important;
        gap: 1.5rem !important;
    }
    .gap-xl-5 {
        grid-gap: 2rem !important;
        gap: 2rem !important;
    }
    .gap-xl-6 {
        grid-gap: 3rem !important;
        gap: 3rem !important;
    }
}

@media (min-width: 1400px) {
    .gap-xxl-0 {
        grid-gap: 0 !important;
        gap: 0 !important;
    }
    .gap-xxl-1 {
        grid-gap: 0.25rem !important;
        gap: 0.25rem !important;
    }
    .gap-xxl-2 {
        grid-gap: 0.5rem !important;
        gap: 0.5rem !important;
    }
    .gap-xxl-3 {
        grid-gap: 1rem !important;
        gap: 1rem !important;
    }
    .gap-xxl-4 {
        grid-gap: 1.5rem !important;
        gap: 1.5rem !important;
    }
    .gap-xxl-5 {
        grid-gap: 2rem !important;
        gap: 2rem !important;
    }
    .gap-xxl-6 {
        grid-gap: 3rem !important;
        gap: 3rem !important;
    }
}