/*--- SHADOW HOVER EFFECT apply when needed ---*/
.hover-shadow, .hover-shadow img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .hover-shadow:hover {
    -webkit-box-shadow: 0 0.4rem 0.6rem rgba(0,0,0,.175)!important;
    box-shadow: 0 0.4rem 0.6rem rgba(0,0,0,.175)!important;
  }
  
  .hover-shadow:hover img {
    -webkit-filter:contrast(103%) brightness(103%); /* Safari 6.0 - 9.0 */
    filter:contrast(103%) brightness(103%);
  }