.progress-wrap {
    position: relative;
    width: 100%;
    height: .55rem;
    border-radius: 50rem;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
    background: #E8E8E8;
    overflow: hidden;
  }
  
  .progress-wrap .prog-bar {
    width: 100%;
    height: 100%;
    // background: linear-gradient(to right, #EE324B, #F66026, #F3B407, #6FD913);
    background: linear-gradient(to right, #e43e3d, #ea484d, #ec654e, #ef874c, #f3a74c, #f8c43d, #e1c63b, #c1cc36, #9fcd35, #7fcd31, #5aaf2b);
    mask-image: linear-gradient(to right, black 0%, transparent 0%);
    // box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
  }
  
  .progress-wrap .percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-size: 0.65rem;
    font-weight: 600;
    line-height: 1;
  }
  
  
  /* IE Fallback */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .progress-wrap .prog-bar {
      background: #ee324b; /* Fallback background color for IE */
      mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1 1"><rect width="100%" height="100%" fill="black"/></svg>') center/contain no-repeat;
    }
  }