/*------ MAKE GRIDS HORIZONTAL SCROLLING ON MOBILE -----*/

/* Tip: You can still have block level elements as children of the inline element but the first child of the wrapper needs to be inline (or inline-block or inline-table). */

@media(max-width: 767px) {
    .scroll-trick {
      flex-wrap: nowrap;
      overflow-x:auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }

    .scroll-trick:not(.row) {
      margin-right:-15px; /*To make it look better on mobile */
    }
  
     /* For Certain Conditions as in Popular Locations */
    .text-md-nowrap {
      white-space: nowrap;
    }
  
    /*.scroll-trick::-webkit-scrollbar {
      display: none;
    }*/
    
    /* For iOS give wrapper
    .scroll-trick .wrapper {
      width: 100%;
    } */
  
    .scroll-trick [class*=col-] {margin:15px 0;}
  
  }

  @media(max-width: 991px) {
      .dashboard #listings .scroll-trick {
        flex-wrap: nowrap;
        overflow-x:auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
      }
      .dashboard #listings .scroll-trick [class*=col-] {margin:15px 0;}
  }