/* Fix for Slick Slider with Bootstrap's Flex Utilities*/
.slick-slider * {
    min-height: 0 !important;
    min-width: 0 !important;
  } 
  
  @media(min-width:768px) {
    .slide {
      height: 100%;
    }
  }
  
  // SLICK ARROWS NEXT PREV
  .slick-custom-arrows .slick-arrow {
    display: block;
    position: absolute;
    top: -30px;
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    color: #7f868b;
    background: none;
    border: none;
    padding: 15px 10px;
    border-radius: 3px;
    z-index: 2;
  }
  
  .gradient .slick-arrow, .gradient-reverse .slick-arrow {color:#fff;}
  
  @media(max-width:767px) {
    .slick-custom-arrows .slick-arrow {
      top: -15px;
    }
    .slick-custom-arrows .slick-arrow.slick-prev {
      left:10px;
      padding-left:20px;
      right: auto;
    }
    
    .slick-custom-arrows .slick-arrow.slick-next {
      padding-right:20px;
      left:95px;
      right: auto;
    }
  
  }
  
  .slick-custom-arrows .slick-arrow.slick-prev {
    right:70px;
    padding-left:20px;
  }
  
  .slick-custom-arrows .slick-arrow.slick-next {
    padding-right:20px;
    right:10px;
  }
  
  .slick-custom-arrows .slick-prev:before {
    content: '\e90c';
    left: 0px;
  }
  .slick-custom-arrows .slick-next:before {
    content: '\e911';
    right:0;
  }
  
  .slick-custom-arrows .slick-prev:before, .slick-next:before {
    position: absolute;
    top:50%;
    transform: translateY(-53%);
    font-family: "icomoon";
    font-size: 0.65rem;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .slick-custom-arrows .slick-arrow.slick-prev:hover, .slick-custom-arrows .slick-arrow.slick-next:hover {color: #6a2c79;}