.spotlight a.agent,
.spotlight a.developer {
    text-decoration: none
}
@media (min-width:992px) {
    .spotlight a.agent h3 {
        font-size: 1.1rem
    }
    
    .spotlight a.agent small {
        position: relative;
        font-size: .8rem
    }
}
.spotlight a.agent.area-expert small,
.spotlight a.agent.deal-maker small,
.spotlight a.agent.locality-expert small {
    padding-left: 26px
}
.spotlight a.agent.area-expert small::before,
.spotlight a.agent.deal-maker small::before,
.spotlight a.agent.locality-expert small::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.spotlight a.agent.deal-maker small::before {
    background-image: url(../img/deal-maker.svg)
}
.spotlight a.agent.area-expert small::before {
    background-image: url(../img/area-expert.svg)
}
.spotlight a.agent.locality-expert small::before {
    background-image: url(../img/locality-expert.svg)
}
.spotlight .card.card-thumb img {
    max-height: 120px;
    object-fit: cover;
    -o-object-fit: cover
}
.spotlight img.profile-pic {
    max-width: 100%;
    height: auto
}
#spotlight-agents a.company img {
    max-width: 150px;
    max-height: 50px
}
#spotlight-developers a.company img {
    max-width: 120px;
    max-height: 100px
}
@media (max-width:991px) {
    .spotlight img.profile-pic {
        width: 52px;
        height: 52px;
        -o-object-fit: cover;
        object-fit: cover;
    }
    
    .spotlight .agent h3 {
        position: absolute;
        top: -115px;
        left: 78px;
        font-size: 1rem;
        font-weight: 600;
        width: 100%;
        max-width: 70%
    }
    
    .spotlight .agent small {
        position: absolute;
        top: -95px;
        left: 78px;
        font-size: .8rem;
        padding: 2px 0 3px 26px;
    }
    
    #spotlight-agents a.company img {
        position: absolute;
        top: -64px;
        right: 0
    }
    
    #spotlight-developers a.company img {
        max-width: 90px;
        max-height: 70px
    }
    
    .spotlight .slick-track {
        margin-top: 1rem
    }
}


/*---- SPOTLIGHT ----

.spotlight a.agent, .spotlight a.developer {text-decoration: none;}

@media (min-width:992px) {
  .spotlight a.agent h3 {font-size: 1.1rem;}
  .spotlight a.agent small {position: relative; font-size: 0.8rem;}
}
.spotlight a.agent.deal-maker small, .spotlight a.agent.area-expert small, .spotlight a.agent.locality-expert small {padding-left: 26px;}

.spotlight a.agent.deal-maker small::before, .spotlight a.agent.area-expert small::before, .spotlight a.agent.locality-expert small::before {content: ''; display: block; width: 20px; height: 20px; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); background-position: center center; background-repeat: no-repeat; -webkit-background-size: contain; background-size: contain;}


.spotlight a.agent.deal-maker small::before {
  background-image: url(../img/deal-maker.svg);
}
.spotlight a.agent.area-expert small::before {
  background-image: url(../img/area-expert.svg);
}
.spotlight a.agent.locality-expert small::before {
  background-image: url(../img/locality-expert.svg);
}

.spotlight .card.card-thumb img {
  max-height: 120px;
  object-fit: cover;
  -o-object-fit: cover;
}

.spotlight img.profile-pic {max-width: 100%; height: auto;}

#spotlight-agents a.company img {max-width: 150px; max-height:100px;}
#spotlight-developers a.company img {max-width: 120px; max-height:100px;}

@media (max-width:991px) {
  .spotlight img.profile-pic {width: 52px; height: 52px; padding: 0.15rem; object-fit: cover; background-color: #fff; border: 1px solid #dee2e6; -webkit-border-radius: 50%!important; border-radius: 50%!important;}
  .spotlight .agent h3 {position: absolute; top: -60px; left: 78px; font-size: 1rem; font-weight: 600; width: 100%; max-width: 70%;}
  .spotlight .agent small {position: absolute; top: -45px; left: 78px; font-size: 0.8rem; padding: 5px 0 5px 26px;}
  #spotlight-agents a.company img {position: absolute; top:-64px; right: 0;}
  #spotlight-developers a.company img {max-width: 90px; max-height:70px;}
  // .overlap-img {display: block; float: none; width: 100%; position: absolute; bottom: 0; left: 0;}
  // .overlap-img h3 {font-size: 1rem;}
  .spotlight .slick-track {margin-top:1rem;}
}
*/