/*---- Sticky Call to Action Form Desktop ----*/
.sticky-c2a {position:sticky; top: 120px; max-height:480px; overflow-y: auto; box-shadow: 0 .1rem 0.5rem rgba(0,0,0,.08)!important;}
.sticky-c2a .card-header {padding: .75rem 1rem;}
.sticky-c2a .card-title {position:relative; font-size: 0.85rem; text-shadow:1px 1px 2px rgba(0,0,0,0.4); padding-left: 2.3rem;}
.sticky-c2a .card-title span {text-transform: uppercase; font-weight: 600; letter-spacing: 0.05rem;}
.sticky-c2a .card-title::before {content:'\e90f'; display: block; font-family: "icomoon"; font-size: 1.5rem; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
