/*--- TAG LIST ---*/
ul.tag-list .list-inline-item {position:relative; margin-bottom: 0.6rem; padding: 0.1rem 0.8rem 0.1rem 0; color: #575757;}
// ul.tag-list .list-inline-item:hover {color: #000; background:initial; border-color: #cdd3d9;}

ul.tag-list .list-inline-item:not(:last-child)::after {content: '|'; display: block; position: absolute; right:0; top: 50%; transform: translateY(-50%); color: #cccccc; font-weight: 300;}

// ul.tag-list .list-inline-item:not(:last-child) {margin-right:0.4rem;}