.toast.fixed {
    position:fixed;
    left:20px;
    bottom:0;
    min-width:320px;
    background:#fff;
    z-index:5;
}
.toast:not(.fixed) {
  max-width: none;
  box-shadow: none;
  border-radius: .25rem;
}
.toast-body {
    padding: .5rem;
}
.toast img.user-pic {
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.toast .user {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height:1.4;
}
.toast .user strong {font-weight:600;}

.toast .activity-type {font-size:0.8rem; color:#777;}
.toast .activity-type span {border-bottom:1px dotted #ccc;}

.toast .time {font-size:0.75rem; color:#999999;}

.toast button.close {font-size:1.2rem; position:absolute; right:3px; top:-3px; opacity:0; visibility:hidden; color:#999;}
.toast:hover button.close {opacity:1; visibility:visible;}
.toast button.close:hover {color:#000; opacity:1;}

@media (max-width:420px) {
  .toast.fixed {position:fixed; left:0; right:0; margin:0 auto; bottom:0; width:100%; border-radius: 0; border:none; box-shadow: 0 -0.25rem 0.75rem rgba(0,0,0,.1);}
  .toast.fixed:not(:last-child) {margin-bottom: 0;}
  .toast button.close {opacity:1; visibility:visible;}
}
